@import "../core/_core.scss";
.program-table {
  &__title {
    margin-bottom: 20px;
  }
  &__table {
    margin-right: -25px;
    border: 1px solid $table-border;
    @include georgia-regular;
    font-size: 1rem;
    line-height: 2.2;
    color: $blue-gray;
  }
  &__td {
    padding-left: 1rem;
    padding-right: 1rem;
    border: 1px solid $table-border;
  }
}