@import "../core/_core.scss";
.footer-wrapper {
  border-top: 4px solid $red;
}

.footer {
  padding-top: 18px;
  text-align: center;
  @media (min-width: 640px) {
    padding: 380px 39px 39px;
    text-align: left;
    @include clearfix;
  }
  @media (min-width: 1024px) {
    padding: 40px 0 380px;
  }
  &__logo {
    @media (min-width: 640px) {
      margin-right: 122px;
      float: left;
      top: 0;
    }
    @media (min-width: 1024px) {
      margin-right: 137px;
    }
  }
  &__menu {
    margin-top: 14px;
    @media (min-width: 640px) {
      margin-top: 0;
      float: left;
      top: 0;
    }
  }
  &__designed {
    @media (min-width: 640px) {
      text-align: right;
      float: right;
      margin-top: -6px;
      margin-right: -2px;
    }
  }
  &__span {
    @include montserrat-bold;
    font-size: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $gray-border;
  }
  &__link {
    display: block;
    margin: 6px auto 0;
    &:hover {
      @include transition;
      filter: saturate(1.5);
    }
  }
}