.address {
  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media (min-width: 992px) {
      flex-direction: row;
      justify-content: flex-end;
    }
  }
  &__item {
    @media (min-width: 992px) {
      display: flex;
      align-items: center;
      &:after {
        display: block;
        width: 2px;
        height: 15px;
        margin-left: 14px;
        margin-right: 14px;
        background-color: $address-line;
        content: '';
      }
      &:last-of-type {
        &:after {
          background-color: $footer;
          width: 0;
          margin-left: 0;
          margin-right: 0;
        }
      }
    }
  }
  &__link {
    color: $text;
  }
}