@import "../core/_core.scss";
.blue-button {
  padding: 19px 10px;
  border-radius: 6px;
  font-family: 'Open Sans Semibold', Arial, sans-serif;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  letter-spacing: -.7px;
  background-color: $blue-button;
  color: $white;
  &:hover {
    @include transition;
    background-color: $blue-button-hover;
  }
  @media (min-width: 768px) {
    padding-left: 37px;
    padding-right: 27px;
    font-size: 20px;
  }
}