.hire-me {
  color: $gray-text;

  @include el('text') {
    text-align: center;
  }
}

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 32px;

  @media (min-width: 640px) {
    flex-direction: row;
  }

  @include el('item') {
    margin-bottom: 32px;
    text-align: center;

    @media (min-width: 640px) {
      margin-right: 80px;
      text-align: left;

      &:last-of-type {
        margin-right: 0;
      }
    }
  }

  @include el('title') {
    @include font(600);
    line-height: 1.5;
    text-align: center;
    color: $dark-accent;

    @media (min-width: 640px) {
      text-align: left;
    }
  }
}