.promo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  text-transform: uppercase;
  color: $white;
  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 24px;
    @media (min-width: 640px) {
      flex-direction: row;
    }
  }
  &__list-item {
    display: flex;
    align-items: center;
    @include font(600);
    font-size: 20px;
    line-height: 1.4;
    @media (min-width: 640px) {
      text-align: center;
      &::after {
        display: inline-block;
        width: 2px;
        height: 20px;
        content: '';
        background-color: $white;
        margin-left: 6px;
        margin-right: 6px;
      }
      &:last-of-type {
        &::after {
          background-color: transparent;
        }
      }
    }
  }
  &__link {
    display: block;
    margin: 32px auto 0;
    padding: 11px 18px;
    background-color: $light-accent;
    border-radius: 3px;
    @include font(400);
    font-size: 16px;
    vertical-align: middle;
    color: $white;
    &:hover {
      @include transition;
      background-color: $ligth-accent-hover;
    }
  }
}