@import "../core/_core.scss";
.about {
  color: $white;
  text-align: center;
 
  &__link {
    color: $light-accent;
    &:hover {
      @include transition;
      color: $ligth-accent-hover;
    }
  }
}