@import "../core/_core.scss";
.hire-me {
  color: $gray-text;
  &__text {
    text-align: center;
    &_left {
     
    }
  }
}

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 32px;
  @media (min-width: 640px) {
    flex-direction: row;
  }
  &__item {
    
    margin-bottom: 32px;
     text-align: center;
    
    @media (min-width: 640px) {
      margin-right: 80px;
      text-align: left;
      &:last-of-type {
        margin-right: 0;
      }
    }
  }
  &__title {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
    font-weight: 600;
    font-style: normal;
    line-height: 1.5;
    text-align: center;
    color: $dark-accent;
    @media (min-width: 640px) {
      text-align: left;
    }
  }
}