@import "../core/_core.scss";
.input {
  box-sizing: border-box;
  width: 17.5rem;
  height: 2.5rem;
  border: .063rem solid $gray-border;
  border-radius: .25rem;
  outline-width: 0;
  padding-left: 1rem;
  line-height: 38;
  vertical-align: middle;
  color: $input;
  @media (min-width: 40rem) {
    width: 15rem;
  }
}

::-webkit-input-placeholder {
  @include roboto;
  font-size: .875rem;
  color: $input;
}

::-moz-placeholder {
  @include roboto;
  font-size: .875rem;
  color: $input;
}

:-moz-placeholder {
  @include roboto;
  font-size: .875rem;
  color: $input;
}

:-ms-input-placeholder {
  @include roboto;
  font-size: .875rem;
  color: $input;
}

.button {
  width: 17.5rem;
  height: 2.5rem;
  border-width: 0;
  border-radius: 1.25rem;
  outline-width: 0;
  background-color: $red;
  @include montserrat-bold;
  font-size: .875rem;
  text-align: center;
  color: $white;
  &:hover {
    @include transition;
    background-color: $red-hover;
  }
  @media (min-width: 40rem) {
    width: 10rem;
  }
}