@import "../core/_core.scss";
.header {
  width: 72.5rem;
  margin: 0 auto;
  padding-bottom: 2.5rem;
}

.social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.25rem 0;
  &__list {
    @include list;
  }
  &__item {
    display: inline-block;
    margin-right: 1.063rem;
    &:last-of-type {
      margin-right: 0;
    }
  }

  &__link {
    display: block;
    width: 1rem;
    height: 1rem;
  }
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $services-background;
  &__list {
    @include list;
  }
  &__item {
    display: inline-block;
    height: 3.5rem;
  }
  &__form {
    margin-right: .5rem;
  }
}

.menu-link {
  display: block;
  padding: 0 2.5rem;
  border-left: .063rem solid $border;
  border-right: .063rem solid $border;
  @include ubuntu-condensed;
  font-size: .875rem;
  line-height: 3.5rem;
  letter-spacing: normal;
  color: $white;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  &:hover {
    color: $yellow;
  }
  &__active {
    border-left-color: $blue;
    border-right-color: $blue;
    background-color: $blue;
  }
}

.search-form {
  width: 15.063rem;
  border: .063rem solid $border;
  &__list {
    @include list;
  }
  &__item {
    display: inline-block;
    vertical-align: top;
  }
}

input[type="text"] {
  width: 13.313rem;
  height: 2.375rem;
  padding-left: .875rem;
  border-width: 0;
  outline-width: 0;
  background-color: $footer-background;
  color: $input;
  color: $input-transparent;
  font-family: Arial, sans-serif;
  font-size: .75rem;
  line-height: 1.667;
}

::-webkit-input-placeholder {
  font-family: Arial, sans-serif;
  color: $input;
  color: $input-transparent;
  font-size: .75rem;
  line-height: 1.667;
}

::-moz-placeholder {
  font-family: Arial, sans-serif;
  color: $input;
  color: $input-transparent;
  font-size: .75rem;
  line-height: 1.667;
}

:-moz-placeholder {
  font-family: Arial, sans-serif;
  color: $input;
  color: $input-transparent;
  font-size: .75rem;
  line-height: 1.667;
}

:-ms-input-placeholder {
  font-family: Arial, sans-serif;
  color: $input;
  color: $input-transparent;
  font-size: .75rem;
  line-height: 1.667;
}

input[type="submit"] {
  width: 1.625rem;
  height: 2.375rem;
  border-width: 0;
  outline-width: 0;
  background-color: $footer-background;
  color: transparent;
  background-image: url('../i/search.svg');
  background-repeat: no-repeat;
  background-position: center left;
  cursor: pointer;
}