@import "../core/_core.scss";

.header {
  @include reset;
  @include container;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 36px;
  padding-bottom: 40px;
  outline: 1px solid;
}

.social {
  @include list;
  @include reset;
  &__item {
    @include reset;
    margin-left: 18px;
  }

  &__link {
    display: block;
    width: 16px;
    height: 16px;
  }
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $services-background;
  &__list {
    @include list;
  }
  &__item {
    display: inline-block;
    height: 56px;
  }
  &__form {
    margin-right: 8px;
  }
}

.menu-link {
  display: block;
  padding: 0 40px;
  border-left: 1px solid $border;
  border-right: 1px solid $border;
  @include ubuntu-condensed;
  font-size: 14px;
  line-height: 56px;
  letter-spacing: normal;
  color: $white;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  &:hover {
    color: $yellow;
  }
  &__active {
    border-left-color: $blue;
    border-right-color: $blue;
    background-color: $blue;
  }
}

.search-form {
  width: 240px;
  border: 1px solid $border;
  &__list {
    @include list;
  }
  &__item {
    display: inline-block;
    vertical-align: top;
  }
}

input[type="text"] {
  width: 213px;
  height: 38px;
  padding-left: 14px;
  border-width: 0;
  outline-width: 0;
  background-color: $footer-background;
  color: $input;
  color: $input-transparent;
  font-family: Arial, sans-serif;
  font-size: 12px;
  line-height: 1.667;
}

::-webkit-input-placeholder {
  font-family: Arial, sans-serif;
  color: $input;
  color: $input-transparent;
  font-size: 12px;
  line-height: 1.667;
}

::-moz-placeholder {
  font-family: Arial, sans-serif;
  color: $input;
  color: $input-transparent;
  font-size: 12px;
  line-height: 1.667;
}

:-moz-placeholder {
  font-family: Arial, sans-serif;
  color: $input;
  color: $input-transparent;
  font-size: 12px;
  line-height: 1.667;
}

:-ms-input-placeholder {
  font-family: Arial, sans-serif;
  color: $input;
  color: $input-transparent;
  font-size:12px;
  line-height: 1.7;
}

input[type="submit"] {
  width: 26px;
  height: 38px;
  border-width: 0;
  outline-width: 0;
  background-color: $footer-background;
  color: transparent;
  background-image: url('../i/search.svg');
  background-repeat: no-repeat;
  background-position: center left;
  cursor: pointer;
}