@import "../core/_core.scss";

.header {
  @include reset;
  @include container;
  @include flex-between-center;
  padding-top: 36px;
  padding-bottom: 36px;
}

.social {
  @include list;
  @include reset;

  @include el('item') {
    @include reset;
    margin-left: 18px;
  }

  @include el('link') {
    display: block;
    width: 16px;
    height: 16px;
  }
}