@import "../core/_core.scss";
.links {
  display: flex;
  justify-content: space-between;
  width: 1160px;
  margin: 0 auto;
  padding-top:60px;
  padding-bottom: 75px;
  &__item {
    width: 25%;
    padding-right: 30px;
    @include ubuntu-medium;
    font-size: 16px;
    line-height: 1.5;
    color: $white;
    text-transform: uppercase;
  }
  &__sublist {
    margin-top: 45px;
    text-transform: none;
  }
  &__subitem {
    border-bottom:1px solid $links-border;
    &:last-of-type {
      border-bottom-color: transparent;
    }
  }
  &__link {
    font-family: Arial, sans-serif;
    font-size:13px;
    line-height: 2.769;
    color: $white-transparent;
    &:hover {
      color: $blue;
    }
  }
}