@import "../core/_core.scss";

.slider {
  width: 1160px;
  height: 470px;
  margin: 0 auto;
  background-color: $blue;
  @include retina('../images/photo.jpg', 2, 1160px 470px, top center no-repeat);

  @include el('paragraph') {
    color: $white;
    &:first-of-type {
      color: $slider-yellow;
    }
  }

  @include el('text') {
    padding: 0 28px;
    background-color: $mark;
    background-color: $mark-transparent;
    @include ubuntu-medium;
    font-size: 54px;
    line-height: 1.28;
    text-transform: uppercase;
  }
}