@import "../core/_core.scss";

.slider {
  width: 72.5rem;
  height: 29.375rem;
  margin: 0 auto;
  background-color: $blue;
  @include retina('../images/photo.jpg', 2, 72.5rem 29.375rem, top center no-repeat);
  &__paragraph {
    color: $white;
    &:first-of-type {
      color: $slider-yellow;
    }
  }
  &__text {
    padding: 0 1.75rem;
    background-color: $mark;
    background-color: $mark-transparent;
    @include ubuntu-medium;
    font-size: 3.375rem;
    line-height: 1.28;
    text-transform: uppercase;
  }
}