html {
  overflow-x: hidden;
}

a {
  border-width: 0;
  text-decoration: none;
}

h1 {
  @include raleway-bold;
  font-size: 42px;
  text-transform: capitalize;
}

h2 {
  @include raleway-bold;
  font-size: 28px;
  line-height: 1.32;
  text-transform: uppercase;
}

button {
  border-radius: 3px;
  @include opensans-semibold;
  font-size: 20px;
  text-transform: capitalize;
}

iframe {
  background-color: $iframe-background;
}

blockquote {
  position: relative;
  display: block;
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 65px;
  @include opensans-regular;
  font-size: 18px;
  line-height: 2;
  text-align: left;

  @media (min-width: 480px) {
    text-align: justify;
    text-align-last: center;
  }
}

blockquote:before {
  position: absolute;
  top: 30px;
  left: 0;
  font-family: Georgia, serif;
  font-size: 150px;
  line-height: .24;
  color: $quotes;
  content: '\201c';
}

blockquote:after {
  position: absolute;
  right: 0;
  bottom: -30px;
  font-family: Georgia, serif;
  font-size: 150px;
  line-height: .24;
  color: $quotes;
  content: '\201d';
}

form {
  @media (min-width: 640px) {
    width: 570px;
    margin: 0 auto;
  }
}

@include placeholder {
  color: $placeholder;
  text-transform: capitalize;
}

input,
textarea {
  border-width: 0;
}

input[type="text"],
input[type="email"] {
  width: 100%;
  height: 44px;
  padding-left: 20px;
  line-height: 44px;
  vertical-align: middle;
  @media (min-width: 640px) {
    width: 270px;
  }
}

input[type="text"],
input[type="email"],
textarea {
  background-color: $white;
  border-radius: 3px;
  @include opensans-regular;
  font-size: 16px;
  color: $input;
}

textarea {
  width: 100%;
  height: 120px;
  padding: 20px;
}

input[type="submit"] {
  width: 170px;
  height: 50px;
  border-radius: 3px;
  background-color: $video-background;
  @include opensans-regular;
  font-size: 22px;
  line-height: 50px;
  vertical-align: middle;
  text-transform: uppercase;
  color: $white;
}