@mixin clearfix {
  &::after {
    clear: both;
    content: '.';
    display: block;
    height: 0;
    visibility: hidden;
  }
}

@mixin raleway-regular {
  font-family: 'Raleway', Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}

@mixin raleway-bold {
  font-family: 'Raleway', Arial, sans-serif;
  font-weight: 800;
  font-style: normal;
}

@mixin raleway-semibold {
  font-family: 'Raleway', Arial, sans-serif;
  font-weight: 600;
  font-style: normal;
}

@mixin opensans-regular {
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}

@mixin opensans-bold {
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 800;
  font-style: normal;
}

@mixin opensans-semibold {
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 600;
  font-style: normal;
}

@mixin helvetica {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-weight: bold;
  font-style: italic;
}

@mixin transition {
  -moz-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}
}

// BEM
@mixin el($element) {
  &__#{$element} {
    @content;
  }
}

@mixin mod($modifier) {
  &_#{$modifier} {
    @content;
  }
}