$iframe-background: #ccc;
$quotes: #efefef;
$logo-color: #1ab798;
$logo-color-hover: #007b63;
$white: #fff;
$black: #000;
$transparent-black: rgba(0, 0, 0, .3);
$nav-link: #282528;
$nav-link-hover: #4c474c;
$header-background: #373d3f;
$button: #3cd8b9;
$button-hover: #17d0ac;
$gray-text: #282528;
$gray-title: #222;
$green-icon-backrground: #68e2ca;
$video-background: #31d4e7;
$alternative-gray: #979ca1;
$team-text: #062033;
$team-text-hover: #0eb493;
$aqua-background: rgb(45, 189, 162);
$aqua-background-transparent: rgba(45, 189, 162, .85);
$system: #0098cd;
$system-hover: #222;
$facebook:#3b5997;
$facebook-hover: #142f6a;
$twitter: #3ec2f3;
$twitter-hover: #05a4e0;
$google: #e44c41;
$google-hover: #9f150a;
$footer-background: #1f1f1f;
$footer-border: #6b6b6b;
$footer-gray: #ababab;
$contact-data: #bface2;
$placeholder: #c1c1c1;
$input: #676666;
$pointer: #d4d3d4;
$company: #646464;
$submit-hover: #02a9c1;
$footer-hover: #cfcece;