@import "../core/_core.scss";
.logo {
  @include montserrat-bold;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 1px;
      &:hover {
      @include transition;
      color: $red-hover;
    }
  &__header {
    font-size: 20px;
    color: $white;
  }
  &__footer {
    font-size: 1rem;
    color: $red;
  }
}