@import "../core/_core.scss";
.logo {
  @include montserrat-bold;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: .063rem;
  &__header {
    font-size: 1.25rem;
    color: $white;
    &:hover {
      @include transition;
      color: $gray-border;
    }
  }
  &__footer {
    font-size: 1rem;
    color: $red;
    &:hover {
      @include transition;
      color: $red-hover;
    }
  }
}