@import "../core/_core.scss";
.nav {
  display: flex;
  flex-direction: column;
  @media (min-width: 40rem) {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
  &__list {
    display: flex;
    justify-content: center;
    margin: 0  auto;
    @media (min-width: 40rem) {
      margin-right: 50px;}
  }
  &__link {
    display: block;
    padding: 9px 16px;
    @include montserrat-bold;
    font-size: .875rem;
    line-height: 1;
    color: $white;
    border: .125rem solid transparent;
    border-radius: 23px;
    &:hover {
      @include transition;
      border: .125rem solid $white;
    }
  }
}

.footer-nav {
  &__list {
    @include montserrat-bold;
    font-size: .875rem;
    text-transform: capitalize;
  }
  &__sublist {
    display: flex;
    justify-content: center;
    @include roboto;
  }
  &__item {
    margin-bottom: 16px;
    &:last-of-type {
      margin-bottom: 13px;
    }
  }
  &__subitem {
    margin-top: 7px;
    margin-right: 13px;
    &:last-of-type {
      margin-right: 0;
    }
  }
  &__link {
    color: $dark-gray;
    &:hover {
      @include transition;
      color: $dark-gray-hover;
    }
  }
  &__sublink {
    color: $light-gray;
    &:hover {
      @include transition;
      color: $light-gray-hover;
    }
  }
}