@import "../core/_core.scss";
.grid {
}

.grid-sizer,
.grid-item {
  width: 100%;
  @media (min-width: 40rem) {
    width: 16.5%;
  }
}

.grid-item {
  border-top: .313rem solid $white;
  border-bottom: .313rem solid $white;
  border-right: .625rem solid $white;
  border-left: .625rem solid $white;
  border-radius: 1rem;
  @media (min-width: 40rem) {
    margin: 0;
    height: 10rem;
    border-width: .625rem;
  }
}

.grid-item--width2 {
  @media (min-width: 40rem) {
    width: 33%;
  }
}

.grid-item--height2 {
  height: 8rem;
  @media (min-width: 40rem) {
    height: 20rem;
  }
}