//@mixin clearfix {
//&:after {
//clear: both;
//content: '.';
//display: block;
//height: 0;
//visibility: hidden;
//}
//}
//@mixin list {
//  font-size: 0;
//  line-height: 0;
//  letter-spacing: -1px;
//}
@mixin transition {
  -moz-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

@mixin roboto-black {
  font-family: 'Roboto Black', Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
}

@mixin minion {
  font-family: 'MinionPro Regular', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
}

@mixin georgia-regular {
  font-family: Georgia, Times, 'Times New Roman', serif;
  font-style: normal;
  font-weight: 400;
}

@mixin georgia-bold {
  font-family: Georgia, Times, 'Times New Roman', serif;
  font-style: normal;
  font-weight: bold;
}