$header-background: #151414;
$white: #fff;
$black: #000;
$yellow: #eab96a;
$circle: #c1bfbd;
$light-background: #ececec;
$blue-gray: #485260;
$gray: #adadad;
$gray-border: #d6d6d6;
$light-gray: #dddddd;
$dark-gray: #2b2b2b;