$header-background: #151414;
$white: #fff;
$black: #000;
$black-transparent: rgba(0, 0, 0, .2);
$yellow: #eab96a;
$circle: #c1bfbd;
$light-background: #ececec;
$blue-gray: #485260;
$gray: #adadad;
$gray-border: #d6d6d6;
$light-gray: #dddddd;
$dark-gray: #2b2b2b;
$light-border: #939393;
$table-border: #7e7e7e;
$gallery: #222120;
$footer: #12161a;
$school-table: #8f8f91;
$school-td: #959391;
$table-background: rgba(0, 0, 0, .38);
$form-line: #6f6f6f;
$partners: rgba(0, 0, 0, .05);
$gray-line: #787878;