$light-grey: rgb( 51, 51, 51);
$light-grey-transparent: rgba( 51, 51, 51, .5);
$menu-line: #ededed;
$white: #fff;
$white-transparent: rgba(255, 255, 255, .3);
$active: #333;
$logo-hover: #030202;
$active-border: #1c82d8;
$special: #fc411d;
$bag-amount: #1f86da;
$subscribe-background: #62b0e3;
$border-blue: #97c9ea;
