@import "../core/_core.scss";
.discover {
  padding-top: 19px;
  padding-bottom: 5px;
  text-align: center;
  @media (min-width: 40rem) {
    padding-top: 77px;
    padding-bottom: 42px;
  }
  @media (min-width: 64rem) {
    padding-bottom: 52px;
  }
  &__title {
    line-height: 1.2;
    padding-bottom: 15px;
    @media (min-width: 40rem) {
      margin-bottom: 19px;
    }
    @media (min-width: 64rem) {
      margin-bottom: 35px;
    }
  }
}

.search {
  padding-top: 18px;
  padding-bottom: 40px;
  text-align: center;
  @media (min-width: 40rem) {
    padding-top: 42px;
    padding-bottom: 100px;
  }
  &__title {
    line-height: 1.2;
    margin-bottom: 12px;
    @media (min-width: 40rem) {
      margin-bottom: 32px;
    }
  }
  &__text {
    margin-bottom: 17px;
    @include roboto;
    font-size: 18px;
    @media (min-width: 40rem) {
      margin-bottom: 40px;
    }
  }
  &__list {
    @media (min-width: 40rem) {
      display: inline-flex;
    }
  }
  &__item {
    margin-bottom: 10px;
    &:last-of-type {
      margin-bottom: 0;
    }
    @media (min-width: 40rem) {
      margin: 0 5px;
    }
  }
}