@import "../core/_core.scss";
.footer {
  border-top: .25rem solid $red;
  padding-top: 18px;
  text-align: center;
  &__menu {
    margin-top: 14px;
  }
  &__span {
    @include montserrat-bold;
    font-size: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $gray-border;
  }
  &__link {
    display: block;
    margin: 6px auto 0;
  }
}