@import "../core/_core.scss";
.how {
  padding-top: 2.313rem;
  @media (min-width: 40rem) {
    padding-top: 6.125rem;
    padding-bottom: 3.125rem;
  }
  @media (min-width: 64rem) {
    padding-bottom: -2.938rem;
  }
  &__title {
    margin-bottom: .875rem;
    letter-spacing: .022rem;
    text-align: center;
    @media (min-width: 40rem) {
      margin-bottom: 2.063rem;
    }
  }
  &__sliders {
    @media (min-width: 40rem) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 0 .313rem;
    }
  }
  &__container {
    position: relative;
    @media (min-width: 40rem) {
      flex: 0 1 32%;
    }
    @media (min-width: 64rem) {
      &:first-of-type {
        margin-left: 0;
      }
      &:last-of-type {
        margin-right: 0;
      }
    }
  }
  &__step {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.step {
  padding: 4.313rem 1.25rem 0;
  color: $white;
  @media (min-width: 40rem) {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    bottom: 1rem;
  }
  &__number {
    display: block;
    width: 4.375rem;
    height: 1.25rem;
    margin-bottom: 1.063rem;
    background-color: $red;
    border-radius: 1.25rem;
    @include montserrat-regular;
    font-size: .625rem;
    line-height: 1.25rem;
    letter-spacing: .125rem;
    vertical-align: middle;
    text-align: center;
    text-transform: uppercase;
  }
  &__title {
    margin-bottom: .75rem;
    font-size: 1.5rem;
    line-height: 1.2;
  }
  &__text {
    @include roboto;
    font-size: .875rem;
    line-height: 1.25;
    color: $gray-border;
  }
}