@import "../core/_core.scss";
.meet {
  padding-bottom: 19px;
  text-align: center;
  @media (min-width: 40rem) {
    padding-top: 47px;
  }
  &__title {
    width: 90%;
    margin: 0 auto 15px;
    line-height: 1.1;
    letter-spacing: .2px;
    word-spacing: 0;
    @media (min-width: 40rem) {
      margin-bottom: 33px;
    }
  }
  &__list {
    @media (min-width: 40rem) {
      display: flex;
      flex-flow: row wrap;
      width: 66%;
      margin: 0 auto;
    }
  }
  &__item {
    @media (min-width: 40rem) {
      flex: 0 0 50%;
      &:nth-of-type(1) {
        order: -2;
        margin-bottom: 27px;
      }
      &:nth-of-type(3) {
        order: -1;
        margin-bottom: 27px;
      }
    }
  }
  &__link {
    display: block;
    width: 280px;
    height: 40px;
    margin: 0 auto;
    border: .125rem solid $red;
    border-radius: 20px;
    @include montserrat-bold;
    font-size: .875rem;
    line-height: 36px;
    word-spacing: 1.5px;
    color: $red;
    text-align: center;
    vertical-align: middle;
    &:hover {
      @include transition;
      background-color: $red;
      color: $white;
    }
    @media (min-width: 40rem) {
      width: 192px;
      margin-top: 7px;
    }
  }
}

.user {
  margin: 0 auto;
  @media (min-width: 40rem) {
    margin: 0;
    padding: 0 10px;
  }
  &__avatar {
    position: relative;
    width: 122px;
    height: 122px;
    margin: 0 auto;
  }
  &__photo {
    border-radius: 50%;
  }
  &__icon {
    position: absolute;
    bottom: -3px;
    right: -2px;
  }
  &__title {
    margin-top: 19px;
    margin-bottom: 16px;
    font-size: .875rem;
    word-spacing: 1.5px;
    color: $dark-gray;
  }
  &__text {
    width: 68%;
    margin: 0 auto 29px;
    font-size: .875rem;
    line-height: 1.2;
    color: $light-gray;
    @media (min-width: 40rem) {
      width: 94%;
    }
  }
}