@import "../core/_core.scss";
.meet {
  padding-bottom: 1.188rem;
  text-align: center;
  @media (min-width: 40rem) {
    padding-top: 2.938rem;
  }
  @media (min-width: 64rem) {
    padding-top: 2.813rem;
    padding-bottom: 1.25rem;
  }
  &__title {
    width: 90%;
    margin: 0 auto .938rem;
    line-height: 1.1;
    letter-spacing: .013rem;
    word-spacing: 0;
    @media (min-width: 40rem) {
      margin-bottom: 2.063rem;
    }
    @media (min-width: 64rem) {
      margin-bottom: 1.938rem;
    }
  }
  &__list {
    @media (min-width: 40rem) {
      display: flex;
      flex-flow: row wrap;
      width: 66%;
      margin: 0 auto;
    }
    @media (min-width: 64rem) {
      flex-wrap: nowrap;
      width: 100%;
    }
  }
  &__item {
    @media (min-width: 40rem) {
      flex: 0 1 50%;
      &:nth-of-type(1) {
        order: -2;
        margin-bottom: 1.688rem;
      }
      &:nth-of-type(3) {
        order: -1;
        margin-bottom: 1.688rem;
      }
    }
  }
  &__link {
    display: block;
    width: 17.5rem;
    height: 2.5rem;
    margin: 0 auto;
    border: .125rem solid $red;
    border-radius: 1.25rem;
    @include montserrat-bold;
    font-size: .875rem;
    line-height: 2.25rem;
    word-spacing: .094rem;
    color: $red;
    text-align: center;
    vertical-align: middle;
    &:hover {
      @include transition;
      background-color: $red;
      color: $white;
    }
    @media (min-width: 40rem) {
      width: 12rem;
      margin-top: .438rem;
    }
  }
}

.user {
  margin: 0 auto;
  @media (min-width: 40rem) {
    margin: 0;
    padding: 0 .625rem;
  }
  &__avatar {
    position: relative;
    width: 7.625rem;
    height: 7.625rem;
    margin: 0 auto;
  }
  &__photo {
    border-radius: 50%;
  }
  &__icon {
    position: absolute;
    bottom: -.188rem;
    right: -.125rem;
  }
  &__title {
    margin-top: 1.188rem;
    margin-bottom: 1rem;
    font-size: .875rem;
    word-spacing: .094rem;
    color: $dark-gray;
  }
  &__text {
    width: 68%;
    margin: 0 auto 1.813rem;
    font-size: .875rem;
    line-height: 1.2;
    color: $light-gray;
    @media (min-width: 40rem) {
      width: 94%;
    }
    @media (min-width: 64rem) {
      margin-bottom: 2rem;
    }
  }
}