<!-- Features -->
<div class="features" id="features">
  <div class="features__item">
    <article class="features-article">
      <span class="features-article__number">01</span>
      <div class="features-article__content">
        <img src="./i/features/settings.svg" class=" icon icon-features" alt="">
        <h2 class="features-article__title">power inside</h2>
        <p class="features-article__text">Cum sociis natoque penatibus et magnis dis parturient montesmus. Pro vel nibh et elit mollis commodo et nec augueique</p>
        <a href="#" class="features-article__link">
          Read more
          <img src="./i/features/arrow.svg" class="icon icon-arrow" alt="">
        </a>
      </div>
    </article>
  </div>

  <div class="features__item">
    <article class="features-article">
      <span class="features-article__number">02</span>
      <div class="features-article__content">
        <img src="./i/features/params.svg" class="icon icon-features" alt="">
        <h2 class="features-article__title">new technologies</h2>
        <p class="features-article__text">Cum sociis natoque penatibus et magnis dis parturient montesmus. Pro vel nibh et elit mollis commodo et nec augueique</p>
        <a href="#" class="features-article__link">
          Read more
          <img src="./i/features/arrow.svg" class="icon icon-arrow" alt="">
        </a>
      </div>
    </article>
  </div>

  <div class="features__item">
    <article class="features-article">
      <span class="features-article__number">03</span>
      <div class="features-article__content">
        <img src="./i/features/truck.svg" class="icon icon-features" alt="">
        <h2 class="features-article__title">fast support</h2>
        <p class="features-article__text">Cum sociis natoque penatibus et magnis dis parturient montesmus. Pro vel nibh et elit mollis commodo et nec augueique</p>
        <a href="#" class="features-article__link">
          Read more
          <img src="./i/features/arrow.svg" class="icon icon-arrow" alt="">
        </a>
      </div>
    </article>
  </div>
</div>
<!-- End of Features -->
