<!-- Header -->
<header class="header" id="home">
  <div class="social">
    <div class="logo">
      <a href="#">
        <img src="images/logo.png" alt="logo" data-rjs="2">
      </a>
      <div class="logo__text">
        <h1 class="logo__title"><a href="#" class="logo__link">Build Home</a></h1>
        <p class="logo__subtitle">
          <a href="#" class="logo__link">Industrial Theme</a>
        </p>
      </div>
    </div>

    <ul class="social__list">
      <li class="social__item">
        <a href="#">
          <svg class="icon icon-social">
            <use xlink:href="./i/sprite_header.svg#facebook"></use>
          </svg>
        </a>
      </li>
      <li class="social__item">
        <a href="#">
          <svg class="icon icon-social">
            <use xlink:href="./i/sprite_header.svg#twitter"></use>
          </svg>
        </a>
      </li>
      <li class="social__item">
        <a href="#">
          <svg class="icon icon-social">
            <use xlink:href="./i/sprite_header.svg#rss"></use>
          </svg>
        </a>
      </li>
      <li class="social__item">
        <a href="#">
          <svg class="icon icon-social">
            <use xlink:href="./i/sprite_header.svg#linkedin"></use>
          </svg>
        </a>
      </li>
      <li class="social__item">
        <a href="#">
          <svg class="icon icon-social">
            <use xlink:href="./i/sprite_header.svg#skype"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>

  <nav class="header-nav">
    <ul class="header-nav__list">
      <li class="header-nav__item">
        <a href="#home" class="menu-link menu-link__active">home</a>
      </li>
      <li class="header-nav__item">
        <a href="#features" class="menu-link">features</a>
      </li>
      <li class="header-nav__item">
        <a href="#services" class="menu-link">services</a>
      </li>
      <li class="header-nav__item">
        <a href="#news" class="menu-link">news</a>
      </li>
      <li class="header-nav__item">
        <a href="#" class="menu-link">shop</a>
      </li>
    </ul>

    <form action="#" class="search-form header-nav__form">
      <ul class="search-form__list">
        <li class="search-form__item">
          <input type="text" placeholder="Search...">
        </li>
        <li class="search-form__item">
          <input type="submit" value="Send">
        </li>
      </ul>
    </form>
  </nav>
</header>
<!-- End of Header -->