<!-- Header -->
<header class="header container" id="home">
  <a href="#" class="logo">
    <h1 class="logo__title">Build Home</h1>
    <p class="logo__subtitle">Industrial Theme</p>
  </a>

  <ul class="social">
    <li class="social__item">
      <a href="#" class="social__link hovered-icon">
        <img src="./i/header/def/facebook.svg" class="hovered-icon__def" alt="F">
        <img src="./i/header/hover/facebook.svg" class="hovered-icon__hov" alt="F">
      </a>
    </li>
    <li class="social__item">
      <a href="#" class="social__link hovered-icon">
        <img src="./i/header/def/twitter.svg" class="hovered-icon__def" alt="T">
        <img src="./i/header/hover/twitter.svg" class="hovered-icon__hov" alt="T">
      </a>
    </li>
    <li class="social__item">
      <a href="#" class="social__link hovered-icon">
        <img src="./i/header/def/rss.svg" class="hovered-icon__def" alt="rss">
        <img src="./i/header/hover/rss.svg" class="hovered-icon__hov" alt="rss">
      </a>
    </li>
    <li class="social__item">
      <a href="#" class="social__link hovered-icon">
        <img src="./i/header/def/linkedin.svg" class="hovered-icon__def" alt="L">
        <img src="./i/header/hover/linkedin.svg" class="hovered-icon__hov" alt="L">
      </a>
    </li>
    <li class="social__item">
      <a href="#" class="social__link hovered-icon">
        <img src="./i/header/def/skype.svg" class="hovered-icon__def" alt="Skype">
        <img src="./i/header/hover/skype.svg" class="hovered-icon__hov" alt="Skype">
      </a>
    </li>
  </ul>
</header>
<!-- End of Header -->