<!-- Navigation -->

<nav class="nav">
  <ul class="nav__list">
    <li class="nav__item">
      <a href="#home" class="menu-link menu-link__active">home</a>
    </li>
    <li class="nav__item">
      <a href="#features" class="menu-link">features</a>
    </li>
    <li class="nav__item">
      <a href="#services" class="menu-link">services</a>
    </li>
    <li class="nav__item">
      <a href="#news" class="menu-link">news</a>
    </li>
    <li class="nav__item">
      <a href="#" class="menu-link">shop</a>
    </li>
  </ul>

  <form action="#" class="search-form nav__form">
    <ul class="search-form__list">
      <li class="search-form__item">
        <input type="text" class="search-form__input search-form__input_text" placeholder="Search...">
      </li>
      <li class="search-form__item">
        <input type="submit" class="search-form__input search-form__input_submit" value="Send">
      </li>
    </ul>
  </form>
</nav>

<!-- End of Navigation -->