<div class="slider">
  <div id="carousel-example-generic" class="carousel" data-ride="carousel">

    <!-- Carousel Content -->
    <div class="carousel-inner">
      <div class="item active">
        <div class="carousel-caption">
          <p class="slider__text">
            <mark>build</mark>
            <br>
            <mark>your</mark>
            <br>
            <mark>business</mark>
          </p>
        </div>
      </div>
      <div class="item">
        <div class="carousel-caption">
          <p class="slider__text">
            <mark>Lorem</mark>
            <br>
            <mark>ipsum</mark>
            <br>
            <mark>dolor</mark>
          </p>
        </div>
      </div>
      <div class="item">
        <div class="carousel-caption">
          <p class="slider__text">
            <mark>sit</mark>
            <br>
            <mark>amet</mark>
            <br>
            <mark>consectetur</mark>
          </p>
        </div>
      </div>
    </div>

    <!-- Pointers -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>
  </div>
</div>