@import "../core/_core.scss";
.school {
  padding-top: 150px;
  padding-bottom: 53px;
  color: $white;
  &__title {
    width: 60%;
    margin: 0 auto;
    line-height: 1.17;
    text-align: center;
  }
  &__text {
    padding-top: 50px;
    padding-bottom: 65px;
    line-height: 1.656;
    text-align: justify;
    &_left {
      padding-right: 15px;
    }
    &_right {
      padding-left: 15px;
    }
  }
}

.school-table {
  width: 100%;
  background-color: $table-background;
  border: 2px solid $school-table;
  @include roboto-black;
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  &__tr {
    height: 98px;
    line-height: 98px;
    &:last-of-type {
      height: 120px;
      line-height: 120px;
    }
  }
  &__td {
    border: 1px solid $school-td;
  }
  &__icon {
    line-height: 98px;
    vertical-align: middle;
  }
  &__list {
    display: flex;
    justify-content: center;
  }
  &__item {
    position: relative;
    &:after {
      position: absolute;
      top: 2px;
      content: '\2022';
    }
    &:last-of-type {
      &:after {
        content: '';
      }
    }
  }
  &__link {
    padding: 0 55px;
    font-size: 12.5px;
    color: $white;
    text-decoration: none;
    &:hover {
      @include transition;
      color: $yellow;
    }
  }
}

.footer {
  padding-bottom: 47px;
  font-size: 30px;
  color: $white;
  text-align: center;
  &__copy {
    padding-right: 20px;
    @include georgia-regular;
    font-size: 1rem;
    line-height: 1;
  }
  &__site {
    padding-left: 20px;
    @include roboto-black;
    font-size: 12.5px;
    line-height: 1;
    text-transform: uppercase;
  }
  &__link {
    color: $white;
    text-decoration: none;
    &:hover {
      @include transition;
      color: $yellow;
    }
  }
}