@import "../core/_core.scss";

.contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1160px;
  margin: 0 auto;
  padding: 22px 0;
  font-family: Arial, sans-serif;
  font-size:12px;
  line-height: 1.667;
  color: $white-transparent2;

  @include el('list') {
    @include list;
  }

  @include el('item') {
    display: inline-block;
    margin-right: 35px;
    font-size:12px;
    line-height: 1.2;
    &:last-of-type {
      margin-right: 0;
    }
  }

  @include el('link') {
    color: inherit;
    &:hover {
      color: $blue;
    }
  }

  @include el('icon') {
    margin-right: .3148px;
    vertical-align: middle;
  }
}