@import "../core/_core.scss";

.services {
  width: 1160px;
  margin: 0 auto;
  padding-top: 120px;
  padding-bottom: 70px;

  @include el('title') {
    @include ubuntu-medium;
    font-size: 24px;
    line-height: .833;
    color: $white;
    text-transform: capitalize;
  }

  @include el('content') {
    display: flex;
    justify-content: space-between;
    margin-top: 55px;
    @include list;
  }

  @include el('item') {
    position: relative;
  }
}

.service-figure {
  text-align: center;
  cursor: pointer;

  @include el('img') {
    position: relative;
    z-index: 1;
    display: block;
    margin-bottom: 33px;
  }

  @include el('name') {
    @include ubuntu-medium;
    font-size: 16px;
    line-height: 1.25;
    color: $white;
    text-transform: capitalize;
  }
}

.hover {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 260px;
  height: 260px;
  background-color: $hover;
  font-size: 64px;
  line-height: 260px;
  color: $white;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  visibility: hidden;
}

.service-card:hover .service-figure__name {
  color: $yellow;
}

.service-card:hover > .hover {
  visibility: visible;
}