@import "../core/_core.scss";
.icon-arrow {
  width: 16px;
  height: 9px;
  fill: $yellow;
  &:hover {
    @include transition;
    fill: $circle;
  }
}

.icon-sertificate {
  width: 31px;
  height: 30px;
}

.icon-clock {
  width: 31px;
  height: 30px;
}

.icon-red-mark {
  width: 14px;
  height: 14px;
}

.icon-green-mark {
  width: 16px;
  height: 13px;
}

.icon-phone,
.icon-location,
.icon-envelope {
  width: 35px;
  height: 35px;
}

.icon-facebook {
  width: 38px;
  height: 38px;
    background-color: $white;
  border-radius: 50%;
  fill: #4267B2;
  &:hover {
    @include transition;
    fill: #2751a4;
  }
}