@import "../core/_core.scss";
.main {
  position: relative;
  display: flex;
  align-items: flex-end;
  padding-bottom: 80px;
  &__img {
    position: relative;
    margin-top: 92px;
    z-index: 2;
  }
  &__header {
    position: absolute;
    top: 0;
    right: 75px;
    @include roboto-black;
    font-size: 200px;
    line-height: 1;
    color: $light-gray;
    text-transform: uppercase;
  }
  &__title {
    position: absolute;
    z-index: 5;
    top: 98px;
    right: 135px;
    @include georgia-bold;
    font-size: 30px;
    line-height: 1.667;
    letter-spacing: 0;
    color: $dark-gray;
    text-transform: capitalize;
  }
  &__list {
    margin-top: -252px;
    margin-left: 57px;
  }
  &__item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    @include georgia-regular;
    font-size: 1rem;
    color: $black;
  }
  &__icon {
    margin-right: 15px;
  }
  &__price {
    display: block;
    margin-top: 25px;
    margin-left: 57px;
    @include georgia-bold;
    font-size: 31px;
    &_big {
      font-size: 58px;
    }
  }
  &__link {
    display: block;
    width: 245px;
    height: 58px;
    margin-top: 28px;
    margin-left: 57px;
    border-radius: 2px;
    background-color: $black;
    @include roboto-black;
    font-size: 14px;
    line-height: 58px;
    letter-spacing: 1px;
    vertical-align: middle;
    color: $white;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    &:hover {
      @include transition;
      background-color: #060303;
      color: #cfcece;
    }
  }
}