@import "../core/_core.scss";
.wrapper {
  &__header {
    position: relative;
    height: 800px;
    background-color: $header-background;
    @include retina('../images/header-background.jpg', 2, cover, top center no-repeat);
    background-attachment: fixed;
    &:after {
      position: absolute;
      z-index: 6;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 141px;
      @include retina('../images/header-after.png', 2, cover, top center no-repeat);
      content: '';
    }
  }
  &__programs {
    position: relative;
    background-color: $light-background;
    @include retina('../images/background.jpg', 2, 100px 100px, repeat);
    &:after {
      position: absolute;
      z-index: 6;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 141px;
      @include retina('../images/programs-after.png', 2, cover, top center no-repeat);
      content: '';
    }
  }
  &__gallery {
    position: relative;
    background-color: $gallery;
    height: 1165px;
    @include retina('../images/gallery-background.jpg', 2, cover, top center no-repeat);
    background-attachment: fixed;
    &:before {
      position: absolute;
      z-index: 6;
      left: 0;
      right: 0;
      top: 0;
      width: 100%;
      height: 141px;
      @include retina('../images/gallery-before.png', 2, cover, top center no-repeat);
      content: '';
    }
    &:after {
      position: absolute;
      z-index: 6;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 141px;
      @include retina('../images/gallery-after.png', 2, cover, top center no-repeat);
      content: '';
    }
  }
  &__testimonials {
    background-color: $light-background;
    @include retina('../images/background.jpg', 2, 100px 100px, repeat);
  }
  &__partners {
        background-color: $light-background;
    @include retina('../images/background.jpg', 2, 100px 100px, repeat);

  }
  &__contact {
    position: relative;
    background-color: $light-background;
    @include retina('../images/background.jpg', 2, 100px 100px, repeat);
  }
  &__footer {
    position: relative;
    background-color: $footer;
    @include retina('../images/footer-background.jpg', 2, cover, top center no-repeat);
    height: 1200px;
    background-attachment: fixed;
    &:before {
      position: absolute;
      z-index: 6;
      left: 0;
      right: 0;
      top: 0;
      width: 100%;
      height: 141px;
      @include retina('../images/footer-before.png', 2, cover, top center no-repeat);
      content: '';
    }
  }
}