@import "../core/_core.scss";
.icon {
  display: inline-block;
}

.icon-social {
  fill: $gray;
  width: 17px;
  height: 16px;
  &:hover {
    fill: $blue;
  }
}

.icon-features {
  fill: $yellow;
  width: 32px;
  height: 32px;
}

.icon-arrow {
  width: 10px;
  height: 9px;
  margin-left: 9px;
  fill: $blue;
}

.icon-location,
.icon-phone,
.icon-message {
  fill: #5D6063;
}

.icon-location {
  width: 16px;
  height: 20px;
}

.icon-phone {
  width: 14px;
  height: 20px;
}

.icon-message {
  width: 20px;
  height: 16px;
}