<section class="features" id="features">
  <ul class="features__list">
    <li class="features__item">
      <div class="features__number">01</div>
      <div class="features__content">
        <svg class="icon icon-features">
          <use xlink:href="./i/sprite_features.svg#settings"></use>
        </svg>
        <h2 class="features__title">power inside</h2>
        <p class="features__text">Cum sociis natoque penatibus et magnis dis parturient montesmus. Pro vel nibh et elit mollis commodo et nec augueique</p>
        <a href="" class="features__link">
              Read more
              <svg class="icon icon-arrow">
                <use xlink:href="./i/sprite_features.svg#arrow"></use>
              </svg>
            </a>
      </div>
    </li>
    <li class="features__item">
      <div class="features__number">02</div>
      <div class="features__content">
        <svg class="icon icon-features">
          <use xlink:href="./i/sprite_features.svg#params"></use>
        </svg>
        <h2 class="features__title">new technologies</h2>
        <p class="features__text">Cum sociis natoque penatibus et magnis dis parturient montesmus. Pro vel nibh et elit mollis commodo et nec augueique</p>
        <a href="" class="features__link">
              Read more
              <svg class="icon icon-arrow">
                <use xlink:href="./i/sprite_features.svg#arrow"></use>
              </svg>
            </a>
      </div>
    </li>
    <li class="features__item">
      <div class="features__number">03</div>
      <div class="features__content">
        <svg class="icon icon-features">
          <use xlink:href="./i/sprite_features.svg#truck"></use>
        </svg>
        <h2 class="features__title">fast support</h2>
        <p class="features__text">Cum sociis natoque penatibus et magnis dis parturient montesmus. Pro vel nibh et elit mollis commodo et nec augueique</p>
        <a href="" class="features__link">
              Read more
              <svg class="icon icon-arrow">
                <use xlink:href="./i/sprite_features.svg#arrow"></use>
              </svg>
            </a>
      </div>
    </li>
  </ul>
</section>