<div class="wrapper wrapper__footer">
  <footer class="footer">
    <div class="contacts">
      <ul>
        <li>
          <svg class="icon icon-location">
            <use xlink:href="./i/sprite_footer.svg#location"></use>
          </svg>
          <!--          <img src="images/location.png" alt="location" width="12" height="16" data-rjs="2">-->
          BuildHomeLtd. Street Name 123 23 45 Cityname
        </li>
        <li>
          <svg class="icon icon-phone">
            <use xlink:href="./i/sprite_footer.svg#phone"></use>
          </svg>
          <!--          <img src="images/phone.png" alt="phone" width="10" height="16" data-rjs="2">-->
          +123 900 123 456
        </li>
        <li>
          <svg class="icon icon-message">
            <use xlink:href="./i/sprite_footer.svg#message"></use>
          </svg>
          <!--          <img src="images/message.png" alt="email" width="16" height="12" data-rjs="2">-->
          info@buildhome.web
        </li>
      </ul>
    </div>
    <div class="copyright">
      &copy; 2014 Build Home
    </div>
  </footer>
</div>