<footer class="footer">
  <div class="contacts">
    <ul>
      <li>
        <img src="images/location.png" alt="location" width="12" height="16" data-rjs="2"> BuildHomeLtd. Street Name 123 23 45 Cityname
      </li>
      <li>
        <img src="images/phone.png" alt="phone" width="10" height="16" data-rjs="2"> +123 900 123 456
      </li>
      <li>
        <img src="images/message.png" alt="email" width="16" height="12" data-rjs="2"> info@buildhome.web
      </li>
    </ul>
  </div>
  <div class="copyright">
    &copy; 2014 Build Home
  </div>
</footer>