<div class="wrapper wrapper__links">
  <section class="links">
    <div class="links__container">
      <h2 class="links__title">Socials</h2>
      <ul>
        <li class="links__item">
          <a href="" class="links__link">Facebook</a>
        </li>
        <li class="links__item">
          <a href="" class="links__link">Flickr</a>
        </li>
        <li class="links__item">
          <a href="" class="links__link">Twitter</a>
        </li>
        <li class="links__item">
          <a href="" class="links__link">Vimeo</a>
        </li>
      </ul>
    </div>
    <div class="links__container">
      <h2 class="links__title">Links</h2>
      <ul>
        <li class="links__item">
          <a href="" class="links__link">How to Write a Blog</a>
        </li>
        <li class="links__item">
          <a href="" class="links__link">Create a Blog in 4 Steps</a>
        </li>
        <li class="links__item">
          <a href="" class="links__link">15 Tips to Increase Traffic</a>
        </li>
        <li class="links__item">
          <a href="" class="links__link">20 Blog Post Ideas</a>
        </li>
      </ul>
    </div>
    <div class="links__container">
      <h2 class="links__title">Blogroll</h2>
      <ul>
        <li class="links__item">
          <a href="" class="links__link">Blogs Blog</a>
        </li>
        <li class="links__item">
          <a href="" class="links__link">Roll Up Roll Up</a>
        </li>
        <li class="links__item">
          <a href="" class="links__link">Blog Free</a>
        </li>
        <li class="links__item">
          <a href="" class="links__link">Wordpress Blog</a>
        </li>
      </ul>
    </div>
    <div class="links__container">
      <h2 class="links__title">About us</h2>
      <ul>
        <li class="links__item">
          <a href="" class="links__link">Agriculture</a>
        </li>
        <li class="links__item">
          <a href="" class="links__link">Harvest</a>
        </li>
        <li class="links__item">
          <a href="" class="links__link">Company news</a>
        </li>
        <li class="links__item">
          <a href="" class="links__link">Investor relations</a>
        </li>
      </ul>
    </div>
  </section>
</div>