<section class="links">
  <div>
    <h2>Socials</h2>
    <ul>
      <li>
        <a href="">Facebook</a>
      </li>
      <li>
        <a href="">Flickr</a>
      </li>
      <li>
        <a href="">Twitter</a>
      </li>
      <li>
        <a href="">Vimeo</a>
      </li>
    </ul>
  </div>
  <div>
    <h2>Links</h2>
    <ul>
      <li>
        <a href="">How to Write a Blog</a>
      </li>
      <li>
        <a href="">Create a Blog in 4 Steps</a>
      </li>
      <li>
        <a href="">15 Tips to Increase Traffic</a>
      </li>
      <li>
        <a href="">20 Blog Post Ideas</a>
      </li>
    </ul>
  </div>
  <div>
    <h2>Blogroll</h2>
    <ul>
      <li>
        <a href="">Blogs Blog</a>
      </li>
      <li>
        <a href="">Roll Up Roll Up</a>
      </li>
      <li>
        <a href="">Blog Free</a>
      </li>
      <li>
        <a href="">Wordpress Blog</a>
      </li>
    </ul>
  </div>
  <div>
    <h2>About us</h2>
    <ul>
      <li>
        <a href="">Agriculture</a>
      </li>
      <li>
        <a href="">Harvest</a>
      </li>
      <li>
        <a href="">Company news</a>
      </li>
      <li>
        <a href="">Investor relations</a>
      </li>
    </ul>
  </div>
</section>