<section class="logos">
  <ul>
    <li>
      <a href=""><img src="images/client_logo1.png" alt="RBP WHEELS" data-rjs="2"></a>
    </li>
    <li>
      <a href=""><img src="images/client_logo2.png" alt="MOTO METAL" data-rjs="2"></a>
    </li>
    <li>
      <a href=""><img src="images/client_logo3.png" alt="2CRAVE" data-rjs="2"></a>
    </li>
    <li>
      <a href=""><img src="images/client_logo4.png" alt="ATX Series" data-rjs="2"></a>
    </li>
    <li>
      <a href=""><img src="images/client_logo5.png" alt="Cruiser Alloy" data-rjs="2"></a>
    </li>
    <li>
      <a href=""><img src="images/client_logo6.png" alt="GEAR" data-rjs="2"></a>
    </li>
  </ul>
</section>