<div class="wrapper wrapper__news">
  <section class="news">

    <div class="latest-news">
      <h2 class="news__title">latest news</h2>
      <div class="latest-news__content">
        <article class="news-article">
          <img src="images/news1.jpg" alt="dividers" data-rjs="2">
          <div class="data">
            <div class="data__month">Jan</div>
            <div class="data__day">23</div>
          </div>
          <div class="news-article__content">
            <h3><a href="" class="news-article__title">Advanced Machinery Helps Improve Quality</a></h3>
            <div class="news-article__subtitle">by <a href="" class="news-article__link">cmsmasters</a></div>
            <div class="news-article__subtitle">Comments (<a href="" class="news-article__link">6</a>)</div>
            <p>Cum sociis natoque penatibus et magnis dis parturient ontesmus. Pro vel nibh et elit mollis commodo et nec augueique Nemo enim ipsam voluptatem quia ptas sit aspernatur samomo enim ipsam voluptatem.</p>
          </div>
        </article>
        <article class="news-article">
          <img src="images/news2.jpg" alt="dividers" data-rjs="2">
          <div class="data">
            <div class="data__month">Jan</div>
            <div class="data__day">21</div>
          </div>
          <div class="news-article__content">
            <h3><a href="" class="news-article__title">Powerful Techniques for Advanced Service</a></h3>
            <div class="news-article__subtitle">by <a href="" class="news-article__link">cmsmasters</a></div>
            <div class="news-article__subtitle">Comments (<a href="" class="news-article__link">3</a>)</div>
            <p>Cum sociis natoque penatibus et magnis dis parturient ontesmus. Pro vel nibh et elit mollis commodo et nec augueique Nemo enim ipsam voluptatem quia ptas sit aspernatur samomo enim ipsam voluptatem.</p>
          </div>
        </article>
      </div>
    </div>

    <div class="banners">
      <h2 class="news__title">banners place</h2>
      <div class="banners__content">
        <a href="#panel1" class="accordion closed">accordion panel 1</a>
        <div id="panel1" class="accordion-content hidden">
          Cum sociis natoque penatibus et magnis dis parturient mus. Pro vel nibh et elit mollis commodo et nec augueique Nemo enim ipsam voluptatem quia ptas sit aspernatur momo. Cum sociis natoque penatibus et magnis dis parturient ontesmus. Nemo enim ipsam voluptatem quia ptas sit aspernatur samomoPro vel nibh et elit mollis commodo et nec augueique Nemo enim ipsam voluptatem quia ptas sit aspernatur
        </div>
        <a href="#panel2" class="accordion closed">accordion panel 2</a>
        <div id="panel2" class="accordion-content hidden">
          Cum sociis natoque penatibus et magnis dis parturient mus. Pro vel nibh et elit mollis commodo et nec augueique Nemo enim ipsam voluptatem quia ptas sit aspernatur momo. Cum sociis natoque penatibus et magnis dis parturient ontesmus. Nemo enim ipsam voluptatem quia ptas sit aspernatur samomoPro vel nibh et elit mollis commodo et nec augueique Nemo enim ipsam voluptatem quia ptas sit aspernatur
        </div>
        <a href="#panel3" class="accordion closed">accordion panel 3</a>
        <div id="panel3" class="accordion-content hidden">
          Cum sociis natoque penatibus et magnis dis parturient mus. Pro vel nibh et elit mollis commodo et nec augueique Nemo enim ipsam voluptatem quia ptas sit aspernatur momo. Cum sociis natoque penatibus et magnis dis parturient ontesmus. Nemo enim ipsam voluptatem quia ptas sit aspernatur samomoPro vel nibh et elit mollis commodo et nec augueique Nemo enim ipsam voluptatem quia ptas sit aspernatur
        </div>
        <a href="#panel4" class="accordion closed">accordion panel 4</a>
        <div id="panel4" class="accordion-content hidden">
          Cum sociis natoque penatibus et magnis dis parturient mus. Pro vel nibh et elit mollis commodo et nec augueique Nemo enim ipsam voluptatem quia ptas sit aspernatur momo. Cum sociis natoque penatibus et magnis dis parturient ontesmus. Nemo enim ipsam voluptatem quia ptas sit aspernatur samomoPro vel nibh et elit mollis commodo et nec augueique Nemo enim ipsam voluptatem quia ptas sit aspernatur
        </div>
      </div>
    </div>
  </section>
</div>