<section class="news">
  <div class="latest-news">
    <h2>latest news</h2>
    <article>
      <div>Jan</div>
      <div>23</div>
      <img src="images/news1.jpg" alt="dividers" data-rjs="2">
      <h3>Advanced Machinery Helps Improve Quality</h3>
      <span>by <a href="">cmsmasters</a></span>
      <span>Comments (<a href="">6</a>)</span>
      <p>Cum sociis natoque penatibus et magnis dis parturient ontesmus. Pro vel nibh et elit mollis commodo et nec augueique Nemo enim ipsam voluptatem quia ptas sit aspernatur samomo enim ipsam voluptatem.</p>
    </article>
    <article>
      <div>Jan</div>
      <div>21</div>
      <img src="images/news2.jpg" alt="dividers" data-rjs="2">
      <h3>Powerful Techniques for Advanced Service</h3>
      <span>by <a href="">cmsmasters</a></span>
      <span>Comments (<a href="">3</a>)</span>
      <p>Cum sociis natoque penatibus et magnis dis parturient ontesmus. Pro vel nibh et elit mollis commodo et nec augueique Nemo enim ipsam voluptatem quia ptas sit aspernatur samomo enim ipsam voluptatem.</p>
    </article>
  </div>

  <div class="banners">
    <h2>banners place</h2>
    <a href="#panel1">accordion panel 1</a>
    <div id="panel1">Cum sociis natoque penatibus et magnis dis parturient mus. Pro vel nibh et elit mollis commodo et nec augueique Nemo enim ipsam voluptatem quia ptas sit aspernatur momo. Cum sociis natoque penatibus et magnis dis parturient ontesmus. Nemo enim ipsam voluptatem quia ptas sit aspernatur samomoPro vel nibh et elit mollis commodo et nec augueique Nemo enim ipsam voluptatem quia ptas sit aspernatur </div>
  </div>
  <a href="#panel2">accordion panel 2</a>
  <div id="panel2">Cum sociis natoque penatibus et magnis dis parturient mus. Pro vel nibh et elit mollis commodo et nec augueique Nemo enim ipsam voluptatem quia ptas sit aspernatur momo. Cum sociis natoque penatibus et magnis dis parturient ontesmus. Nemo enim ipsam voluptatem quia ptas sit aspernatur samomoPro vel nibh et elit mollis commodo et nec augueique Nemo enim ipsam voluptatem quia ptas sit aspernatur </div>
  </div>
  <a href="#panel3">accordion panel 3</a>
  <div id="panel3">Cum sociis natoque penatibus et magnis dis parturient mus. Pro vel nibh et elit mollis commodo et nec augueique Nemo enim ipsam voluptatem quia ptas sit aspernatur momo. Cum sociis natoque penatibus et magnis dis parturient ontesmus. Nemo enim ipsam voluptatem quia ptas sit aspernatur samomoPro vel nibh et elit mollis commodo et nec augueique Nemo enim ipsam voluptatem quia ptas sit aspernatur </div>
  </div>
  <a href="#panel4">accordion panel 4</a>
  <div id="panel4">Cum sociis natoque penatibus et magnis dis parturient mus. Pro vel nibh et elit mollis commodo et nec augueique Nemo enim ipsam voluptatem quia ptas sit aspernatur momo. Cum sociis natoque penatibus et magnis dis parturient ontesmus. Nemo enim ipsam voluptatem quia ptas sit aspernatur samomoPro vel nibh et elit mollis commodo et nec augueique Nemo enim ipsam voluptatem quia ptas sit aspernatur </div>
  </div>
</section>