<div class="wrapper wrapper__services">
  <section class="services">
    <h2 class="services__title">our services</h2>
    <ul class="services__content">
      <li class="services__item">
        <div class="service-card">
          <figure class="service-figure">
            <p><img src="images/service1.jpg" class="service-figure__img" alt="working man" data-rjs="2"></p>
            <figcation class="service-figure__name">schedule services</figcation>
          </figure>
          <div class="hover">+</div>
        </div>
      </li>
      <li class="services__item">
        <div class="service-card">
          <figure class="service-figure">
            <p><img src="images/service2.jpg" class="service-figure__img" alt="big yellow track" data-rjs="2"></p>
            <figcation class="service-figure__name">preventive maintence</figcation>
          </figure>
          <div class="hover">+</div>
        </div>
      </li>
      <li class="services__item">
        <div class="service-card">
          <figure class="service-figure">
            <p><img src="images/service3.jpg" class="service-figure__img" alt="man on the ladder" data-rjs="2"></p>
            <figcation class="service-figure__name">tire & wheel services</figcation>
          </figure>
          <div class="hover">+</div>
        </div>
      </li>
      <li class="services__item">
        <div class="service-card">
          <figure class="service-figure">
            <p><img src="images/service4.jpg" class="service-figure__img" alt="yellow pipes" data-rjs="2"></p>
            <figcation class="service-figure__name">repair services</figcation>
          </figure>
          <div class="hover">+</div>
        </div>
      </li>
    </ul>
  </section>
</div>