<div class="wrapper wrapper__services">
  <section class="services">
    <h2>our services</h2>
    <ul>
      <li>
        <figure>
          <p></p><img src="images/service1.jpg" alt="working man" data-rjs="2"></p>
          <figcation>schedule services</figcation>
        </figure>
      </li>
      <li>
        <figure>
          <p></p><img src="images/service2.jpg" alt="big yellow track" data-rjs="2"></p>
          <figcation>preventive maintence</figcation>
        </figure>
      </li>
      <li>
        <figure>
          <p></p><img src="images/service3.jpg" alt="man on the ladder" data-rjs="2"></p>
          <figcation>tire & wheel services</figcation>
        </figure>
      </li>
      <li>
        <figure>
          <p></p><img src="images/service4.jpg" alt="yellow pipes" data-rjs="2"></p>
          <figcation>repair services</figcation>
        </figure>
      </li>
    </ul>
  </section>
</div>