<div class="logos">
  <a href="#" class="logos__link">
    <img src="images/client_logo1.png" width="143" height="62" alt="RBP WHEELS" data-rjs="2">
  </a>
  <a href="#" class="logos__link">
    <img src="images/client_logo2.png" width="143" height="62" alt="MOTO METAL" data-rjs="2">
  </a>
  <a href="#" class="logos__link">
    <img src="images/client_logo3.png" width="184" height="64" alt="2CRAVE" data-rjs="2">
  </a>
  <a href="#" class="logos__link">
    <img src="images/client_logo4.png" width="143" height="62" alt="ATX Series" data-rjs="2">
  </a>
  <a href="#" class="logos__link">
    <img src="images/client_logo5.png" width="143" height="62" alt="Cruiser Alloy" data-rjs="2">
  </a>
  <a href="#" class="logos__link">
    <img src="images/client_logo6.png" width="143" height="62" alt="GEAR" data-rjs="2">
  </a>
</div>