@mixin el($element) {
  &__#{$element} {
    @content;
  }
}

@mixin mod($modifier) {
  &_#{$modifier} {
    @content;
  }
}

@mixin clearfix {
  &::after {
    clear: both;
    content: '.';
    display: block;
    height: 0;
    visibility: hidden;
  }
}

@mixin list {
  list-style: none;
  display: flex;
}

@mixin link {
  border: none;
  outline: none;
  color: inherit;
  text-decoration: none;
  transition: all .3s ease;
}

@mixin ubuntu-medium {
  font-family: 'Ubuntu Medium', Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}

@mixin ubuntu-condensed {
  font-family: 'Ubuntu Condensed', Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}

@mixin ubuntu-light {
  font-family: 'Ubuntu Light', Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}

@mixin placeholder {
  font-family: Arial, sans-serif;
  font-size: 12px;
  line-height: 1.667;
  color: $input;
  color: $input-transparent;
}

@mixin flex-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
