<div class="wrapper wrapper__header">
  <header class="header">
    <div class="header__subheading">Intensive program barista training</div>
    <h1 class="header__title">Barista Training in <span class="header__emphasis">Amsterdam</span></h1>
    <div class="header__subtitle">On the basis of the company's largest coffee roasters</div>
    <a href="#program" class="header__link">
      <svg class="icon-arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200.000000 100.000000">
        <path class="fil0" d="M83 97c-3 0-6-1-8-3L3 21C-2 16-2 9 3 4s12-5 17 0l63 65 63-65c5-5 12-5 17 0s5 12 0 17L91 94c-2 2-5 3-8 3z" id="_168957984" />
      </svg>
    </a>
  </header>
</div>