@import "_variables.scss";
a {
  text-decoration: none;
  color: $dark-gray;
}

h1 {
  font-size: 1.125rem;
  font-weight: 500;
}

h2 {
  font-weight: 400;
  color: $light-gray;
  text-transform: uppercase;
}

h3 {
  font-weight: 400;
}

ul {
  font-size: .875rem;
  color: $dark-gray;
}

button {
  font-size: 1.25rem;
}
