@font-face {
    font-family: 'Ubuntu Medium';
    src: url('ubuntu_medium-webfont.eot');
    src: url('ubuntu_medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('ubuntu_medium-webfont.woff2') format('woff2'),
         url('ubuntu_medium-webfont.woff') format('woff'),
         url('ubuntu_medium-webfont.ttf') format('truetype'),
         url('ubuntu_medium-webfont.svg#ubuntumedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu Condensed';
    src: url('ubuntu_condensed-webfont.eot');
    src: url('ubuntu_condensed-webfont.eot?#iefix') format('embedded-opentype'),
         url('ubuntu_condensed-webfont.woff2') format('woff2'),
         url('ubuntu_condensed-webfont.woff') format('woff'),
         url('ubuntu_condensed-webfont.ttf') format('truetype'),
         url('ubuntu_condensed-webfont.svg#ubuntu_condensedregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu Light';
    src: url('ubuntu_light-webfont.eot');
    src: url('ubuntu_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('ubuntu_light-webfont.woff2') format('woff2'),
         url('ubuntu_light-webfont.woff') format('woff'),
         url('ubuntu_light-webfont.ttf') format('truetype'),
         url('ubuntu_light-webfont.svg#ubuntulight') format('svg');
    font-weight: normal;
    font-style: normal;
}
