@mixin clearfix {
  &:after {
    clear: both;
    content: '.';
    display: block;
    height: 0;
    visibility: hidden;
  }
}

@mixin list {
  font-size: 0;
  line-height: 0;
  letter-spacing: -1px;
  
}

@mixin ubuntu-medium {
  font-family: 'Ubuntu Medium', Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}

@mixin ubuntu-condensed {
  font-family: 'Ubuntu Condensed', Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}

@mixin ubuntu-light {
  font-family: 'Ubuntu Light', Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}

@mixin arial {
  font-family: Arial, sans-serif;
}