$gray: #ccc;
$blue: #248cec;
$yellow: #f4b60d;
$blue-gray: #989fb3;
$white: #fff;
$border: #181a1d;
$input: #626466;
$input-transparent: rgba(255, 255, 255, .149);
$services-background: #2a2d32;
$footer-background: #35383c;
$mark: rgb(26, 26, 26);
$mark-transparent: rgba(26, 26, 26, .9);
$slider-yellow: rgb(244, 182, 13);
$features-title: #2a2b2e;
$features-text: #8a8a8a;
$hover: rgba(36, 140, 236, .9);
$news-background: #f7f7f7;