$gray: #ccc;
$blue: #248cec;
$yellow: #f4b60d;
$blue-gray: #989fb3;
$white: #fff;
$border: #181a1d;
$input: #626466;
$input-transparent:  rgba(255, 255, 255, .149);
$services-background: #2a2d32;
$footer-background: #35383c;