@import "../core/_core.scss";
.header {
  padding-top: 212px;
  padding-bottom: 196px;
  @include georgia-regular;
  text-align: center;
  color: $white;
  &__subheading {
    position: relative;
    display: inline-block;
    width: 637px;
    margin-bottom: 40px;
    padding-top: 34px;
    @include retina('../images/stars.png', 2, 89px 15px, top center no-repeat);
    font-size: 17.5px;
    line-height: 2.857;
    &:before {
      position: absolute;
      top: 56px;
      left: 0;
      display: block;
      width: 101px;
      height: 6px;
      @include retina('../images/left-yellow-arrow.png', 2, 101px 6px, left center no-repeat);
      content: '';
    }
    &:after {
      position: absolute;
      top: 56px;
      right: 0;
      display: block;
      width: 101px;
      height: 6px;
      @include retina('../images/right-yellow-arrow.png', 2, 101px 6px, right center no-repeat);
      content: '';
    }
  }
  &__title {
    margin-bottom: 39px;
  }
  &__emphasis {
    color: $yellow;
  }
  &__subtitle {
    padding-bottom: 27px;
    @include retina('../images/yellow-decor.png', 2, 140px 7px, bottom center no-repeat);
    font-size: 21px;
    line-height: 2.381;
  }
  &__link {
    display: block;
    width: 61px;
    height: 61px;
    margin: 69px auto 0;
    border-radius: 50%;
    border: 1px solid $circle;
    line-height: 61px;
    vertical-align: middle;
    &:hover {
      @include transition;
      border: 1px solid $yellow;
    }
  }
}