@import "../core/_core.scss";
.programs {
  padding-top: 125px;
  padding-bottom: 160px;
  @include retina('../images/cup-background.jpg', 2, 743px 810px, right bottom no-repeat);
  @include roboto-black;
  &__title {
    position: relative;
    display: block;
    width: 392px;
    margin: 0 auto;
    margin-bottom: 30px;
    font-size: 50px;
    line-height: 1;
    letter-spacing: 5px;
    color: $black;
    text-align: center;
    text-transform: uppercase;
    &:before {
      position: absolute;
      top: 15px;
      left: 0;
      display: block;
      width: 15px;
      height: 15px;
      @include retina('../images/dark-star.png', 2, 15px 15px, center center no-repeat);
      content: '';
    }
    &:after {
      position: absolute;
      top: 15px;
      right: 0;
      display: block;
      width: 15px;
      height: 15px;
      @include retina('../images/dark-star.png', 2, 15px 15px, center center no-repeat);
      content: '';
    }
  }
  &__subtitle {
    @include georgia-regular;
    font-size: 1rem;
    line-height: 2.063;
    color: $blue-gray;
    text-align: center;
    word-spacing: -1.4px;
  }
  &__content {
    padding-top: 82px;
  }
}

