@import "../core/_core.scss";
.products {
  width: 71.25rem;
  margin: 0 auto;
  padding-top: 5.813rem;
  padding-bottom: 3.438rem;
  text-align: center;
  &__title {
    @include playfair;
    font-size: 3.625rem;
    line-height: 1;
    color: $active;
  }
  &__menu {
    margin-top: 3.75rem;
  }
  &__content {
    display: flex;
    flex-flow: row wrap;
    padding-top: 2.813rem;
  }
  &__list {
    @include list;
  }
  &__item {
    display: inline-block;
    margin-right: 1.813rem;
    width: 16.438rem;
    &:nth-of-type(4n) {
      margin-right: 0;
    }
  }
  &__button {
    margin-top: 1.063rem;
  }
}

.categories {
  display: flex;
  justify-content: center;
  &__item {
    display: inline-block;
    margin-right: 3.438rem;
    &:last-of-type {
      margin-right: 0;
    }
  }
}