html, 
body, 
div,
h1, 
span,
p,
ul, 
li,
nav, 
section,
audio,
canvas {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

canvas {
  display: block;
}

body {
  line-height: 1;
}

ul {
  margin: 0;
  padding: 0;
  list-style-position: inside;
  list-style: none;
}