<header class="products">
  <h1 class="products__title">Catalog</h1>
  <nav class="categories products__menu">
    <ul>
      <li class="categories__item">
        <a href="#" class="link link__medium link__active">all</a>
      </li>
      <li class="categories__item">
        <a href="#" class="link link__medium">t-shirts</a>
      </li>
      <li class="categories__item">
        <a href="#" class="link link__medium">sweaters</a>
      </li>
      <li class="categories__item">
        <a href="#" class="link link__medium">shorts</a>
      </li>
      <li class="categories__item">
        <a href="#" class="link link__medium">jackets</a>
      </li>
      <li class="categories__item">
        <a href="#" class="link link__medium">accesoires</a>
      </li>
    </ul>
  </nav>
  <div class="products__content">
    <ul class="products__list">
      <li class="products__item">
        <div class="product-card">
          <figure class="figure">
            <a href="#"><img src="images/printed-swimsuit.jpg" alt="Printed swimsuit" class="figure__img" data-rjs="2"></a>
            <figcaption>
              <h2><a href="#" class="figure__name">Printed swimsuit</a></h2>
              <span class="price">$23</span>
            </figcaption>
          </figure>
        </div>
      </li>
      <li class="products__item">
        <div class="product-card">
          <figure class="figure">
            <a href="#"><img src="images/blue-shorts.jpg" alt="Jogging bermuda shorts" class="figure__img" data-rjs="2"></a>
            <figcaption>
              <h2><a href="#" class="figure__name">Jogging bermuda shorts</a></h2>
              <span class="price  price__old">$36</span><span class="price price__special">$12</span>
            </figcaption>
          </figure>
        </div>
      </li>
      <li class="products__item">
        <div class="product-card new">
          <figure class="figure">
            <a href="#"><img src="images/beach-flip-flops.jpg" alt="Basic beach flip flops" class="figure__img" data-rjs="2"></a>
            <figcaption>
              <h2><a href="#" class="figure__name">Basic beach flip flops</a></h2>
              <span class="price">$9</span>
            </figcaption>
          </figure>
        </div>
      </li>
      <li class="products__item">
        <div class="product-card">
          <figure class="figure">
            <a href="#"><img src="images/black-sunglasses.jpg" alt="Black sunglasses" class="figure__img" data-rjs="2"></a>
            <figcaption>
              <h2><a href="#" class="figure__name">Black sunglasses</a></h2>
              <span class="price">$29</span>
            </figcaption>
          </figure>
        </div>
      </li>
      <li class="products__item">
        <div class="product-card">
          <figure class="figure">
            <a href="#"><img src="images/twill-shirt.jpg" alt="Long sleeved twill shirt" class="figure__img" data-rjs="2"></a>
            <figcaption>
              <h2><a href="#" class="figure__name">Long sleeved twill shirt</a></h2>
              <span class="price">$20</span>
            </figcaption>
          </figure>
        </div>
      </li>
      <li class="products__item">
        <div class="product-card">
          <figure class="figure">
            <a href="#"><img src="images/basic-swimsuit.jpg" alt="Basic swimsuit" class="figure__img" data-rjs="2"></a>
            <figcaption>
              <h2><a href="#" class="figure__name">Basic swimsuit</a></h2>
              <span class="price">$36</span>
            </figcaption>
          </figure>
        </div>
      </li>
      <li class="products__item">
        <div class="product-card">
          <figure class="figure">
            <a href="#"><img src="images/bleached-shorts.jpg" alt="Bleached shorts" class="figure__img" data-rjs="2"></a>
            <figcaption>
              <h2><a href="#" class="figure__name">Bleached shorts</a></h2>
              <span class="price">$12</span>
            </figcaption>
          </figure>
        </div>
      </li>
      <li class="products__item">
        <div class="product-card">
          <figure class="figure">
            <a href="#"><img src="images/t-shirt-lower-panel.jpg" alt="T-shirt with lower panel" class="figure__img" data-rjs="2"></a>
            <figcaption>
              <h2><a href="#" class="figure__name">T-shirt with lower panel</a></h2>
              <span class="price price__old">$32</span><span class="price price__special">$12</span>
            </figcaption>
          </figure>
        </div>
      </li>
    </ul>
  </div>
  <button class="button products__button">load more...</button>
</header>