@import "../core/_core.scss";
.container {
  box-sizing: border-box;
  min-width: 20rem;
  max-width: 30rem;
  padding-left: .938rem;
  padding-right: .938rem;
  margin: 0 auto;
  @media (min-width: 40rem) {
    max-width: 56rem;
  }
  @media (min-width: 64rem) {
    max-width: 75rem;
  }
  &__no-paddings {
    padding: 0;
  }
}