@import "../core/_core.scss";
.logo {
  &:hover {
    @include transition;
    filter: brightness(.5);
  }
  &__big {
    font-size: 2.25rem;
    font-family: 'Lato Black';
    font-weight: 900;
    font-style: normal;
    text-transform: uppercase;
    @media (min-width: 40rem) {
      font-size: 2.563rem;
    }
    &_dark {
      color: $dark-accent;
    }
    &_light {
      color: $light-accent;
    }
  }
  &__small {
    font-family: 'Lato Light';
    font-size: 1.125rem;
    font-weight: 300;
    font-style: normal;
    color: $gray;
    @media (min-width: 40rem) {
      font-size: 1.25rem;
    }
  }
}