@import "../core/_core.scss";
.section {
  padding-top: 3.75rem;
  padding-bottom: 5.625rem;
  &__title {
    position: relative;
    display: block;
    width: 14.625rem;
    height: 3.75rem;
    margin: 0 auto 3.75rem;
    border-color: $light-gray;
    border-width: .063rem;
    border-style: solid;
    border-radius: .625rem;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
    font-size: 2.275rem;
    font-weight: 100;
    font-style: normal;
    line-height: 3.75rem;
    text-align: center;
    text-transform: capitalize;
    vertical-align: middle;
    &::before {
      position: absolute;
      top: -3.75rem;
      left: 7.281rem;
      display: block;
      width: .063rem;
      height: 3.75rem;
      content: '';
      background-color: $light-gray;
    }
    &_dark {
      color: $dark-accent;
      border-color: $blue;
      &::before {
        background-color: $blue;
      }
    }
  }
  &__content {
    @media (min-width: 40rem) {
      width: 80%;
      margin: 0 auto;
    }
    @media (min-width: 64rem) {
      width: 70%;
    }
  }
}