<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="fonts/stylesheet.css">
  <link rel="stylesheet" href="css/styles.css">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.2.0/lodash.js"></script>

  <title>The Simpsons</title>
</head>

<body>
  <div id="container"></div>

  <script type="txt/html" id="quotes">
    <ul class="list">
      <% for (var i = 0; i < quotes.length; i++) { %>
        <li>
          <p class="quote">
            "
            <%= quotes[i].quote %>"
          </p>
          <p class="author">
            <%= quotes[i].author %>
          </p>
        </li>
        <% } %>
    </ul>
  </script>

  <script src="js/script.js"></script>


</body>

</html>