<footer class="footer row">
  <div class="col-xs-12 col-sm-12 col-md-4">
    <span class="footer__right">&#174; 2016 Dirty Dogs all rights reserved</span>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-8">
    <address class="address footer__address">
        <ul class="address__list">
          <li class="address__item">274 Marconi Blvd. Columbus, Ohio 43215</li>
          <li class="address__item">
            <a href="tel:+6145380095" class="address__link">
            614.538.0095
            </a>
          </li>
          <li class="address__item">
            <a href="#" class="address__link">
            Contact Us
            </a>
          </li>
        </ul>
      </address>
  </div>
</footer>