.hidden {
  display: none;
}

.container {
  min-width: 18rem;
  margin: 0 auto;
  padding-left: .938rem;
  padding-right: .938rem;
  font-family: Arial, sans-serif;
  line-height: 1.5;
  color: $text;
  @media (min-width: 40rem) {
    max-width: 36rem;
  }
  @media (min-width: 64rem) {
    max-width: 46rem;
  }
}

.section {
  padding-top: 2rem;
  padding-bottom: 1rem;
}


h2 {
  margin-bottom: 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  color: $title;
  text-align: center;
  @media (min-width: 64rem) {
    text-align: left;
  }
}

h3 {
  font-size: 1rem;
}