@import "../core/_core.scss";
.subscribe-form {
  width: 302px;
  height: 50px;
  margin: 0 auto;
  border: 2px solid $border-blue;
  border: 2px solid $white-transparent;
  border-radius: 25px;
}

input[type="email"] {
  width: 260px;
  height: 50px;
  padding-left: 24px;
  border-width: 0;
  outline-width: 0;
  background-color: transparent;
  @include lato-bold;
  font-size: .75rem;
  letter-spacing: .063rem;
  color: $white;
  text-transform: uppercase;
}

::-webkit-input-placeholder {
  color: $white;
  text-transform: uppercase;
}

::-moz-placeholder {
  color: $white;
  text-transform: uppercase;
}

:-moz-placeholder {
  color: $white;
  text-transform: uppercase;
}

:-ms-input-placeholder {
  color: $white;
  text-transform: uppercase;
}

input[type="submit"] {
  width: 32px;
  height: 50px;
  border-width: 0;
  outline-width: 0;
  background-color: transparent;
  @include retina('../images/white-arrow.png', 2, 15px 15px, 10px center no-repeat);
    background-image: url('../images/white-arrow.svg');
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position: 10px center;
  color: transparent;
  cursor: pointer;
}