@import "../core/_core.scss";
.link {
  @include lato-bold;
  line-height: 1;
  letter-spacing: .063rem;
  color: $light-grey;
  color: $light-grey-transparent;
  text-transform: uppercase;
  text-decoration: none;
  &__small {
    font-size: .688rem;
    &:hover {
      color: $active;
    }
  }
  &__medium {
    padding-bottom: 5px;
    font-size: .75rem;
    vertical-align: top;
    &:hover {
      color: $active;
      border-bottom: 2px solid $active-border;
    }
  }
  &__active {
    color: $active;
    border-bottom: 2px solid $active-border;
  }
  &__special {
    color: $special;
    &:hover {
      color: $special;
      border-bottom: 2px solid $special;
    }
  }
  &__footer {
    font-size: .75rem;
    color: $active;
    &:hover {
      color: $logo-hover;
    }
}
}