@import "../core/_core.scss";
.new {
  position: relative;
  z-index: 1;
  &:after {
    position: absolute;
    z-index: 2;
    top: 26px;
    left: 26px;
    width: 48px;
    height: 25px;
    content: 'new';
        @include retina('../images/new.png', 2, cover, top center no-repeat);

    @include lato-bold;
    font-size: .688rem;
    line-height: 25px;
    letter-spacing: .063rem;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    color: $white;
    cursor: pointer;
  }
}

.figure {
  margin-bottom: 35px;
  text-align: center;
  &__img {
    margin-bottom: 18px;
  }
  &__name {
    @include playfair;
    font-size: 1rem;
    line-height: 2;
    letter-spacing: normal;
    color: $active;
    text-decoration: none;
    &:hover {
      color: $logo-hover;
    }
  }
}

.price {
  @include lato-regular;
  font-size: 1rem;
  line-height: 1.25;
  letter-spacing: normal;
  color: $light-grey;
  color: $light-grey-transparent;
  &__old {
    margin-right: 11px;
    text-decoration: line-through;
  }
  &__special {
    color: $special;
  }
}