@import "../core/_core.scss";
.form {
  &__list {
    font-size: 0;
    line-height: 0;
    letter-spacing: -1px;
  }
  &__item {
    display: inline-block;
    padding: 0 20px;
    height: 43px;
    border-right: 1px solid $menu-line;
    font-size: .688rem;
    line-height: 43px;
    letter-spacing: normal;
    vertical-align: middle;
    &:first-of-type {
      padding-left: 0;
    }
    &:last-of-type {
      padding-right: 0;
      border-width: 0;
    }
  }
}

.select {
  display: inline-block;
  padding-right: 20px;
  border-width: 0;
  outline-width: 0;
  background-color: $white;
  @include lato-bold;
  font-size: .688rem;
  line-height: 1;
  letter-spacing: .031rem;
  color: $light-grey;
  color: $light-grey-transparent;
  text-transform: uppercase;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

.label {
  position: relative;
  &:after {
    position: absolute;
    display: block; 
    width: 7px;
    height: 4px;
    right: 6px;
    top: 4px;
    content: '';
    @include retina('../images/arrow.png', 2, 7px 4px, top center no-repeat);
 background: url('../images/black-arrow.svg'), 7px 4px, top center no-repeat;
    pointer-events: none;
  }
  &:before {
    position: absolute;
    display: block;
    width: 10px;
    height: 15px;
    top: 0;
    right: 6px;
    content: '';
    background-color: $white;
    pointer-events: none;
  }
}