<!-- Contacts -->
<div class="wrapper wrapper__contacts">
  <div class="contacts">
    <ul class="contacts__list">
      <li class="contacts__item">
        <img class="icon contacts__icon" src="./i/contacts/location.svg" alt="">
        BuildHomeLtd. Street Name 123 23 45 Cityname
      </li>
      <li class="contacts__item">
        <img class="icon contacts__icon" src="./i/contacts/phone.svg" alt="">
        +123 900 123 456
      </li>
      <li class="contacts__item">
        <a class="contacts__link" href="mailto:info@buildhome.web">
          <img class="icon contacts__icon" src="./i/contacts/message.svg" alt="">
          info@buildhome.web
        </a>
      </li>
    </ul>
    &copy; 2014 Build Home
  </div>
</div>
<!-- End of Contacts -->
