<!-- Slider -->
<div class="slider">
  <div id="carousel-example-generic" class="carousel" data-ride="carousel">

    <!-- Carousel Content -->
    <div class="carousel-inner">
      <div class="item active">
        <div class="carousel-caption">
          <p class="slider__paragraph">
            <span class="slider__text">build</span>
          </p>
          <p class="slider__paragraph">
            <span class="slider__text">your</span>
          </p>
          <p class="slider__paragraph">
            <span class="slider__text">business</span>
          </p>
        </div>
      </div>
      <div class="item">
        <div class="carousel-caption">
          <p class="slider__paragraph">
            <span class="slider__text">Lorem</span>
          </p>
          <p class="slider__paragraph">
            <span class="slider__text">ipsum</span>
          </p>
          <p class="slider__paragraph">
            <span class="slider__text">dolor</span>
          </p>
        </div>
      </div>
      <div class="item">
        <div class="carousel-caption">
          <p class="slider__paragraph">
            <span class="slider__text">sit</span>
          </p>
          <p class="slider__paragraph">
            <span class="slider__text">amet</span>
          </p>
          <p class="slider__paragraph">
            <span class="slider__text">consectetur</span>
          </p>
        </div>
      </div>
    </div>

    <!-- Pointers -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>
  </div>
</div>
<!-- End of Slider -->