<section class="section container">
  <h2 class="section__title">Discover holiday activity ideas</h2>
  <div class="section__content">

    <div id="images-container"></div>

  </div>
</section>

<section class="section container">
  <h2 class="section__title">Discover holiday activity ideas</h2>
  <p class="section__subtitle">Hi! What are your holiday interests?</p>
  <div class="search section__content">
    <form action="#" class="form search__form">
      <ul class="search__list">
        <li class="search__item">
          <input type="text" placeholder="Enter your interests" class="input">
        </li>
        <li class="search__item">
          <button type="submit" class="button">Search partners</button>
        </li>
      </ul>
    </form>
  </div>
</section>