<footer class="footer">
  <a href="" class="logo logo__footer">urlaubsgl&uuml;ck</a>
  <nav class="footer-nav footer__menu">
    <ul class="footer-nav__list">
      <li class="footer-nav__item">
        <a href="" class="footer-nav__link">company</a>
        <ul class="footer-nav__sublist">
          <li class="footer-nav__subitem">
            <a href="" class="footer-nav__sublink">about</a>
          </li>
          <li class="footer-nav__subitem">
            <a href="" class="footer-nav__sublink">contacts</a>
          </li>
          <li class="footer-nav__subitem">
            <a href="" class="footer-nav__sublink">press</a>
          </li>
          <li class="footer-nav__subitem">
            <a href="" class="footer-nav__sublink">blog</a>
          </li>
        </ul>
      </li>
      <li class="footer-nav__item">
        <a href="" class="footer-nav__link">partners</a>
      </li>
    </ul>
  </nav>

  <span class="footer__span">designed by</span>
  <a href="" class="footer__link" target="_blank">
    <img src="images/logo.jpg" alt="Designed by ARETO Development" data-rjs="2">
  </a>
</footer>