<footer class="footer">
  <a href="" class="logo">urlaubsgl&uuml;ck</a>
  <ul>
    <li><a href="">company</a>
      <ul>
        <li>
          <a href="">about</a>
        </li>
        <li>
          <a href="">contacts</a>
        </li>
        <li>
          <a href="">press</a>
        </li>
        <li>
          <a href="">blog</a>
        </li>
      </ul>
    </li>
    <li><a href="">partners</a></li>
  </ul>

  <a href="">
    <img src="images/logo.jpg" alt="Designed by ARETO Development" data-rjs="2">
  </a>
</footer>