<header class="header">
  <div class="container">
    <nav class="nav">
      <ul class="nav__list">
        <li>
          <a href="" class="nav__link">Log in</a>
        </li>
        <li>
          <a href="" class="nav__link">Sign up</a>
        </li>
      </ul>
      <a href="" class="logo logo__header header__logo">urlaubsgl&uuml;ck</a>
    </nav>
    <h1 class="header__title">Share your holiday dreams</h1>
    <p class="header__subtitle">And find the perfect partner to fullfill it</p>
    <a href="" class="header__link">Find your holiday partner</a>
  </div>
</header>