<section class="how">
  <h2 class="how__title">How Urlaubsgl&uuml;ck works?</h2>
  <div class="how__container">
    <div class="flexslider">
      <ul class="slides">
        <li>
          <div class="step-background step-background_11"></div>
        </li>
        <li>
          <div class="step-background step-background_12"></div>
        </li>
        <li>
          <div class="step-background step-background_13"></div>
        </li>
      </ul>
    </div>

    <div class="step how__step">
      <div class="step__number">step 1</div>
      <h3 class="step__title">Sed leo enim, condimentum</h3>
      <p>Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
    </div>
  </div>
  <div class="how__container">
    <div class="flexslider">
      <ul class="slides">
        <li>
          <div class="step-background step-background_21"></div>
        </li>
        <li>
          <div class="step-background step-background_22"></div>
        </li>
        <li>
          <div class="step-background step-background_23"></div>
        </li>
      </ul>
    </div>

    <div class="step how__step">
      <div class="step__number">step 2</div>
      <h3 class="step__title">Morbi velit risus</h3>
      <p>Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.</p>
    </div>
  </div>
  <div class="how__container">
    <div class="flexslider">
      <ul class="slides">
        <li>
          <div class="step-background step-background_31"></div>
        </li>
        <li>
          <div class="step-background step-background_32"></div>
        </li>
        <li>
          <div class="step-background step-background_33"></div>
        </li>
      </ul>
    </div>
    <div class="step how__step">
      <div class="step__number">step 3</div>
      <h3 class="step__title">Sed leo enim, condimentum</h3>
      <p>Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
    </div>
  </div>
</section>