<section class="meet">
  <h2>Meet a partner for your best holiday</h2>
  <ul>
    <li>
      <div>
        <img src="images/avatar1.jpg" alt="Bradley Hunter" data-rjs="2">
        <a href="" class="icon-circle icon-circle__red">
          <svg class="icon icon__tv">
            <use xlink:href="./i/sprite.svg#tv"></use>
          </svg>
        </a>
        <h3>Bradley Hunter</h3>
        <p>Based in Chicago. I love playing tennis and loud music.</p>
      </div>
    </li>
    <li>
      <div>
        <img src="images/avatar2.jpg" alt="Heather Walker" data-rjs="2">
        <a href="" class="icon-circle icon-circle__yellow">
          <svg class="icon icon__bottle">
            <use xlink:href="./i/sprite.svg#bottle"></use>
          </svg>
        </a>
        <h3>Heather Walker</h3>
        <p>I'm a happy person that loves cats and climbing on mountains.</p>
      </div>
    </li>
    <li>
      <div>
        <img src="images/avatar3.jpg" alt="Lucas Marsha" data-rjs="2">
        <a href="" class="icon-circle icon-circle__aqua">
          <svg class="icon icon__cup">
            <use xlink:href="./i/sprite.svg#cup"></use>
          </svg>
        </a>
        <h3>Lucas Marsha</h3>
        <p>I get my inspiration from nature and objects around me. I have a passion to colours, typography and skateboards.</p>
      </div>
    </li>
    <li>
      <div>
        <img src="images/avatar4.jpg" alt="Bradley Hunter" data-rjs="2">
        <a href="" class="icon-circle icon-circle__blue">
          <svg class="icon icon__plane">
            <use xlink:href="./i/sprite.svg#plane"></use>
          </svg>
        </a>
        <h3>Bradley Hunter</h3>
        <p>Based in Chicago. I love playing tennis and loud music.</p>
      </div>
    </li>
  </ul>
  <a href="">See other partners</a>
</section>