@import "../core/_core.scss";
.button {
  border-width: 0;
  outline-width: 0;
  background-color: $white;
  @include lato-bold;
  font-size: .75rem;
  color: $light-grey;
  color: $light-grey-transparent;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  &:hover {
    color: $logo-hover;
  }
}