@import "../core/_core.scss";
.subscribe-form {
  width: 18.875rem;
  height: 3.125rem;
  margin: 0 auto;
  border: .125rem solid $border-blue;
  border: .125rem solid $white-transparent;
  border-radius: 1.563rem;
}

input[type="email"] {
  width: 16.25rem;
  height: 3.125rem;
  padding-left: 1.5rem;
  border-width: 0;
  outline-width: 0;
  background-color: transparent;
  @include lato-bold;
  font-size: .75rem;
  letter-spacing: .063rem;
  color: $white;
  text-transform: uppercase;
}

::-webkit-input-placeholder {
  color: $white;
  text-transform: uppercase;
}

::-moz-placeholder {
  color: $white;
  text-transform: uppercase;
}

:-moz-placeholder {
  color: $white;
  text-transform: uppercase;
}

:-ms-input-placeholder {
  color: $white;
  text-transform: uppercase;
}

input[type="submit"] {
  width: 2rem;
  height: 3.125rem;
  border-width: 0;
  outline-width: 0;
  background-color: transparent;
  @include retina('../images/white-arrow.png', 2, .938rem .938rem, .625rem center no-repeat);
  background-image: url('../images/white-arrow.svg');
  background-size: .938rem .938rem;
  background-repeat: no-repeat;
  background-position: .625rem center;
  color: transparent;
  cursor: pointer;
}