<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>ToDo List</title>

  <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

  <script src="js/lodash.js"></script>
</head>

<body>

  <script type="text/template" id="wrapper-template">
    <div class="wrapper">
      <form>
        <ul class="item-list">
        </ul>
      </form>
      <div class="controlls">
        <input type="text" class="item-value">
        <button class="item-add">Add</button>
      </div>
    </div>
  </script>

  <script type="text/template" id="list-template">
    <% for (var i = 0; i < data.length; i++) { %>
      <li>
        <input type="text" class="item-change" data-value="<%= data[i] %>" placeholder="<%= data[i] %>"></input>
        <span data-value="<%= data[i] %>" class="item-delete"> x</span>
      </li>
      <% }; %>
  </script>

  <script src="js/script.js"></script>


</body>

</html>