<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>ToDo List</title>

  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/styles.css">

  <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

  <script src="js/lodash.js"></script>
</head>

<body>


  <script type="text/template" id="container-template">
    <div class="wrapper">

      <div class="container">
        <h1 class="title">ToDo List</h1>
        <ul class="item-list">
        </ul>

        <div class="controlls">
          <input type="text" class="item-value">
          <button class="item-add">Add</button>
        </div>
      </div>

      <div class="instructions">
        <h2 class="instructions-title">Instructions:</h2>
        <ol class="insturcitons-list">
          <li class="instructions-item">If you want to add new item, select input field, then enter item name and press button "Add"</li>
          <li class="instructions-item">If you want to delete item, click on the cross beside this item</li>
          <li class="instructions-item">If you want to change item, click this onitem, then change item name and press button "Enter"</li>
        </ol>
      </div>
    </div>
  </script>

  <script type="text/template" id="list-template">
    <% for (var i = 0; i < data.length; i++) { %>
      <li>
        <input type="text" class="item-change" data-value="<%= data[i] %>" placeholder="<%= data[i] %>"></input>
        <span data-value="<%= data[i] %>" class="item-delete"> x</span>
      </li>
      <% }; %>
  </script>

  <script src="js/script.js"></script>


</body>

</html>