<div class="wrapper wrapper_dark" id="about">
  <section class="about section container">
    <h2 class="section__title">About me</h2>
    <div class="section__content">
      <p>I specialize in Front-End Developement. I use in my work HTML5, CSS3, SCSS, JavaScript, jQuery and React; concepts Mobile First and Progressive Enhancement.</p>
      <p>I am semifinalist of IT competitions, such as DEV CHALLENGE 11 and IT Challenges. My knowledge is confirmed by passed tests on <a href="https://www.upwork.com/o/profiles/users/_~0115a1a0cb29dcc236/" class="about__link" target="_blank">Upwork</a>.</p>
    </div>
  </section>
</div>