<div class="wrapper wrapper__footer-nav">
  <nav class="nav nav_footer">
    <ul class="nav__list nav__list_footer">
      <li class="nav__item nav__item_footer">
        <a href="#home" class="nav__link nav__link_footer">home</a>
      </li>
      <li class="nav__item nav__item_footer">
        <a href="#works" class="nav__link nav__link_footer">portfolio</a>
      </li>
      <li class="nav__item nav__item_footer">
        <a href="#about" class="nav__link nav__link_footer">about</a>
      </li>
      <li class="nav__item nav__item_footer">
        <a href="#hire-me" class="nav__link nav__link_footer">hire me</a>
      </li>
    </ul>
  </nav>
</div>
<footer class="footer wrapper wrapper__dark">
  Copyright &copy; 2017

  <!--
      <ul class="icon__list footer__icons">
        <li class="icon__item">
          <a href="https://www.facebook.com/goroshanska" class="icon__link icon__link_footer" target="_blank">
            <svg class="icon__svg icon__svg_footer">
              <use xlink:href="./i/sprite.svg#facebook"></use>
            </svg>
          </a>
        </li>
        <li class="icon__item">
          <a href="https://www.linkedin.com/in/larysa-goroshanska/" class="icon__link icon__link_footer" target="_blank">
            <svg class="icon__svg icon__svg_footer">
              <use xlink:href="./i/sprite.svg#linkedin"></use>
            </svg>
          </a>
        </li>
        <li class="icon__item">
          <a href="https://github.com/hloe" class="icon__link icon__link_footer" target="_blank">
            <svg class="icon__svg icon__svg_footer">
              <use xlink:href="./i/sprite.svg#github"></use>
            </svg>
          </a>
        </li>
        <li class="icon__item">
          <a href="https://www.upwork.com/freelancers/~0115a1a0cb29dcc236" class="icon__link icon__link_footer" target="_blank">
            <svg class="icon__svg icon__svg_footer">
              <use xlink:href="./i/sprite.svg#upwork"></use>
            </svg>
          </a>
        </li>
      </ul>
  -->

</footer>