<section class="hire-me wrapper wrapper__hire section" id="hire-me">
  <h2 class="centered-title centered-title__dark hire-me__title">Hire me</h2>
  <div class="container">
    <p class="hire-me__text hire-me__text_center">If you are interested in work with me, please, don't be shy to write or call. I will answer asap.</p>

    <div class="hire-me__content">
      <div class="contacts">
        <div class="contacts__item">
          <h3 class="hire-me__subtitle">Phone number</h3>
          <p class="hire-me__text hire-me__text_left">+38 (096)777-29-20</p>
        </div>
        <div class="contacts__item">
          <h3 class="hire-me__subtitle">Email</h3>
          <p class="hire-me__text hire-me__text_left">goroshanska@gmail.com</p>
        </div>
        <div class="contacts__item">
          <h3 class="hire-me__subtitle">Skype</h3>
          <p class="hire-me__text hire-me__text_left">larisa_goroshanska</p>
        </div>
      </div>

      <ul class="icon__list">
        <li class="icon__item">
          <a href="https://www.facebook.com/goroshanska" class="icon__link icon__link_contact" target="_blank">
            <svg class="icon__svg icon__svg_contact">
              <use xlink:href="./i/sprite.svg#facebook"></use>
            </svg>
          </a>
        </li>
        <li class="icon__item">
          <a href="https://www.linkedin.com/in/larysa-goroshanska/" class="icon__link icon__link_contact" target="_blank">
            <svg class="icon__svg icon__svg_contact">
              <use xlink:href="./i/sprite.svg#linkedin"></use>
            </svg>
          </a>
        </li>
        <li class="icon__item">
          <a href="https://github.com/hloe" class="icon__link icon__link_contact" target="_blank">
            <svg class="icon__svg icon__svg_contact">
              <use xlink:href="./i/sprite.svg#github"></use>
            </svg>
          </a>
        </li>
        <li class="icon__item">
          <a href="https://www.upwork.com/freelancers/~0115a1a0cb29dcc236" class="icon__link icon__link_contact" target="_blank">
            <svg class="icon__svg icon__svg_contact">
              <use xlink:href="./i/sprite.svg#upwork"></use>
            </svg>
          </a>
        </li>
      </ul>

    </div>
  </div>
</section>