<div class="wrapper wrapper__nav">
  <nav class="nav nav_header container">
    <a href="http://finecoding.net/" class="logo nav__title"><span class="logo__big logo__big_dark">fine</span><span class="logo__big logo__big_light">coding</span><span class="logo__small">.net</span></a>
    <ul class="nav__list nav__list_header">
      <li class="nav__item nav__item_header">
        <a href="#home" class="nav__link nav__link_header">home</a>
      </li>
      <li class="nav__item nav__item_header">
        <a href="#works" class="nav__link nav__link_header">portfolio</a>
      </li>
      <li class="nav__item nav__item_header">
        <a href="#about" class="nav__link nav__link_header">about</a>
      </li>
      <li class="nav__item nav__item_header">
        <a href="#hire-me" class="nav__link nav__link_header">hire me</a>
      </li>
    </ul>
  </nav>
</div>