<div class="wrapper wrapper_nav">
  <nav class="nav nav_header container">
    <a href="http://finecoding.net/" class="logo">fine<span class="logo_light">coding</span><span class="logo_small">.net</span></a>
    <ul class="menu menu_header header__menu">
      <li class="menu__item">
        <a href="#home" class="menu__link">home</a>
      </li>
      <li class="menu__item">
        <a href="#works" class="menu__link">portfolio</a>
      </li>
      <li class="menu__item">
        <a href="#about" class="menu__link">about</a>
      </li>
      <li class="menu__item">
        <a href="#hire-me" class="menu__link">hire me</a>
      </li>
    </ul>
  </nav>
</div>