@import "../core/_core.scss";
.container {
  width: 71.25rem;
  margin: 0 auto;
  &__centered {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__main-menu {
    padding: 0 1.875rem;
  }
}

.small-menu {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  border-bottom: .063rem solid $menu-line;
  &__list {
    @include list;
  }
  &__item {
    display: inline-block;
    margin-right: 2.125rem;
    &:last-of-type {
      margin-right: 0;
    }
  }
}

.nav {
  border-bottom: .063rem solid $menu-line;
  &__list {
    @include list;
  }
  &__item {
    display: inline-block;
    margin-right: 3.438rem;
    &:last-of-type {
      margin-right: 0;
    }
  }
}

.right-group {
  display: flex;
  align-items: center;
  padding: 1.563rem 0;
  &__list {
    @include list;
  }
  &__item {
    display: inline-block;
    margin-right: 1.25rem;
    vertical-align: middle;
    &:last-of-type {
      margin-right: 0;
    }
  }
}