.coffee-bean {
  position: absolute;
  z-index: 7;

  @include el('header') {
    top: -1216px;
    right: 95px;
  }

  @include el('prog1') {
    top: 157px;
    left: 0;
  }

  @include el('prog2') {
    top: 670px;
    right: 0;
  }

  @include el('gallery') {
    z-index: 100;
    top: -36px;
    left: 44px;
  }

  @include el('testimonials') {
    top: -173px;
    right: 40px;
  }

  @include el('formbean') {
    top: 146px;
    left: 293px;
  }

  @include el('formgroup') {
    z-index: 8;
    top: -88px;
    left: 0;
  }
}