.program-column {
  @include el('title') {
    margin-bottom: 27px;
  }

  @include el('item') {
    @include georgia-regular;
    font-size: 16px;
    line-height: 2.2;
    color: $blue-gray;

    &::before {
      content: '- ';
    }
  }
}