.program-table {
  @include el('title') {
    margin-bottom: 20px;
  }

  @include el('table') {
    margin-right: -25px;
    border: 1px solid $table-border;
    @include georgia-regular;
    font-size: 16px;
    line-height: 2.4;
    color: $blue-gray;
  }

  @include el('td') {
    padding-left: 16px;
    padding-right: 16px;
    border: 1px solid $table-border;
  }
}