.tabs {
  @include el('list') {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    max-width: 750px;
    margin: 0 auto;
  }

  @include el('item') {
    width: 33%;
    @include roboto-black;
    font-size: 21px;
    line-height: 2.095;
    letter-spacing: 2.5px;
  }

  @include el('link') {
    position: relative;
    z-index: 5;
    display: block;
    padding: 23px 0;
    border-bottom: 4px solid transparent;
    color: $gray;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;

    &:hover {
      @include transition;
      border-bottom: 4px solid $black;
      color: $black;
    }
  }

  @include el('content') {
    margin-top: -3px;
    padding-top: 5px;
    border-top: 2px solid $gray-border;
  }
}

.hidden {
  display: none;
}

.active-tab {
  border-bottom: 4px solid $black;
  color: $black;
}