html {
  overflow-x: hidden;
}


/* CLEARFIX */

.clearfix::after {
  clear: both;
  content: '.';
  display: block;
  height: 0;
  visibility: hidden;
}


/* HEADER */

.mountains {
  background-color: #ecd7de;
  background-image: url('../img/mountains960.jpg');
  background-position: center 0;
  background-repeat: no-repeat;
  -moz-background-size: auto;
  -webkit-background-size: auto;
  background-size: auto;
  border-bottom: 1px solid #36283d;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: auto;
  padding-bottom: 55px;
  padding-top: 68px;
  position: relative;
  width: 100%;
}

.container {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
  width: 960px;
}


/* LOGO */

.logo {
  float: left;
  height: 40px;
  left: 0;
  text-align: left;
  width: 153px;
}

.logo__a {
  text-decoration: none;
  text-transform: uppercase;
}

.logo__img {
  border-width: 0;
  height: 40px;
  width: 153px;
}


/* MENU */

.menu {
  display: block;
  float: right;
  font-size: 0;
  letter-spacing: -1px;
  line-height: 0;
  margin-top: 6px;
  right: 0;
  width: 641px;
}

.menu__li {
  display: inline-block;
  font-family: 'League Gothic', Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-style: normal;
  letter-spacing: normal;
  line-height: 24px;
  margin-right: 40px;
}

.menu__li-last {
  margin-right: 0;
}

.menu__a {
  border-bottom: 2px solid transparent;
  color: #fff;
  display: inline-block;
  padding: 0 7px 8px 5px;
  text-decoration: none;
  text-shadow: 1px 2px 3px #7f7f7f;
  text-transform: uppercase;
}

.menu__a:hover {
  border-bottom: 2px solid #edbfff;
}


/* SLIDER */

.slider {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 152px auto 0;
  position: relative;
  z-index: 1;
}

.slider__shadow {
  background-color: #827e8a;
  background-color: rgba(0, 0, 0, .2);
  cursor: pointer;
  height: 400px;
  margin-top: 170px;
  position: absolute;
  width: 100%;
  z-index: 2;
}

.container1545 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1545px;
  padding: 0 35px;
  position: relative;
}

.container1545::before {
  content: url('../img/left_arrow.png');
  left: 0;
  position: absolute;
  top: 198px;
}

.container1545::after {
  content: url('../img/right_arrow.png');
  position: absolute;
  right: 0;
  top: 198px;
}

.left__arrow {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  height: 42px;
  width: 30px;
}

.right__arrow {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  height: 42px;
  width: 30px;
}

.arrow__a {
  text-decoration: none;
}

.slider__text {
  display: block;
  float: left;
  margin-top: 95px;
  width: 520px;
}

.slider__h1 {
  color: #fefefe;
  font-family: 'League Gothic', Arial, Helvetica, sans-serif;
  font-size: 59px;
  font-style: normal;
  letter-spacing: -.25px;
  line-height: 59px;
  text-align: left;
  text-shadow: 1px 2px 1px #7f7f7f;
  text-transform: capitalize;
}

.slider__subtitle {
  color: #edbfff;
  font-family: 'League Gothic', Arial, Helvetica, sans-serif;
  font-size: 32px;
  font-style: normal;
  letter-spacing: -.15px;
  margin-bottom: 6px;
  text-shadow: 1px 2px 1px #7f7f7f;
  text-transform: uppercase;
  word-spacing: 1px;
}

.slider__p {
  color: #fff;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 100;
  line-height: 24px;
  text-shadow: 1px 2px 1px #7f7f7f;
  vertical-align: top;
}

.slider__picture {
  float: right;
  margin-bottom: 94px;
  position: absolute;
  right: 70px;
}

.slider__img {
  height: 434px;
  width: 274px;
}

.pointers {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: right;
  height: 20px;
  margin-right: 160px;
  margin-top: 511px;
  width: 90px;
}

.pointers__ul {
  font-size: 0;
  letter-spacing: -1px;
  line-height: 0;
}

.pointers__li {
  background-image: url('../img/gray_circle.png');
  background-repeat: no-repeat;
  display: inline-block;
  height: 20px;
  margin-right: 3px;
  width: 20px;
}

.pointers__li:hover,
.pointers__li:active {
  background-image: url('../img/white_circle.png');
  background-repeat: no-repeat;
  cursor: pointer;
}


/* ABOUT */

.about {
  background: -moz-linear-gradient(to bottom, #775385, #36293d);
  background: -o-linear-gradient(to bottom, #775385, #36293d);
  background: -webkit-linear-gradient(to bottom, #775385, #36293d);
  background: -webkit-gradient(to bottom, #775385, #36293d);
  background: linear-gradient(to bottom, #775385, #36293d);
  border-bottom: 1px solid #21333b;
  -moz-box-shadow: 0 5px 10px rgba(126, 126, 126, .5);
  -webkit-box-shadow: 0 5px 10px rgba(126, 126, 126, .5);
  box-shadow: 0 5px 10px rgba(126, 126, 126, .5);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-bottom: 47px;
  padding-top: 79px;
}

.about__column {
  background-repeat: no-repeat;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
}

.about__column--1 {
  margin-left: 10px;
  margin-right: 49px;
  width: 280px;
}

.about__column--2 {
  margin-right: 49px;
  width: 285px;
}

.about__column--3 {
  width: 277px;
}

.about__text {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.about__text--1 {
  padding-left: 54px;
}

.about__text--2 {
  padding-left: 58px;
}

.about__text--3 {
  padding-left: 54px;
}

.about__h2 {
  color: #fff;
  font-family: 'League Gothic', Arial, Helvetica, sans-serif;
  font-size: 30px;
  line-height: 24px;
  padding-bottom: 11px;
  text-shadow: 1px 1px 1px #000;
  text-transform: uppercase;
  vertical-align: top;
}

.about__p {
  color: #fff;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 100;
  letter-spacing: -.1px;
  line-height: 24px;
  text-shadow: 1px 1px 1px #000;
  vertical-align: top;
}

.about__p--a {
  text-align: right;
}

.about__p--a1 {
  margin-right: 12px;
  margin-top: 18px;
}

.about__p--a2 {
  margin-right: 8px;
  margin-top: 17px;
}

.about__p--a3 {
  margin-right: 12px;
  margin-top: 18px;
}

.about__a {
  color: #fff;
  font-family: 'League Gothic', Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-stretch: extra-condensed;
  text-decoration: none;
  text-shadow: 1px 1px 1px #000;
  text-transform: uppercase;
}

.about__a:hover {
  text-shadow: 0 0 10px #fff;
}


/* SPRITE */

.sprite {
  background-image: url('../img/icons.png');
  background-repeat: no-repeat;
  display: block;
  margin-left: 1px;
  margin-top: 3px;
}

.sprite-music {
  background-position: -5px -5px;
  float: left;
  height: 31px;
  left: 0;
  width: 29px;
}

.sprite-talk {
  background-position: -44px -5px;
  float: left;
  height: 29px;
  left: 0;
  margin-left: 2px;
  margin-top: 4px;
  width: 33px;
}

.sprite-wrench {
  background-position: -44px -44px;
  float: left;
  height: 31px;
  left: 0;
  width: 30px;
}


/* BLOG */

.blog {
  background-color: #f9f9f9;
  border-bottom: 1px solid #e6e6e6;
  border-top: 1px solid #12191f;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-bottom: 90px;
  padding-top: 99px;
}


/* SLIDER 2 */

.container__slider {
  display: inline-block;
  width: 460px;
}

.slider2 {
  float: left;
  left: 21px;
  position: relative;
  width: 428px;
}

.slider2__img {
  margin-left: -22px;
  margin-top: 19px;
  position: absolute;
}

.slider2__text {
  background-image: url('../img/white_back.png');
  border-bottom: 1px solid #f6f6f6;
  border-left: 1px solid #f6f6f6;
  border-right: 1px solid #f6f6f6;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 294px;
  padding: 32px 36px 28px 40px;
  width: 429px;
}

.slider2__h3 {
  color: #454545;
  font-family: 'League Gothic', Arial, Helvetica, sans-serif;
  font-size: 30px;
  line-height: 24px;
  margin-bottom: 12px;
  text-shadow: 0 0 2px #a8a8a8;
  text-transform: uppercase;
}

.slider2__a {
  color: #edbfff;
  text-decoration: none;
  text-shadow: none;
}

.slider2__a:hover {
  color: #d161fd;
}

.slider2__p {
  color: #454545;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 100;
  line-height: 24px;
  vertical-align: top;
  word-wrap: break-word;
}

.pointers-blog {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  float: left;
  height: 20px;
  left: 174px;
  margin-top: 1px;
  position: absolute;
  width: 95px;
}

.pointers__ul-blog {
  font-size: 0;
  letter-spacing: -1px;
  line-height: 0;
}

.pointers__li--blog {
  background-image: url('../img/light_circle.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  display: inline-block;
  height: 20px;
  margin-right: -2px;
  width: 20px;
}

.pointers__li--blog:hover,
.pointers__li--blog:active {
  background-image: url('../img/dark_circle.png');
  background-repeat: no-repeat;
  cursor: pointer;
}


/* UPDATES */

.updates {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  float: right;
  position: relative;
  right: 16px;
  width: 434px;
}

.updates__h3 {
  color: #454545;
  font-family: 'League Gothic', Arial, Helvetica, sans-serif;
  font-size: 30px;
  margin-bottom: 18px;
  margin-top: 30px;
  text-align: left;
  text-shadow: 0 0 2px #a8a8a8;
  text-transform: uppercase;
  word-spacing: 1px;
}

.updates__ul {
  font-size: 0;
  letter-spacing: -1px;
  line-height: 0;
}

.updates__li {
  display: block;
  margin-bottom: 17px;
}

.updates__li--second {
  margin-top: 19px;
}

.updates__background--1,
.updates__background--2,
.updates__background--3 {
  border-radius: 48px;
  height: 48px;
  width: 48px;
}

.updates__background--1 {
  background: url('../img/glare.jpg') 200px 50px;
}

.updates__background--2 {
  background: url('../img/glare.jpg') 200px 100px;
}

.updates__background--3 {
  background: url('../img/glare.jpg') 200px 150px;
}

.updates__h4 {
  color: #454545;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  letter-spacing: .6px;
  line-height: 24px;
  margin-left: 66px;
  margin-top: -50px;
  word-spacing: -2px;
}

.updates__p {
  color: #454545;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 100;
  letter-spacing: .2px;
  line-height: 24px;
  margin-left: 66px;
  word-spacing: -2px;
}

.updates__p--a {
  margin-right: 5px;
  margin-top: 24px;
  text-align: right;
}

.updates__a {
  color: #454545;
  font-family: 'League Gothic', Arial, Helvetica, sans-serif;
  font-size: 19px;
  text-decoration: none;
  text-transform: uppercase;
}

.updates__a:hover {
  color: #797878;
}


/* LOGOS */

.container__logos {
  background-color: #f9f9f9;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-bottom: 27px;
  padding-top: 25px;
}

.logos {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
  padding-left: 93px;
  width: 960px;
}

.logos__ul {
  font-size: 0;
  letter-spacing: -1px;
  line-height: 0;
  margin: 0 auto;
}

.logos__li {
  display: inline-block;
  font-size: 12px;
  letter-spacing: normal;
  line-height: normal;
  margin-right: 30px;
  text-align: left;
}

.logos__li:nth-of-type(2) {
  margin-right: 32px;
}

.logos__li:nth-of-type(3) {
  margin-right: 35px;
}

.logos__li:nth-of-type(4) {
  margin-right: 17px;
}

.logos__li:nth-of-type(5) {
  margin-right: 65px;
}

.logos__a {
  display: block;
  text-decoration: none;
  width: 104px;
}


/* NEW CATEGORIES */

.articles {
  background-color: #ececec;
  border-bottom: 1px solid #d8d8d8;
  border-top: 1px solid #d8d8d8;
  padding-bottom: 91px;
  padding-top: 93px;
}

.articles__div {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  margin-right: 54px;
  position: relative;
  width: 285px;
}

.articles__div--last {
  margin-right: 0;
}

.articles__h2 {
  color: #454545;
  font-family: 'League Gothic', Arial, Helvetica, sans-serif;
  font-size: 48px;
  letter-spacing: -.2px;
  line-height: 48px;
  margin-bottom: 11px;
  text-shadow: 0 1px 0 #000;
  text-transform: uppercase;
}

.articles__h2--gray {
  color: #b9b9b9;
  text-shadow: 0 1px 0 #b9b9b9;
}

.articles__subtitle {
  color: #c5c5c5;
  font-family: Georgia, serif;
  font-size: 16px;
  font-style: italic;
  line-height: 24px;
  margin-bottom: 7px;
}

.articles__h3 {
  color: #454545;
  font-family: 'League Gothic', Arial, Helvetica, sans-serif;
  font-size: 30px;
  line-height: 30px;
  margin-bottom: 9px;
  padding-top: 2px;
  text-transform: uppercase;
}

.articles__p {
  color: #787878;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 100;
  line-height: 24px;
}

.articles__p--padding {
  padding-left: 1px;
}


/* FOOTER */

.footer {
  background-color: #81828b;
  background-image: url('../img/footer960.jpg');
  background-position: center 0;
  background-repeat: no-repeat;
  -moz-background-size: 2400px 114px;
  -webkit-background-size: 2400px 114px;
  background-size: 2400px 114px;
  -moz-box-shadow: inset 0 4px 4px rgba(70, 70, 70, .5);
  -webkit-box-shadow: inset 0 4px 4px rgba(70, 70, 70, .5);
  box-shadow: inset 0 4px 4px rgba(70, 70, 70, .5);
  padding: 46px 0 68px;
}

.menu--footer {
  float: left;
  font-size: 0;
  letter-spacing: -1px;
  line-height: 0;
}

.menu__li--footer {
  display: inline-block;
  font-family: 'League Gothic', Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-style: normal;
  letter-spacing: normal;
  line-height: 20px;
  margin-right: 43px;
}

.menu__a--footer {
  color: #fff;
  text-decoration: none;
  text-shadow: 1px 2px 3px #464646;
  text-transform: uppercase;
}

.menu__a--footer:hover {
  color: #cfcfcf;
}


/* COPYRIGHT */

.copyright {
  float: right;
  margin-top: 7px;
}

.copyright__p {
  bottom: 0;
  color: #fff;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 100;
  text-align: right;
  text-shadow: 1px 2px 1px #7f7f7f;
}

.copyright__a {
  color: #fff;
  font-weight: 900;
  text-decoration: none;
  text-shadow: 1px 2px 1px #7f7f7f;
}

.copyright__a:hover {
  color: #cfcfcf;
}

.hidden960 {
  display: none;
}
