/* CLEARFIX */

.clearfix::after {
  clear: both;
  content: '.';
  display: block;
  height: 0;
  visibility: hidden;
}


/* HEADER */

.header {
  background-color: #ecd7de;
  background-image: url('../img/mountains480.jpg');
  background-position: center 0;
  background-repeat: no-repeat;
  -moz-background-size: auto;
  -webkit-background-size: auto;
  background-size: auto;
  border-bottom: 1px solid #37293e;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: auto;
  padding-bottom: 47px;
  padding-top: 69px;
  position: relative;
  width: 100%;
}

.container {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 480px;
  width: 100%;
}

.container--logos {
  background-color: #f9f9f9;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-bottom: 15px;
  padding-top: 36px;
}

.container--large-visible {
  display: none;
}


/* LOGO */

.logo {
  height: 41px;
  margin: 0 auto 21px;
  text-align: center;
  width: 154px;
}

.logo__link {
  text-decoration: none;
  text-transform: uppercase;
}

.logo__img {
  border-width: 0;
  height: 41px;
  width: 154px;
}


/* MENU */

.menu {
  font-size: 0;
  letter-spacing: -1px;
  line-height: 0;
}

.menu--header {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 246px;
}

.menu__item--first {
  border: 1px solid transparent;
}

.menu__item {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  font-family: 'League Gothic', Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-style: normal;
  height: 48px;
  letter-spacing: normal;
  line-height: 48px;
  vertical-align: middle;
  width: 246px;
  z-index: 3;
}

.menu__item--first {
  position: relative;
}

.menu__item--first:hover {
  background-color: rgb(62, 49, 70);
  background-color: rgba(62, 49, 70, .8);
  border-bottom: 1px solid #36283e;
  border-left: 1px solid #192227;
  border-radius: 11px 11px 0 0;
  border-right: 1px solid #192227;
  border-top: 1px solid #192227;
  -moz-box-shadow: inset 0 1px 1px #5f486a;
  -webkit-box-shadow: inset 0 1px 1px #5f486a;
  box-shadow: inset 0 1px 1px #5f486a;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.menu__item--drop-down {
  background-color: rgb(62, 49, 70);
  background-color: rgba(62, 49, 70, .8);
  border-bottom: 1px solid #36283e;
  border-left: 1px solid #192227;
  border-right: 1px solid #192227;
  border-top: 1px solid #5f486a;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
}

.menu__item--drop-down:last-of-type {
  border-radius: 0 0 11px 11px;
}

.menu--drop-down {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: none;
  font-size: 0;
  left: -1px;
  letter-spacing: -1px;
  line-height: 0;
  position: absolute;
  top: 47px;
  width: 246px;
}

.menu--footer {
  margin: 32px auto 37px;
}

.menu__item--first:hover > .menu--drop-down {
  display: block;
}

.menu__item--footer {
  display: inline-block;
  font-family: 'League Gothic', Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-style: normal;
  letter-spacing: normal;
  line-height: 20px;
  margin-right: 18px;
}

.menu__item--footer:last-of-type {
  margin-right: 3px;
}

/* LINKS DECORATION */

.menu__link {
  color: #fff;
  display: inline-block;
  line-height: 24px;
  padding: 0 5px 3px;
  text-decoration: none;
  text-transform: uppercase;
}

.menu__link--header {
  border-bottom: 2px solid #edbfff;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-shadow: 1px 2px 3px #7f7f7f;
}

.menu__link--header:hover {
  background-color: rgb(27, 12, 37);
  background-color: rgba(27, 12, 37, .8);
  border-bottom: 2px solid #edbfff;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 12px 0 8px;
  width: 244px;
}

.menu__link--drop-down {
  border-bottom: 2px solid transparent;
}

.menu__link--first {
  border-radius: 10px 10px 0 0;
}

.menu__link--drop-down--last {
  border-radius: 0 0 10px 10px;
}

.menu__link--footer {
  text-shadow: 1px 2px 3px #464646;
}

.menu__link--footer:hover {
  color: #cfcfcf;
}


/* SLIDER */

.slider {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 15px auto 0;
  max-width: 480px;
  position: relative;
  z-index: 1;
}

.slider--shadow {
  background-color: #827e8a;
  background-color: rgba(0, 0, 0, .2);
  cursor: pointer;
  height: 246px;
  margin-top: 25px;
  position: absolute;
  width: 100%;
  z-index: 2;
}

.slider__text {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  float: left;
  height: 56px;
  margin-left: 23px;
  margin-top: 101px;
  max-width: 225px;
}

.slider__p--subtitle--hidden {
  display: none;
}

.slider__picture {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: right;
  margin-right: 35px;
  max-width: 192px;
  width: 39%;
}

.slider__hgroup {
  color: #fefefe;
  font-family: 'League Gothic', Arial, Helvetica, sans-serif;
  font-size: 36px;
  letter-spacing: -.1px;
  line-height: 40px;
  padding-left: 20px;
  text-shadow: 1px 2px 1px #7f7f7f;
  text-transform: capitalize;
}

.slider__title {
  color: #edbfff;
  font-family: 'League Gothic', Arial, Helvetica, sans-serif;
  font-size: 18px;
  padding-left: 20px;
  text-shadow: 1px 2px 1px #7f7f7f;
  text-transform: uppercase;
}

.slider__img {
  height: auto;
  max-width: 192px;
}

.arrow {
  display: block;
  height: 42px;
  position: absolute;
  top: 111px;
  width: 30px;
}

.arrow--left {
  float: left;
  left: 0;
}

.arrow--right {
  float: right;
  right: 0;
}

.arrow__link {
  text-decoration: none;
}

.pointers {
  bottom: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  height: 20px;
}

.pointers--header {
  left: 205px;
  position: absolute;
  width: 95px;
}

.pointers--blog {
  margin: 20px auto 48px;
  width: 95px;
}

.pointers__list {
  font-size: 0;
  letter-spacing: -1px;
  line-height: 0;
}

.pointers__item {
  background-repeat: no-repeat;
  display: inline-block;
  height: 20px;
  width: 20px;
}

.pointers__item:hover,
.pointers__item:active {
  background-repeat: no-repeat;
  cursor: pointer;
}

.pointers__item--header {
  background-image: url('../img/gray_circle.png');
  margin-right: 3px;
}

.pointers__item--header-active {
  background-image: url('../img/white_circle.png');  
}

.pointers__item--header:hover {
  background-image: url('../img/white_circle.png');
}

.pointers__item--blog {
  background-image: url('../img/light_circle.png');
  margin-right: 3px;
}

.pointers__item--blog-active {
  background-image: url('../img/dark_circle.png');  
}

.pointers__item--blog:hover {
  background-image: url('../img/dark_circle.png');
}


/* ABOUT */

.about {
  background-color: #35273c;
  background-image: url('../img/purple480.jpg');
  background-repeat: repeat-x;
  background: -moz-linear-gradient(to bottom, #775385, #36293d);
  background: -o-linear-gradient(to bottom, #775385, #36293d);
  background: -webkit-linear-gradient(to bottom, #775385, #36293d);
  background: -webkit-gradient(to bottom, #775385, #36293d);
  background: linear-gradient(to bottom, #775385, #36293d);
  border-bottom: 1px solid #21333b;
  -moz-box-shadow: 0 5px 10px rgba(126, 126, 126, .5);
  -webkit-box-shadow: 0 5px 10px rgba(126, 126, 126, .5);
  box-shadow: 0 5px 10px rgba(126, 126, 126, .5);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-bottom: 43px;
  padding-top: 78px;
}

.about__column {
  background-repeat: no-repeat;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto 24px;
  max-width: 427px;
  width: 100%;
}

.about__column--last {
  margin-top: 28px;
}

.about__text {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  float: left;
  padding-left: 24px;
  max-width: 393px;
  width: 100%;
}

.about__title {
  color: #fff;
  font-family: 'League Gothic', Arial, Helvetica, sans-serif;
  font-size: 24px;
  line-height: 23px;
  padding-bottom: 4px;
  text-shadow: 1px 1px 1px #000;
  text-transform: uppercase;
}

.about__p {
  color: #fff;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 100;
  line-height: 24px;
  text-shadow: 1px 1px 1px #000;
  vertical-align: top;
}

.about__p--link {
  margin-top: 14px;
  text-align: right;
}

.about__link {
  color: #fff;
  font-family: 'League Gothic', Arial, Helvetica, sans-serif;
  font-size: 19px;
  font-stretch: extra-condensed;
  text-decoration: none;
  text-shadow: 1px 1px 1px #000;
  text-transform: uppercase;
}

.about__link:hover {
  text-shadow: 0 0 10px #fff;
}


/* SPRITE */

.sprite {
  background-image: url('../img/icons.png');
  background-repeat: no-repeat;
  display: block;
  margin-left: 4px;
}

.sprite-music {
  background-position: -44px -44px;
  float: left;
  height: 31px;
  left: 0;
  width: 30px;
}

.sprite-talk {
  background-position: -44px -44px;
  float: left;
  height: 31px;
  left: 0;
  width: 30px;
}

.sprite-wrench {
  background-position: -44px -44px;
  float: left;
  height: 31px;
  left: 0;
  width: 30px;
}


/* BLOG */

.blog {
  background-color: #f9f9f9;
  border-bottom: 1px solid #e6e6e6;
  border-top: 1px solid #12191f;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-bottom: 88px;
  padding-top: 70px;
}


/* SLIDER 2 */

.slider2 {
  margin-left: 42px;
  position: relative;
  width: 419px;
}

.slider2__img {
  margin-left: -22px;
  margin-top: 19px;
  position: absolute;
}

.slider2__text {
  background-color: #fff;
  border-bottom: 1px solid #f6f6f6;
  border-left: 1px solid #f6f6f6;
  border-right: 1px solid #f6f6f6;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 26px 29px 35px 40px;
}

.slider2__title {
  color: #454545;
  font-family: 'League Gothic', Arial, Helvetica, sans-serif;
  font-size: 30px;
  line-height: 30px;
  margin-bottom: 14px;
  text-shadow: 0 0 2px #a8a8a8;
  text-transform: uppercase;
}

.slider2__a {
  color: #edbfff;
  text-decoration: none;
  text-shadow: none;
}

.slider2__a:hover {
  color: #d161fd;
}

.slider2__p {
  color: #454545;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 100;
  line-height: 24px;
  vertical-align: top;
  word-wrap: break-word;
}


/* UPDATES */

.updates {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
  padding-left: 26px;
  width: 365px;
}

.updates__title {
  color: #454545;
  font-family: 'League Gothic', Arial, Helvetica, sans-serif;
  font-size: 29px;
  margin-bottom: 17px;
  padding-left: 4px;
  text-shadow: 0 0 2px #a8a8a8;
  text-transform: uppercase;
}

.updates__list {
  font-size: 0;
  letter-spacing: -1px;
  line-height: 0;
}

.updates__item {
  display: block;
  margin-bottom: 21px;
}

.updates__background {
  border-radius: 48px;
  height: 48px;
  width: 48px;
}

.updates__background--1 {
  background: url('../img/glare.jpg') 200px 50px;
}

.updates__background--2 {
  background: url('../img/glare.jpg') 200px 100px;
}

.updates__background--3 {
  background: url('../img/glare.jpg') 200px 150px;
}

.updates__subtitle {
  color: #454545;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  letter-spacing: .6px;
  line-height: 24px;
  margin-left: 66px;
  margin-top: -50px;
  word-spacing: -2px;
}

.updates__p {
  color: #454545;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 100;
  letter-spacing: .2px;
  line-height: 24px;
  margin-left: 66px;
  word-spacing: -2px;
}

.updates__p--link {
  margin-top: 19px;
  text-align: right;
}

.updates__link {
  color: #454545;
  font-family: 'League Gothic', Arial, Helvetica, sans-serif;
  font-size: 19px;
  text-decoration: none;
  text-transform: uppercase;
}

.updates__link:hover {
  color: #797878;
}


/* LOGOS */

.logos {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
  padding-left: 47px;
}

.logos__list {
  font-size: 0;
  letter-spacing: -1px;
  line-height: 0;
  margin: 0 auto;
}

.logos__item {
  display: inline-block;
  font-size: 12px;
  letter-spacing: normal;
  line-height: normal;
  margin-bottom: 21px;
  margin-right: 20px;
  text-align: center;
}

.logos__item:nth-of-type(1) {
  margin-left: 25px;
}

.logos__item:nth-of-type(4) {
  margin-right: 30px;
}

.logos__item:nth-of-type(5) {
  margin-right: 42px;
}

.logos__link {
  display: block;
  text-decoration: none;
  width: 104px;
}


/* NEW CATEGORIES */

.articles {
  background-color: #ececec;
  border-bottom: 1px solid #d8d8d8;
  border-top: 1px solid #d8d8d8;
  padding-bottom: 30px;
  padding-top: 21px;
}

.articles__div {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto 57px;
  width: 445px;
}

.articles__title--small {
  color: #454545;
  font-family: 'League Gothic', Arial, Helvetica, sans-serif;
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 9px;
  text-transform: uppercase;
}

.articles__p {
  color: #787878;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 100;
  line-height: 24px;
}


/* FOOTER */

.footer {
  background-color: #81828b;
  background-image: url('../img/footer480.jpg');
  background-position: center 0;
  background-repeat: no-repeat;
  -moz-background-size: 2399px 201px;
  -webkit-background-size: 2399px 201px;
  background-size: 2399px 201px;
  -moz-box-shadow: inset 0 4px 4px rgba(70, 70, 70, .5);
  -webkit-box-shadow: inset 0 4px 4px rgba(70, 70, 70, .5);
  box-shadow: inset 0 4px 4px rgba(70, 70, 70, .5);
  padding-bottom: 85px;
  padding-top: 47px;
}


/* COPYRIGHT */

.copyright {
  text-align: center;
}

.copyright__p {
  color: #fff;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 100;
  text-shadow: 1px 2px 1px #7f7f7f;
}

.copyright__link {
  color: #fff;
  font-weight: 900;
  text-decoration: none;
  text-shadow: 1px 2px 1px #7f7f7f;
}

.copyright__link:hover {
  color: #cfcfcf;
}

.hidden-phone,
.visible,
.visible-tablet,
.visible-large {
  display: none;
}
