@import "../core/_core.scss";
.form {
  &__input {
    width: 383px;
    height: 34px;
    border-width: 0;
    border-bottom: 1px solid $form-line;
    outline-width: 0;
    background-color: transparent;
    @include roboto-black;
    font-size: 13px;
    line-height: 1;
    letter-spacing: .5px;
    color: $black;
    text-transform: uppercase;
  }
  &__submit {
    width: 294px;
    height: 61px;
    border-width: 0;
    padding-left: 90px;
    @include retina('../images/button.png', 2, cover, top center no-repeat);
    @include roboto-black;
    font-size: 17px;
    line-height: 2.514;
    letter-spacing: 1px;
    text-align: left;
    text-transform: uppercase;
  }
}

::-webkit-input-placeholder {
  @include roboto-black;
  letter-spacing: .5px;
  color: $black;
  text-transform: uppercase;
}

::-moz-placeholder {
  @include roboto-black;
  letter-spacing: .5px;
  color: $black;
  text-transform: uppercase;
}

:-moz-placeholder {
  @include roboto-black;
  letter-spacing: .5px;
  color: $black;
  text-transform: uppercase;
}

:-ms-input-placeholder {
  @include roboto-black;
  letter-spacing: .5px;
  color: $black;
  text-transform: uppercase;
}