@import "../core/_core.scss";
.program-table {
  &__title {
    margin-bottom: 1.25rem;
  }
  &__table {
    margin-right: -1.563rem;
    border: .063rem solid $table-border;
    @include georgia-regular;
    font-size: 1rem;
    line-height: 2.4;
    color: $blue-gray;
  }
  &__td {
    padding-left: 1rem;
    padding-right: 1rem;
    border: .063rem solid $table-border;
  }
}