@import "../core/_core.scss";
.main {
  position: relative;
  display: flex;
  align-items: flex-end;
  padding-bottom: 4.875rem;
  &__img {
    position: relative;
    margin-top: 5.75rem;
    z-index: 2;
  }
  &__header {
    position: absolute;
    top: 0;
    right: 4.688rem;
    @include roboto-black;
    font-size: 12.5rem;
    line-height: 1;
    color: $light-gray;
    text-transform: uppercase;
  }
  &__title {
    position: absolute;
    z-index: 5;
    top: 6.125rem;
    right: 8.438rem;
    @include georgia-bold;
    font-size: 1.875rem;
    line-height: 1.667;
    letter-spacing: 0;
    color: $dark-gray;
    text-transform: capitalize;
  }
  &__list {
    margin-top: -15.75rem;
    margin-left: 3.563rem;
  }
  &__item {
    display: flex;
    align-items: center;
    margin-bottom: 1.25rem;
    @include georgia-regular;
    font-size: 1rem;
    color: $black;
  }
  &__icon {
    margin-right: .938rem;
  }
  &__price {
    display: block;
    margin-top: 1.563rem;
    margin-left: 3.563rem;
    @include georgia-bold;
    font-size: 1.938rem;
    &_big {
      font-size: 3.625rem;
    }
  }
  &__link {
    display: block;
    width: 15.313rem;
    height: 3.625rem;
    margin-top: 1.75rem;
    margin-left: 3.563rem;
    border-radius: .125rem;
    background-color: $black;
    @include roboto-black;
    font-size: .875rem;
    line-height: 3.625rem;
    letter-spacing: .063rem;
    vertical-align: middle;
    color: $white;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    &:hover {
      @include transition;
      background-color: #060303;
      color: #cfcece;
    }
  }
}