@import "../core/_core.scss";
.icon-arrow {
  width: 1rem;
  height: .563rem;
  fill: $yellow;
  &:hover {
    @include transition;
    fill: $circle;
  }
}

.icon-certificate {
  width: 1.938rem;
  height: 1.875rem;
}

.icon-clock {
  width: 1.938rem;
  height: 1.875rem;
}

.icon-red-mark {
  width: .875rem;
  height: .875rem;
}

.icon-green-mark {
  width: 1rem;
  height: .813rem;
}

.icon-phone,
.icon-location,
.icon-envelope {
  width: 2.188rem;
  height: 2.188rem;
}

.icon-facebook {
  width: 2.375rem;
  height: 2.375rem;
  background-color: $white;
  border-radius: 50%;
  fill: #4267B2;
  &:hover {
    @include transition;
    fill: #2751a4;
  }
}