/* Reset CSS */

div,
span,
p,
a,
img,
ul,
li {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ul {
  list-style: none;
}


/* Plugin styles */

.clearfix::after {
  clear: both;
  content: ' ';
  display: block;
  float: none;
}

.carousel-container {
  width: 745px;
}

.carousel-hider {
  float: left;
  left: 15px;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 650px;
}

.carousel-list {
  list-style: none;
  position: relative;
  width: 10000px;
}

.carousel-element {
  display: block;
  float: left;
  margin-right: 25px;
}

.carousel-element img {
  height: 166px;
  width: 85px;
}

.carousel-element p {
  margin-top: 5px;
  text-align: center;
}

.carousel-arrow-left,
.carousel-arrow-right {
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  color: #fff;
  display: block;
  font-family: Arial, sans-serif;
  font-size: 33px;
  height: 40px;
  line-height: 40px;
  margin-top: 63px;
  text-align: center;
  text-decoration: none;
  -o-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  width: 40px;
}

.inactive {
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, .5);
}

.active {
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, .8);
}

.active:hover {
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 1);
  cursor: pointer;
}

.carousel-arrow-left {
  float: left;
  left: 10px;
}

.carousel-arrow-right {
  float: right;
  right: 10px;
}