@import "../core/_core.scss";
.accordion {
  display: block;
  margin-bottom: .313rem;
  height: 2.438rem;
  @include ubuntu-medium;
  font-size: .813rem;
  line-height: 2.438rem;
  vertical-align: middle;
  text-transform: uppercase;
  text-decoration: none;
  color: $services-background;
  &:hover {
    background-color: $yellow;
    color: $white;
    &:before {
      border-right: .063rem solid $accordion-open;
    }
  }
  &:before {
    display: inline-block;
    width: 2.375rem;
    height: 2.375rem;
    margin-right: .813rem;
    border-right: .125rem solid $accordion-closed;
    content: '+';
    text-align: center;
  }
}

.closed {
  display: block;
  height: 2.375rem;
  border: .063rem solid $accordion-closed;
  background-color: $white;
  color: $services-background;
  cursor: pointer;
}

.open {
  background-color: $yellow;
  color: $white;
  &:before {
    display: inline-block;
    width: 2.375rem;
    margin-right: .813rem;
    border-right: .063rem solid $accordion-open;
    content: '-';
    text-align: center;
  }
}

.accordion-content {
  padding: 1.875rem 2.188rem;
  font-family: Arial, sans-serif;
  font-size: .813rem;
  line-height: 1.538;
  color: $features-text;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}