@import "../core/_core.scss";
.logo {
  @include reset;
  @include retina('../images/logo.png', 2, 36px 36px, center left no-repeat);
  @include link;
  padding-left: 48px;
  filter: contrast(1);
  &:hover {
    filter: contrast(1.5);
  }

  @include el('title') {
    @include reset;
    @include ubuntu-medium;
    font-size: 30px;
    line-height: .667;
    filter: inherit;
  }

  @include el('subtitle') {
    @include reset;
    @include ubuntu-light;
    font-size:12px;
    line-height: 1.667;
    letter-spacing: 3.5px;
    text-transform: uppercase;
    opacity: .65;
    filter: inherit;
  }
}