@import "../core/_core.scss";
.form {
  &__list {
    font-size: 0;
    line-height: 0;
    letter-spacing: -.063rem;
  }
  &__item {
    display: inline-block;
    padding: 1.125rem 1.25rem;
    border-right: .063rem solid $menu-line;
    font-size: .688rem;
    letter-spacing: normal;
    vertical-align: middle;
    &:first-of-type {
      padding-left: 0;
    }
    &:last-of-type {
      padding-right: 0;
      border-width: 0;
    }
  }
}

.select {
  display: inline-block;
  padding-right: 1.25rem;
  border-width: 0;
  outline-width: 0;
  background-color: $white;
  @include lato-bold;
  font-size: .688rem;
  line-height: 1;
  letter-spacing: .031rem;
  color: $light-grey;
  color: $light-grey-transparent;
  text-transform: uppercase;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

.label {
  position: relative;
  &:after {
    position: absolute;
    display: block;
    width: .438rem;
    height: .25rem;
    right: .375rem;
    top: .25rem;
    content: '';
    @include retina('../images/arrow.png', 2, .438rem .25rem, top center no-repeat);
    background: url('../images/black-arrow.svg'), .438rem .25rem, top center no-repeat;
    pointer-events: none;
  }
  &:before {
    position: absolute;
    display: block;
    width: .625rem;
    height: .938rem;
    top: 0;
    right: .375rem;
    content: '';
    background-color: $white;
    pointer-events: none;
  }
}