@import "../core/_core.scss";
.footer {
  display: flex;
  align-items: center;
  height: 113px;
}

.footer-menu {
  &__list {
    @include list;
  }
  &__item {
    display: inline-block;
    margin-right: 55px;
    &:last-of-type {
      margin-right: 0;
    }
  }
}

.copyright {
  @include lato-bold;
  font-size: .75rem;
  line-height: 1;
  letter-spacing: 1.2px;
  color: $light-grey;
  color: $light-grey-transparent;
}