@import "../core/_core.scss";
.container {
  width: 1140px;
  margin: 0 auto;
  &__centered {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__small-menu {
    height: 43px;
  }
  &__main-menu {
    height: 101px;
  }
}

.small-menu {
  border-bottom: 1px solid $menu-line;
  &__list {
    @include list;
  }
  &__item {
    display: inline-block;
    margin-right: 34px;
    &:last-of-type {
      margin-right: 0;
    }
  }
}

.nav {
  border-bottom: 1px solid $menu-line;
  &__list {
    @include list;
  }
  &__item {
    display: inline-block;
    margin-right: 55px;
    &:last-of-type {
      margin-right: 0;
    }
  }
}

.right-group {
  display: flex;
  align-items: center;
  height: 101px;
  &__list {
    @include list;
  }
  &__item {
    display: inline-block;
    margin-right: 20px;
    vertical-align: middle;
    &:last-of-type {
      margin-right: 0;
    }
  }
}

