@import "../core/_core.scss";
.products {
  width: 1140px;
  margin: 0 auto;
  padding-top: 93px;
  padding-bottom: 55px;
  text-align: center;
  &__title {
    @include playfair;
    font-size: 3.625rem;
    line-height: 1;
    color: $active;
  }
  &__menu {
    margin-top: 60px;
  }
  &__content {
    display: flex;
    flex-flow: row wrap;
    padding-top: 45px;
  }
  &__list {
    @include list;
  }
  &__item {
    display: inline-block;
    margin-right: 29px;
    width: 263px;
    &:nth-of-type(4n) {
      margin-right: 0;
    }
  }
  &__button {
    margin-top: 17px;
  }
}

.categories {
  display: flex;
  justify-content: center;
  &__item {
    display: inline-block;
    margin-right: 55px;
    &:last-of-type {
      margin-right: 0;
    }
  }
}