@import "../core/_core.scss";
.subscribe {
  padding-top: 47px;
  padding-bottom: 70px;
  background-color: $subscribe-background;
  @include retina('../images/subscribe-backtround.jpg', 2, cover, top center no-repeat);
  text-align: center;
  &__title {
    @include lato-bold;
    font-size: .75rem;
    line-height: 4.5;
    letter-spacing: 1.3px;
    opacity: .6;
    color: $active;
    text-transform: uppercase;
    vertical-align: top;
  }
  &__subtitle {
    @include playfair;
    font-size: 2.375rem;
    line-height: 1;
    vertical-align: top;
    color: $white;
  }
  &__form {
    margin-top: 27px;
  }
  &__list {
    @include list;
  }
  &__item {
    display: inline-block;
  }
}