<div class="works-wrapper">
  <section class="works section container">
    <h2 class="title-line title-line__left">Примеры наших работ</h2>
    <article class="article">
      <h3 class="article__subtitle">Система учета доходов физических лиц. Заказчик: Министерство по налогам и сборам.</h3>
      <p class="article__paragraph"><span class="bold">Основные задачи системы:</span> сбор, контроль и анализ информации о доходах (расходах) и имуществе физических лиц. Консолидация всех данных о доходах (расходах) и имуществе в одной (центральной) базе данных с привязкой к единому учётному номеру плательщика, для последующей рассылки в районные инспекции МНС по месту проживания граждан. Контроль над декларированием и расчёт подоходного налога </p>
      <div class="row">
        <div class="col-sm-6 col-md-6">
          <p class="bold">Средства разработки</p>
          <p class="article__paragraph">Oracle Forms 10g; Oracle Reports 10g; СУБД Oracle 10g for SLES; SQL; PL/SQL; XML; Eclipse; Java; GWT</p>
          <p class="bold">Трудозатраты </p>
          <p class="article__paragraph">Разработка и внедрение: 5 человек 1.5 года
            <br> Добавление новых функций и сопровождение: 2 человека ежегодно</p>
          <button class="button article__button">Еще работы</button>
        </div>
        <div class="col-sm-6 col-md-4 col-md-offset-2">
          <figure class="article__figure">
            <p>
              <img src="images/screen.png" alt="screenshot" data-rjs="2" class="article__img">
            </p>
            <figcaption>www.nalog.gov.by</figcaption>
          </figure>
        </div>
      </div>
    </article>
  </section>
</div>
