a {
  text-decoration: none;
}

h1 {
  @include font(100);
  font-size: 30px;
  @media (min-width: 640px) {
    font-size: 44px;
  }
}

p {
  padding-bottom: 8px;
  @include font(300);
  font-size: 16px;
  line-height: 1.5;
}