$white: #fff;
$black: #000;
$gray: #626262;
$blue: #003471;
$gray-text: #676767;
$dark-accent: #001738;
$light-accent: #26FCD8;
$ligth-accent-hover: #52FCE0;
$light-gray: #ebebeb;
$shadow: #333;
$dark-shadow: rgba(0, 0, 0, .8);
