html,
body {
  background-color: #262932;
  background-image: url('../images/background.jpg');
  background-repeat: repeat;
  height: 100%;
}

.container {
  padding-top: 100px;
}

.timer {
  margin: 0 auto;
  width: 600px;
}

.title {
  color: #a0a0a0;
  font-family: 'Helvetica UltraLight';
  font-size: 42px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 3px;
  margin-bottom: 50px;
  text-align: center;
  text-transform: uppercase;
}

.subtitle {
  color: #737373;
  font-family: 'Helvetica UltraLight';
  font-size: 20px;
  font-style: normal;
  font-weight: 100;
  letter-spacing: 3px;
  margin-bottom: 40px;
  text-transform: uppercase;
}

.name-hours {
  margin-left: 15px;
}

.name-minutes {
  margin-left: 45px;
}

.name-seconds {
  margin-left: 26px;
}

.name-mill {
  margin-left: 15px;
}

.time {
  background-color: #212121;
  background: -o-linear-gradient(to bottom, #202020, #2a2a2a, #202020);
  background: -moz-linear-gradient(to bottom, #202020, #2a2a2a, #202020);
  background: -webkit-gradient(to bottom, #202020, #2a2a2a, #202020);
  background: -webkit-linear-gradient(to bottom, #202020, #2a2a2a, #202020);
  background: linear-gradient(to bottom, #202020, #2a2a2a, #202020);
  border: 1px solid #0f0f0f;
  border-radius: 5px;
  color: #fff;
  font-family: 'Helvetica Bold';
  font-size: 60px;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 5px;
  padding: 20px 15px;
}

.colon {
  color: #20201f;
  font-family: 'Helvetica Bold';
  font-size: 60px;
  font-style: normal;
  font-weight: bold;
  padding: 0 5px;
}

.buttons {
  margin: 80px auto;
  width: 500px;
}

.btn {
  background-color: transparent;
  color: #737373;
  font-family: 'Helvetica UltraLight';
  font-size: 38px;
  font-style: normal;
  font-weight: 100;
  letter-spacing: 3px;
  text-transform: uppercase;
  width: 25%;
}

.btn,
.btn:focus,
.btn:active {
  outline-width: 0;
}

.btn:active,
.btn:hover {
  color: #d0cfcf;
  cursor: pointer;
}

.start,
.split {
  margin-right: 9%;
}

.div-split {
  margin: 30px auto;
  width: 400px;
}

.splited {
  color: #a0a0a0;
  font-family: 'Helvetica UltraLight';
  font-size: 26px;
  font-style: normal;
  font-weight: 100;
  letter-spacing: 2px;
  line-height: 1.5;
  text-align: center;
}