@import "../core/_core.scss";
.footer {
  padding-top: 2.5rem;
  padding-bottom: 2.75rem;
  font-family: 'Open Sans Light';
  font-size: .875rem;
  color: $white;
  font-weight: 300;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
  &__icons {
    margin-top: 2.125rem;
  }
}