@import "../core/_core.scss";
.hire-me {
  color: $gray-text;
  &__title {
    color: $dark-accent;
  }
  &__text {
    margin-bottom: 2rem;
    &_center {
      text-align: center;
    }
    &_left {
      text-align: center;
      @media (min-width: 40rem) {
        text-align: left;
      }
    }
  }
  &__subtitle {
    font-family: 'Open Sans Bold';
    font-weight: bold;
    font-style: normal;
    line-height: 1.5;
    text-align: center;
    color: $dark-accent;
    @media (min-width: 40rem) {
      text-align: left;
    }
  }
}

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  @media (min-width: 40rem) {
    flex-direction: row;
  }
  &__item {
    @media (min-width: 40rem) {
      margin-right: 5rem;
      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}