@import "../core/_core.scss";
.nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &_header {
    padding-top: 1.188rem;
    padding-bottom: 1.188rem;
    @media (min-width: 40rem) {
      flex-direction: row;
      justify-content: space-between;
    }
  }
}