@import "../core/_core.scss";
.nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &_header {
    padding-top: 1.188rem;
    padding-bottom: 1.188rem;
    @media (min-width: 40rem) {
      flex-direction: row;
      justify-content: space-between;
    }
  }
  &_footer {
    @media (min-width: 40rem) {
      flex-direction: row;
    }
  }
  &__title {
    padding-bottom: 1.875rem;
    @media (min-width: 40rem) {
      padding-bottom: 0;
    }
  }
  &__list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    &_header {
      @media (min-width: 40rem) {
        margin-left: 5rem;
        justify-content: flex-end;
      }
      @media (max-width: 40rem) {
        width: 20rem;
      }
    }
    &_footer {}
  }
  &__item {
    width: 50%;
    &_header {
      @media (min-width: 40rem) {
        width: 7rem;
      }
      @media (min-width: 64rem) {
        border-right: .063rem solid $light-gray;
        &:last-of-type {
          border-right: .063rem solid transparent;
        }
      }
    }
    &_footer {
      @media (min-width: 40rem) {
        width: auto;
        margin-right: 3rem;
        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }
  &__link {
    position: relative;
    display: block;
    height: 3.125rem;
    font-family: 'Open Sans Regular';
    font-size: .875rem;
    line-height: 3.125rem;
    vertical-align: middle;
    font-weight: normal;
    font-style: normal;
    text-align: center;
    text-transform: uppercase;
    &_header {
      color: $dark-accent;
      &:hover {
        @include transition;
        color: $light-accent;
      }
      @media (min-width: 40rem) {
        width: 7rem;
      }
    }
    &_footer {
      color: $white;
      &:hover {
        @include transition;
        color: $dark-accent;
      }
    }
  }
}