@import "../core/_core.scss";
.promo {
  padding-top: 5rem;
  padding-bottom: 5rem;
  text-align: center;
  text-transform: uppercase;
  color: $white;
  @media (min-width: 40rem) {
    padding-top: 9rem;
    padding-bottom: 8rem;
  }
  @media (min-width: 64rem) {
    padding-top: 19rem;
    padding-bottom: 14.75rem;
  }
  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1.5rem;
    @media (min-width: 40rem) {
      flex-direction: row;
    }
  }
  &__item {
    font-size: 1.25rem;
    font-family: 'Lato Bold';
    font-weight: bold;
    font-style: normal;
    line-height: 1.4;
    @media (min-width: 40rem) {
      text-align: center;
      &::after {
        content: '|';
        margin-bottom: 0;
        margin-left: .375rem;
        margin-right: .375rem;
      }
      &:last-of-type {
        &::after {
          content: '';
        }
      }
    }
  }
  &__link {
    display: block;
    width: 8.625rem;
    height: 2.125rem;
    margin: 3rem auto 0;
    background-color: $light-accent;
    border-radius: .1875rem;
    box-shadow: .063rem .108rem .125rem 0 $black;
    font-size: 1rem;
    line-height: 2.125rem;
    vertical-align: middle;
    font-family: 'Lato Regular';
    font-weight: normal;
    font-style: normal;
    color: $white;
    &:hover {
      @include transition;
      background-color: $ligth-accent-hover;
    }
  }
}