@import "../core/_core.scss";
.works {
  &__header {
    height: 5.625rem;
    text-transform: uppercase;
    color: $white;
  }
  &__title {
    font-size: 1.625rem;
    font-family: 'Lato Light';
    font-weight: 300;
    font-style: normal;
    line-height: 5.625rem;
    vertical-align: middle;
  }
  &__text {}
  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @media (min-width: 40rem) {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
  &__item {
    margin: 0 auto 1.875rem;
    @media (min-width: 40rem) {
      margin: 0 .938rem 1.875rem;
    }
  }
}