@import "../core/_core.scss";
.wrapper {
  &_nav {
    top: 0;
    width: 100%;
    background-color: $white;
    @media (min-width: 64rem) {
      position: fixed;
      z-index: 25;
    }
  }
  &_promo {
    background-color: $dark-accent;
    @include retina('../images/promo-mobile.jpg', 2, cover, top center no-repeat);
    height: 52.5rem;
    @media (min-width: 40rem) {
      @include retina('../images/promo-medium.jpg', 2, cover, top center no-repeat);
      background-attachment: fixed;
      height: 28rem;
    }
    @media (min-width: 64rem) {
      @include retina('../images/promo-large.jpg', 2, cover, top center no-repeat);
      background-attachment: fixed;
      height: 52.5rem;
    }
  }
  &_dark {
    background-color: $dark-accent;
  }
  &_light {
    background-color: $light-accent;
  }
  &_gray {
    background-color: $light-gray;
    padding-top: 3.75rem;
    padding-bottom: 5.625rem;
  }
  &_hire {
    background-color: $light-gray;
    @media (min-width: 40rem) {
      @include retina('../images/map-medium.jpg', 2, cover, top center no-repeat);
    }
    @media (min-width: 64rem) {
      @include retina('../images/map-large.jpg', 2, cover, top center no-repeat);
    }
  }
  &_footer-nav {
    background-color: $light-accent;
  }
}