<div class="wrapper wrapper__programs">
  <section class="programs" id="program">
    <div class="container">
      <header>
        <h2 class="programs__title">programs</h2>
        <p class="programs__subtitle">We share their experience and professional barista championships multiple winners</p>
      </header>
      <div class="programs__content">
        <div class="tabs">
          <ul class="tabs__list">
            <li class="tabs__item"><a href="#basic" class="tabs__link active">basic</a></li>
            <li class="tabs__item"><a href="#premium" class="tabs__link">premium</a></li>
            <li class="tabs__item"><a href="#platinum" class="tabs__link">platinum</a></li>
          </ul>

          <div class="tabs__content" id="basic">
            <div class="main">
              <div class="main__header">basic
                <h3 class="main__title">Beginners course</h3>
              </div>

              <div class="main__img">
                <img src="images/programms-photo.jpg" alt="coffee machine" data-rjs="2">
              </div>

              <div>
                <ul class="main__list">
                  <li class="main__item">
                    <svg class="icon-sertificate main__icon">
                      <use xlink:href="./i/sprite_programs.svg#certificate"></use>
                    </svg>
                    Certificate
                  </li>
                  <li class="main__item">
                    <svg class="icon-clock main__icon">
                      <use xlink:href="./i/sprite_programs.svg#clock"></use>
                    </svg>
                    240 minutes
                  </li>
                </ul>
                <span class="main__price"><span class="main__price_big">1 500</span>usd</span>
                <a href="" class="main__link">registration</a>
              </div>
            </div>

          </div>

          <div class="tabs__content hidden" id="premium">
            <div class="main">
              <div class="main__header">premium
                <h3 class="main__title">Beginners course</h3>
              </div>

              <div class="main__img">
                <img src="images/programms-photo.jpg" alt="coffee machine" data-rjs="2">
              </div>

              <div>
                <ul class="main__list">
                  <li class="main__item">
                    <svg class="icon-sertificate main__icon">
                      <use xlink:href="./i/sprite_programs.svg#certificate"></use>
                    </svg>
                    Certificate
                  </li>
                  <li class="main__item">
                    <svg class="icon-clock main__icon">
                      <use xlink:href="./i/sprite_programs.svg#clock"></use>
                    </svg>
                    360 minutes
                  </li>
                </ul>
                <span class="main__price"><span class="main__price_big">2 000</span>usd</span>
                <a href="" class="main__link">registration</a>
              </div>
            </div>
          </div>

          <div class="tabs__content hidden" id="platinum">
            <div class="main">
              <div class="main__header">platinum
                <h3 class="main__title">Beginners course</h3>
              </div>

              <div class="main__img">
                <img src="images/programms-photo.jpg" alt="coffee machine" data-rjs="2">
              </div>

              <div>
                <ul class="main__list">
                  <li class="main__item">
                    <svg class="icon-sertificate main__icon">
                      <use xlink:href="./i/sprite_programs.svg#certificate"></use>
                    </svg>
                    Certificate
                  </li>
                  <li class="main__item">
                    <svg class="icon-clock main__icon">
                      <use xlink:href="./i/sprite_programs.svg#clock"></use>
                    </svg>
                    480 minutes
                  </li>
                </ul>
                <span class="main__price"><span class="main__price_big">2 500</span>usd</span>
                <a href="" class="main__link">registration</a>
              </div>
            </div>
          </div>

        </div>

        <div class="row">

          <div class="col-md-4 col-lg-4">
            <article class="program-column programs__column">
              <h3 class="program-column__title">Provenance coffee and basic concepts:</h3>
              <ul class="program-column__list">
                <li class="program-column__item">Legend of the origin of coffee.</li>
                <li class="program-column__item">Chronicle of the spread of the coffee tree</li>
                <li class="program-column__item">What is coffee?</li>
                <li class="program-column__item">The structure of the coffee berry</li>
                <li class="program-column__item">Arabica and Robusta</li>
                <li class="program-column__item">Coffee Belt land</li>
                <li class="program-column__item">Fruiting coffee tree</li>
                <li class="program-column__item">Seven steps of the coffee plantation to the consumer</li>
                <li class="program-column__item">Breeding and hybridization of coffee tree</li>
              </ul>
            </article>
          </div>
          <div class="col-md-4 col-lg-4">
            <article class="program-column programs__column">
              <h3 class="program-column__title">Coffee production technology:</h3>
              <ul class="program-column__list">
                <li class="program-column__item">Methods for collecting coffee berries</li>
                <li class="program-column__item">Processing collected berries</li>
                <li class="program-column__item">Calibration and sorting</li>
                <li class="program-column__item">Some methods of classification and labeling of coffee beans.</li>
                <li class="program-column__item">Formation of grade names.</li>
                <li class="program-column__item">Storage of green (not fried) Coffee</li>
              </ul>
            </article>
          </div>
          <div class="col-md-4 col-lg-4">
            <article class="program-column programs__column">
              <h3 class="program-column__title">Roasting Technology bean. And stage types of roasting.</h3>
              <ul class="program-column__list">
                <li class="program-column__item">The technology of roasting coffee beans.</li>
                <li class="program-column__item">Changes in the beans.</li>
                <li class="program-column__item">Stages and types of roasting.</li>
                <li class="program-column__item">Roasted coffee. Monosorta and hood.</li>
                <li class="program-column__item">Decaffeination of coffee</li>
                <li class="program-column__item">Flavoring</li>
                <li class="program-column__item">Storage roasted coffee</li>
              </ul>
            </article>
          </div>
        </div>

        <div class="row">
          <div class="col-md-7 col-lg-7 program-table programs__table">
            <h3 class="program-table__title">The course also includes:</h3>
            <table class="program-table__table">
              <tr>
                <td class="program-table__td">
                  <svg class="icon-green-mark">
                    <use xlink:href="./i/sprite_programs.svg#green-mark"></use>
                  </svg>
                </td>
                <td class="program-table__td">Coffee machine and grinder - practice - types of coffee machines and coffee grinders</td>
              </tr>
              <tr>
                <td class="program-table__td">
                  <svg class="icon-green-mark">
                    <use xlink:href="./i/sprite_programs.svg#green-mark"></use>
                  </svg>
                </td>
                <td class="program-table__td">What makes professional coffee machines and coffee grinders.</td>
              </tr>
              <tr>
                <td class="program-table__td">
                  <svg class="icon-red-mark">
                    <use xlink:href="./i/sprite_programs.svg#red-mark"></use>
                  </svg>
                </td>
                <td class="program-table__td">Main components of coffee machines and coffee-Lathes, autolathes. Their purpose</td>
              </tr>
              <tr>
                <td class="program-table__td">
                  <svg class="icon-red-mark">
                    <use xlink:href="./i/sprite_programs.svg#red-mark"></use>
                  </svg>
                </td>
                <td class="program-table__td">How to choose a coffee machine and coffee grinder</td>
              </tr>
              <tr>
                <td class="program-table__td">
                  <svg class="icon-red-mark">
                    <use xlink:href="./i/sprite_programs.svg#red-mark"></use>
                  </svg>
                </td>
                <td class="program-table__td">The structure of the machine. How to maintain, clean and customize coffee machine</td>
              </tr>
              <tr>
                <td class="program-table__td">
                  <svg class="icon-red-mark">
                    <use xlink:href="./i/sprite_programs.svg#red-mark"></use>
                  </svg>
                </td>
                <td class="program-table__td">The structure of the grinders. How to maintain, clean and customize coffee Molko</td>
              </tr>
              <tr>
                <td class="program-table__td">
                  <svg class="icon-green-mark">
                    <use xlink:href="./i/sprite_programs.svg#green-mark"></use>
                  </svg>
                </td>
                <td class="program-table__td">Making beverages - praktika- machines and espresso rules</td>
              </tr>
              <tr>
                <td class="program-table__td">
                  <svg class="icon-red-mark">
                    <use xlink:href="./i/sprite_programs.svg#red-mark"></use>
                  </svg>
                </td>
                <td class="program-table__td">Technology and regulations frothed milk</td>
              </tr>
              <tr>
                <td class="program-table__td">
                  <svg class="icon-red-mark">
                    <use xlink:href="./i/sprite_programs.svg#red-mark"></use>
                  </svg>
                </td>
                <td class="program-table__td">Terms of tasting coffee</td>
              </tr>
              <tr>
                <td class="program-table__td">
                  <svg class="icon-red-mark">
                    <use xlink:href="./i/sprite_programs.svg#red-mark"></use>
                  </svg>
                </td>
                <td class="program-table__td">Terms of preparation of standard drinks line: espresso, cappuccino, latte and others.</td>
              </tr>
              <tr>
                <td class="program-table__td">
                  <svg class="icon-red-mark">
                    <use xlink:href="./i/sprite_programs.svg#red-mark"></use>
                  </svg>
                </td>
                <td class="program-table__td">Latte Art - Features practice and the importance of Latte Art in business and the barista</td>
              </tr>
              <tr>
                <td class="program-table__td">
                  <svg class="icon-red-mark">
                    <use xlink:href="./i/sprite_programs.svg#red-mark"></use>
                  </svg>
                </td>
                <td class="program-table__td">1 views Latte Art - Pitching</td>
              </tr>
              <tr>
                <td class="program-table__td">
                  <svg class="icon-red-mark">
                    <use xlink:href="./i/sprite_programs.svg#red-mark"></use>
                  </svg>
                </td>
                <td class="program-table__td">2 views Latte Art - topping</td>
              </tr>
              <tr>
                <td class="program-table__td">
                  <svg class="icon-red-mark">
                    <use xlink:href="./i/sprite_programs.svg#red-mark"></use>
                  </svg>
                </td>
                <td class="program-table__td">3 views Latte Art - Etching</td>
              </tr>
              <tr>
                <td class="program-table__td">
                  <svg class="icon-red-mark">
                    <use xlink:href="./i/sprite_programs.svg#red-mark"></use>
                  </svg>
                </td>
                <td class="program-table__td">4 views Latte Art - chocolate chip stencils</td>
              </tr>
            </table>
          </div>
        </div>

      </div>
    </div>
  </section>
</div>