// div, span, h1, h2, h3, p, a, img, ul, li,
// form, article, figure, figcaption, footer,
// header, nav, section
@mixin reset {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

@mixin clearfix {
  &::after {
    clear: both;
    content: '.';
    display: block;
    height: 0;
    visibility: hidden;
  }
}


@mixin list {
  @include reset;
  list-style: none;
  display: flex;
}

@mixin link {
  border: none;
  outline: none;
  color: inherit;
  text-decoration: none;
  transition: all .3s ease;
}

@mixin ubuntu-medium {
  font-family: 'Ubuntu Medium', Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}

@mixin ubuntu-condensed {
  font-family: 'Ubuntu Condensed', Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}

@mixin ubuntu-light {
  font-family: 'Ubuntu Light', Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}

@mixin container {
  max-width: 72.5rem;
  margin: 0 auto;
}
