.card-link {
  display: block;
  color: $white;
}

.card {
  @include el('img') {
    width: 100%;
    height: auto;
  }

  @include el('shadow') {
    position: absolute;
    z-index: 20;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: $dark-shadow;
    padding: 32px;
    text-align: center;
  }

  @include el('title') {
    margin-bottom: 22px;
    font-size: 30px;
    @include font(300);
    text-transform: capitalize;
    line-height: 1.1;
  }

  @include el('text') {
    line-height: 1.2;
  }
}

.card-link:hover > .card__shadow {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.5s linear;
}