.container {
  box-sizing: border-box;
  min-width: 320px;
  max-width: 480px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;

  @media (min-width: 640px) {
    max-width: 640px;
  }

  @media (min-width: 768px) {
    max-width: 750px;
  }

  @media (min-width: 1024px) {
    max-width: 992px;
  }

  @media (min-width: 1280px) {
    max-width: 1200px;
  }

  @include el('') {
    padding: 0;
  }
}