svg {
  display: block;
}

.icon {
  @include el('list') {
    display: flex;
    justify-content: center;
  }

  @include el('item') {
    margin-right: 20px;

    &:last-of-type {
      margin-right: 0;
    }
  }

  @include el('link') {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;

    @include mod('contact') {
      background-color: $dark-accent;

      &:hover {
        @include transition;
        background-color: $light-accent;
      }
    }

    @include mod('footer') {
      background-color: $light-accent;

      &:hover {
        @include transition;
        background-color: $white;
      }
    }
  }

  @include el('svg') {
    width: 24px;
    height: 24px;

    @include mod('contact') {
      fill: $light-gray;
    }

    @include mod('footer') {
      fill: $dark-accent;
    }
  }
}