.section {
  padding-top: 60px;
  padding-bottom: 90px;

  @include el('title') {
    position: relative;
    display: block;
    width: 234px;
    height: 60px;
    margin: 0 auto 60px;
    border: 1px solid $light-gray;
    border-radius: 10px;
    @include font(100);
    font-size: 36px;
    line-height: 60px;
    text-align: center;
    text-transform: capitalize;
    vertical-align: middle;

    &::before {
      position: absolute;
      top: -60px;
      left: 116px;
      display: block;
      width: 1px;
      height: 60px;
      content: '';
      background-color: $light-gray;
    }

    @include mod('dark') {
      color: $dark-accent;
      border-color: $blue;

      &::before {
        background-color: $blue;
      }
    }
  }

  @include el('content') {
    @media (min-width: 640px) {
      width: 80%;
      margin: 0 auto;
    }

    @media (min-width: 1024px) {
      width: 70%;
    }
  }
}