@import "../core/_core.scss";
.menu {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
  &_header {
    @media (min-width: 640px) {
      margin-left: 80px;
      justify-content: flex-end;
    }
    @media (max-width: 640px) {
      width: 320px;
    }
  }
  &__item {
    &_header {
    
    }
  }
  &__link {
    position: relative;
    display: block;
    padding: 16px 24px;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen-Sans, Cantarell, Helvetica Neue, sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    text-transform: uppercase;
    &_header {
    
    }
  }
}

.header__menu {
  .menu__item {
      @media (min-width: 1024px) {
        border-right: 1px solid $light-gray;
        &:last-of-type {
          border-right: 1px solid transparent;
        }
      }
  }
  .menu__link {
      color: $dark-accent;
      &:hover {
        @include transition;
        color: $light-accent;
      }
  }
}