@import "../core/_variables.scss";
@import "../core/_mixins.scss";
@import "../core/_retina.scss";
.about {
  color: $gray-text;
  text-align: center;
}

.icon {
  padding: rem(117) rem(32) rem(60);
  @include retina('../images/icon1.png', 2, rem(67) rem(73), top center no-repeat);
  &--laptop {
    @include retina('../images/icon2.png', 2, rem(76) rem(80), top center no-repeat);
  }
  &--table {
    @include retina('../images/icon3.png', 2, rem(81) rem(75), top center no-repeat);
  }
  @media (min-width: 62rem) {
    padding-bottom: 0;
  }
}
