@import "../core/_variables.scss";
@import "../core/_retina.scss";
.about {
  color: $gray-text;
  text-align: center;
}

.icon {
  padding: 117px 32px 60px;
  @include retina('../images/icon1.png', 2, 67px 73px, top center no-repeat);
  &--laptop {
    @include retina('../images/icon2.png', 2, 76px 80px, top center no-repeat);
  }
  &--table {
    @include retina('../images/icon3.png', 2, 81px 75px, top center no-repeat);
  }
  @media (min-width: 62rem) {
    padding-bottom: 0;
  }
}
