@import "../core/_variables.scss";
@import "../core/_mixins.scss";
.customers {
  text-align: center;
  @media (min-width: 768px) {
    display: flex;
    align-items: center;
    text-align: left;
  }
  &__list {
    margin-top: 25px;
    margin-bottom: 50px;
  }
  &__images {
    @media (max-width: 767px) {
      margin-top: 32px;
    }
  }
}

.links {
  @media (min-width: 768px) {
    position: relative;
    height: 340px;
  }
  &__item {
    margin-bottom: 32px;
    @media (min-width: 768px) {
      margin-bottom: 0;
      position: absolute;
    }
    &--msqrd {
      top: 0;
      left: 95px;
    }
    &--world {
      top: 96px;
      left: 0;
    }
    &--viber {
      left: 195px;
      top: 79px;
    }
    &--belarus {
      left: 65px;
      top: 163px;
    }
  }
}

.link-belarus {
  position: relative;
  &:after {
    position: absolute;
    bottom: 52px;
    right: 53px;
    content: 'Belarus';
    font-family: 'Lato Regular', Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    color: $white;
  }
}
