.customers {
  text-align: center;

  @media (min-width: 768px) {
    display: flex;
    align-items: center;
    text-align: left;
  }

  @include el('list') {
    margin-top: 25px;
    margin-bottom: 50px;
  }

  @include el('images') {
    @media (max-width: 767px) {
      margin-top: 32px;
    }
  }
}

.links {
  @media (min-width: 768px) {
    position: relative;
    height: 340px;
  }

  @include el('item') {
    margin-bottom: 32px;

    @media (min-width: 768px) {
      margin-bottom: 0;
      position: absolute;
    }

    @include mod('msqrd') {
      top: 0;
      left: 95px;
    }

    @include mod('world') {
      top: 96px;
      left: 0;
    }

    @include mod('viber') {
      left: 195px;
      top: 79px;
    }

    @include mod('belarus') {
      left: 65px;
      top: 163px;
    }
  }
}

.link-belarus {
  position: relative;

  &::after {
    position: absolute;
    bottom: 52px;
    right: 52px;
    @include font-regular;
    font-size: 16px;
    color: $white;
    content: 'Belarus';
  }
}
