@import "../core/_variables.scss";
@import "../core/_mixins.scss";
.customers {
  text-align: center;
  @media (min-width: 48rem) {
    display: flex;
    align-items: center;
    text-align: left;
  }
  &__list {
    margin-top: rem(25);
    margin-bottom: rem(50);
  }
  &__images {
    @media (max-width: rem(767)) {
      margin-top: 3rem;
    }
  }
}

.links {
  @media (min-width: 48rem) {
    position: relative;
    height: rem(340);
  }
  &__item {
    margin-bottom: 2rem;
    @media (min-width: 48rem) {
      margin-bottom: 0;
      position: absolute;
    }
    &--msqrd {
      top: 0;
      left: rem(95);
    }
    &--world {
      top: rem(96);
      left: 0;
    }
    &--viber {
      left: rem(195);
      top: rem(79);
    }
    &--belarus {
      left: rem(65);
      top: rem(163);
    }
  }
}

.link-belarus {
  position: relative;
  &:after {
    position: absolute;
    bottom: rem(52);
    right: rem(53);
    content: 'Belarus';
    font-family: 'Lato Regular', Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 1rem;
    color: $white;
  }
}
