@import "../core/_variables.scss";
@import "../core/_mixins.scss";
.footer {
  background-color: $footer;
  color: $white;
  &__title {
    margin-bottom: rem(54);
  }
  &__subtitle {
    font-family: 'Lato Regular', Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 1rem;
    margin-bottom: rem(17);
  }
  &__menu {
    margin-top: rem(98);
  }
}
