.footer {
  background-color: $footer;
  color: $white;
  &__title {
    margin-bottom: 54px;
  }
  &__subtitle {
    @include font-regular;
    font-size: 16px;
    margin-bottom: 17px;
  }
  &__menu {
    margin-top: 98px;
  }
}
