@import "../core/_variables.scss";
@import "../core/_mixins.scss";
.header {
  padding: rem(129) 0 rem(217);
  text-align: center;
  color: $white;
  &__title {
    @media (max-width: rem(767)) {
      margin-bottom: rem(16);
    }
  }
  &__subtitle {
    font-family: 'Lato Medium', Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: rem(26);
    line-height: 1.2;
  }
  &__button {
    margin: rem(75) auto 0;
  }
}
