@import "../core/_core.scss";
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  height: auto;
}

.sr-only {
  position: absolute;
  width: .063rem;
  height: .063rem;
  margin: -.063rem;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}

[role="button"] {
  cursor: pointer;
}

.carousel {
  position: relative;
}

.carousel-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.carousel-inner > .item {
  display: none;
  position: relative;
  -webkit-transition: 0.6s ease-in-out left;
  -o-transition: 0.6s ease-in-out left;
  transition: 0.6s ease-in-out left;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  line-height: 1;
}

@media all and (transform-3d),
(-webkit-transform-3d) {
  .carousel-inner > .item {
    -webkit-transition: -webkit-transform 0.6s ease-in-out;
    -o-transition: -o-transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 62.5rem;
    perspective: 62.5rem;
  }
  .carousel-inner > .item.next,
  .carousel-inner > .item.active.right {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    left: 0;
  }
  .carousel-inner > .item.prev,
  .carousel-inner > .item.active.left {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    left: 0;
  }
  .carousel-inner > .item.next.left,
  .carousel-inner > .item.prev.right,
  .carousel-inner > .item.active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    left: 0;
  }
}

.carousel-inner > .active,
.carousel-inner > .next,
.carousel-inner > .prev {
  display: block;
}

.carousel-inner > .active {
  left: 0;
}

.carousel-inner > .next,
.carousel-inner > .prev {
  position: absolute;
  top: 0;
  width: 100%;
}

.carousel-inner > .next {
  left: 100%;
}

.carousel-inner > .prev {
  left: -100%;
}

.carousel-inner > .next.left,
.carousel-inner > .prev.right {
  left: 0;
}

.carousel-inner > .active.left {
  left: -100%;
}

.carousel-inner > .active.right {
  left: 100%;
}

.carousel-indicators {
  display: flex;
  justify-content: space-between;
  margin: .625rem auto 0;
  width: 12.125rem;
}

.carousel-indicators li {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  text-indent: -62.438rem;
  border-radius: 50%;
  cursor: pointer;
  background-color: $black;
  &:hover {
    @include transition;
    background-color: $yellow;
  }
}

.carousel-indicators .active {
  background-color: $yellow;
}

.carousel-control {
  top: 50%;
  margin-top: 1.75rem;
}

.carousel-inner {
  position: relative;
}

.carousel-control.left,
.carousel-control.right {
  position: absolute;
  width: .563rem;
  height: 1.063rem;
}

.carousel-control.left {
  left: 0;
  @include retina('../images/arrow-prev.png', 2, cover, top center no-repeat);
}

.carousel-control.right {
  right: 0;
  @include retina('../images/arrow-next.png', 2, cover, top center no-repeat);
}

.carousel-caption {
  z-index: 10;
  padding-top: 4.313rem;
  text-align: center;
}

.carousel-caption .btn {
  text-shadow: none;
}

@media screen and (min-width: 48rem) {
  .carousel-caption {
    left: 20%;
    right: 20%;
    padding-bottom: 2.813rem;
  }
}