/*Reset CSS*/

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body,
div,
span,
h1,
h2,
ul,
ol,
li,
form {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  line-height: 1.5;
  vertical-align: middle;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ul {
  list-style: none;
}

ol {
  list-style-position: inside;
}

.wrapper {
  background-color: #22272d;
  padding: 3.125rem 0;
  font-family: Arial, sans-serif;
}

.container {
  padding: 2.5rem 0;
  width: 18.75rem;
  margin: auto;
  background-color: #363d45;
  text-align: center;
}

.title {
  margin-bottom: 1.875rem;
  background-color: #db6458;
  font-size: 1.25rem;
  line-height: 3;
  color: #e0eaed;
  text-align: center;
  text-transform: uppercase;
}

input[type="text"] {
  height: 1.875rem;
  border-width: 0;
  outline-width: 0;
  margin-bottom: .25rem;
  padding-left: .625rem;
  text-transform: capitalize;
  color: #e0eaed;
  cursor: pointer;
}

::-webkit-input-placeholder {
  color: #e0eaed;
}

::-moz-placeholder {
  color: #e0eaed;
}

:-moz-placeholder {
  color: #e0eaed;
}

:-ms-input-placeholder {
  color: #e0eaed;
}

.item-change {
  background-color: #363D45;
}

.item-delete {
  font-size: 1.25rem;
  font-weight: bold;
  color: #e0eaed;
  cursor: pointer;
}

.item-delete:hover {
  color: #db6458;
}

.controlls {
  margin-top: 1.875rem;
}

.item-value {
  background-color: #22272d;
}

.item-add {
  display: block;
  margin: .625rem auto 0;
  width: 5rem;
  height: 1.75rem;
  border-width: 0;
  outline-width: 0;
  background-color: #b3afb3;
  font-weight: bold;
  color: #22272D;
  cursor: pointer;
}

.item-add:hover {
  background-color: #22272d;
  color: #e0eaed;
}

.instructions {
  width: 37.5rem;
  margin: 3.125rem auto 0;
}

.instructions-title {
  font-size: 1.125rem;
  line-height: 1.75;
  color: #e0eaed;
}

.instructions-item {
  font-size: .875rem;
  color: #99858D;
  margin-bottom: .313rem;
}