.contact {
  padding-top: 60px;
  padding-bottom: 25px;
  text-align: center;

  @include el('title') {
    margin-bottom: 96px;
  }

  @include el('subtitle') {
    @include raleway-regular;
    font-size: 24px;
    line-height: 1.5;
    color: $white;

    @media (min-width: 992px) {
      text-align: left;
    }
  }

  @include el('content') {
    @include clearfix;
  }

  @include el('text') {
    margin-bottom: 38px;
    @include opensans-regular;
    font-size: 14px;
    line-height: 1.5;
    color: $white;
    opacity: .5;

    @media (min-width: 992px) {
      max-width: 450px;
      text-align: left;
    }
  }

  @include el('icons') {
    margin: 0 auto 23px;

    @media (min-width: 768px) {
      text-align: left;
    }
  }

  @include el('data') {
    @include opensans-regular;
    font-size: 14px;
    line-height: 1.75;
    color: $contact-data;

    &:last-of-type {
      margin-bottom: 50px;
    }

    @media (min-width: 768px) {
      text-align: left;
    }
  }
}

.form {
  @media (min-width: 640px) {
    @include el('list') {
      @include clearfix;
      float: right;
      right: 0;
      font-size: 0;
      line-height: 0;
      letter-spacing: -1px;
    }
  }

  @include el('item') {
    margin: 0 auto 30px;
    letter-spacing: normal;

    @media (min-width: 640px) {
      float: right;
      right: 0;

      &:first-of-type {
        float: left;
        left: 0;
      }

      &:nth-of-type(3) {
        width: 100%;
      }
    }
  }
}

.footer {
  padding-top: 37px;
  padding-bottom: 20px;
  border-top: 1px solid $footer-border;
  @include opensans-regular;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;

  @media (min-width: 768px) {
    text-align: right;
  }

  @include el('text') {
    color: $white;
    opacity: .5;

    @media (min-width: 768px) {
      text-align: left;
    }
  }

  @include el('link') {
    color: $white;
    opacity: .5;
  }
}