.team {
  padding-top: 85px;
  padding-bottom: 50px;
  text-align: center;

  @include el('subtitle') {
    max-width: 970px;
    margin: 36px auto 0;
    @include opensans-semibold;
    font-size: 16px;
    line-height: 1.5;
    color: $team-text;
    opacity: .8;
  }

  @include el('content') {
    position: relative;
    padding-top: 105px;
  }
}