.team {
  padding-top: 87px;
    padding-bottom: 50px;
  text-align: center;
  &__subtitle {
    max-width: 970px;
    margin: 36px auto 0;
    @include opensans-semibold;
    font-size: 16px;
    line-height: 1.5;
    color: $team-text;
    opacity: .8;
  }
  &__content {
    position: relative;
    padding-top: 105px;
  }
}