.watch {
  @include clearfix;

  @include el('content') {
    padding-top: 77px;
    padding-bottom: 66px;
  }

  @include el('title') {
    margin-bottom: 20px;
  }

  @include el('subtitle') {
    padding-left: 3px;
    @include opensans-regular;
    font-size: 16px;
    line-height: 1.625;
    color: $white;

    @media (min-width: 992px) {
      width: 100%;
      max-width: 550px;
    }
  }

  @include el('icons') {
    margin-top: 23px;
    margin-left: 3px;
    margin-bottom: 50px;
  }

  @include el('iframe-container') {
    position: relative;
    max-width: 500px;
    margin: 0 auto;
    overflow: hidden;
    border: 2px solid $video-background;
    border-radius: 8px;

    @media (min-width: 768px) {
      height: 306px;
      width: 500px;
    }

    @media (min-width: 992px) {
      float: right;
      right: 0;
    }
  }

  @include el('ratio') {
    display: block;
    width: 100%;
    height: auto;
  }

  @include el('iframe') {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}