@import "../core/_core.scss";
.contact {
  padding-top: 60px;
  padding-bottom: 25px;
  text-align: center;
  &__title {
    margin-bottom: 96px;
  }
  &__subtitle {
    @include raleway-regular;
    font-size: 24px;
    line-height: 1.5;
    color: $white;
    @media (min-width: 992px) {
      text-align: left;
    }
  }
  &__content {
    @include clearfix;
  }
  &__text {
    margin-bottom: 380px;
    @include opensans-regular;
    font-size: 14px;
    line-height: 1.5;
    color: $footer-gray;
    color: $white;
    opacity: .5;
    @media (min-width: 992px) {
      max-width: 450px;
      text-align: left;
    }
  }
  &__icons {
    margin: 0 auto 23px;
    @media (min-width: 768px) {
      text-align: left;
    }
  }
  &__data {
    @include opensans-regular;
    font-size: 14px;
    line-height: 1.75;
    color: $contact-data;
    &:last-of-type {
      margin-bottom: 50px;
    }
    @media (min-width: 768px) {
      text-align: left;
    }
  }
}

.form {
  @media (min-width: 640px) {
    &__list {
      @include clearfix;
      float: right;
      right: 0;
      font-size: 0;
      line-height: 0;
      letter-spacing: -1px;
    }
  }
  &__item {
    margin: 0 auto 31px;
    letter-spacing: normal;
    @media (min-width: 640px) {
      float: right;
      right: 0;
      &:first-of-type {
        float: left;
        left: 0;
      }
      &:nth-of-type(3) {
        width: 100%;
      }
    }
  }
}

.footer {
  padding-top: 37px;
  padding-bottom: 20px;
  border-top: 1px solid $footer-border;
  @include opensans-regular;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  @media (min-width: 768px) {
    text-align: right;
  }
  &__text {
    color: $footer-gray;
    color: $white;
    opacity: .5;
    @media (min-width: 768px) {
      text-align: left;
    }
  }
  &__link {
    color: $footer-gray;
    color: $white;
    opacity: .5;
  }
}