@import "../core/_core.scss";
.contact {
  padding-top: 3.75rem;
  padding-bottom: 1.563rem;
  text-align: center;
  &__title {
    margin-bottom: 6rem;
  }
  &__subtitle {
    @include raleway-regular;
    font-size: 1.5rem;
    line-height: 1.5;
    color: $white;
    @media (min-width: 62rem) {
      text-align: left;
    }
  }
  &__content {
    @include clearfix;
  }
  &__text {
    margin-bottom: 2.375rem;
    @include opensans-regular;
    font-size: .875rem;
    line-height: 1.5;
    color: $footer-gray;
    color: $white;
    opacity: .5;
    @media (min-width: 62rem) {
      max-width: 28.125rem;
      text-align: left;
    }
  }
  &__icons {
    margin: 0 auto 1.438rem;
    @media (min-width: 48rem) {
      text-align: left;
    }
  }
  &__data {
    @include opensans-regular;
    font-size: .875rem;
    line-height: 1.75;
    color: $contact-data;
    &:last-of-type {
      margin-bottom: 3.125rem;
    }
    @media (min-width: 48rem) {
      text-align: left;
    }
  }
}

.form {
  @media (min-width: 40rem) {
    &__list {
      @include clearfix;
      float: right;
      right: 0;
      font-size: 0;
      line-height: 0;
      letter-spacing: -.063rem;
    }
  }
  &__item {
    margin: 0 auto 1.938rem;
    letter-spacing: normal;
    @media (min-width: 40rem) {
      float: right;
      right: 0;
      &:first-of-type {
        float: left;
        left: 0;
      }
      &:nth-of-type(3) {
        width: 100%;
      }
    }
  }
}

.footer {
  padding-top: 2.313rem;
  padding-bottom: 1.25rem;
  border-top: .063rem solid $footer-border;
  @include opensans-regular;
  font-size: .875rem;
  line-height: 1.5;
  text-align: center;
  @media (min-width: 48rem) {
    text-align: right;
  }
  &__text {
    color: $footer-gray;
    color: $white;
    opacity: .5;
    @media (min-width: 48rem) {
      text-align: left;
    }
  }
  &__link {
    color: $footer-gray;
    color: $white;
    opacity: .5;
  }
}