@import "../core/_core.scss";
.features {
  z-index: 6;
  padding-bottom: 7.125rem;
  padding-top: 7.25rem;
  color: $gray-text;
  &__subtitle {
    max-width: 55.938rem;
    margin: 3.5rem auto 0;
    @include opensans-regular;
    font-size: 1.125rem;
    line-height: 2;
    text-align: center;
  }
  &__content {
    padding-top: 4.75rem;
  }
  &__column {
    @include clearfix;
    @media (min-width: 48rem) {
      padding-top: 4.375rem;
    }
  }
  &__picture {
    text-align: center;
  }
  &__img {
    width: 100%;
    max-width: 20rem;
    height: auto;
  }
}