@import "../core/_core.scss";
.header {
  margin-bottom: 0;
  padding-top: 1.813rem;
  color: $white;
  text-align: center;
  @media (min-width: 62rem) {
    height: 35.813rem;
  }
  @media (min-width: 68.75rem) {
    height: 47.375rem;
  }
  &__content {
    margin-top: 3.125rem;
    padding: 0 .938rem;
    @media (min-width: 48rem) {
      margin-top: 8.75rem;
    }
    @media (min-width: 68.75rem) {
      margin-top: 11.75rem;
    }
  }
  &__title {
    margin-top: 3.125rem;
    line-height: .857;
    text-align: center;
    @media (min-width: 48rem) {
      margin-top: 4.125rem;
      margin-left: -1.063rem;
      text-align: left;
    }
  }
  &__subtitle {
    @include opensans-semibold;
    font-size: 1.375rem;
    line-height: 1.636;
    text-align: center;
    @media (min-width: 48rem) {
      margin-left: -1.063rem;
      text-align: left;
    }
  }
  &__list {
    margin-top: 2rem;
    @media (min-width: 30rem) and (max-width: 47.938rem) {
      width: 23.75rem;
      margin: 2rem auto 0;
    }
  }
  &__item {
    @include opensans-regular;
    font-size: 1rem;
    line-height: 2.25;
    text-align: left;
    @media (min-width: 48rem) {
      margin-left: -1.813rem;
    }
  }
  &__button {
    margin: 4.313rem auto 3.125rem;
    @media (min-width: 62rem) and (max-width: 68.688rem) {
      margin-top: 2.5rem;
    }
    @media (min-width: 48rem) {
      margin-left: -.313rem;
    }
  }
  &__img {
    position: relative;
    float: right;
    height: auto;
    width: 100%;
    @media (min-width: 62rem) and (max-width: 68.688rem) {
      width: 21.188rem;
    }
    @media (min-width: 68.75rem) {
      width: 28.25rem;
    }
    @media (min-width: 75rem) {
      right: 2.063rem;
    }
  }
}