@import "../core/_core.scss";
.team {
  padding-top: 5.438rem; 
    padding-bottom: 3.125rem;
  text-align: center;
  &__subtitle {
    max-width: 60.625rem;
    margin: 2.25rem auto 0;
    @include opensans-semibold;
    font-size: 1rem;
    line-height: 1.5;
    color: $team-text;
    opacity: .8;
  }
  &__content {
    position: relative;
    padding-top: 6.563rem;
  }
}