@import "../core/_core.scss";
.watch {
  @include clearfix;
  &__content {
    padding-top: 4.813rem;
    padding-bottom: 4.125rem;
  }
  &__title {
    margin-bottom: 1.188rem;
  }
  &__subtitle {
    padding-left: .188rem;
    @include opensans-regular;
    font-size: 1rem;
    line-height: 1.625;
    color: $white;
    @media (min-width: 62rem) {
      width: 100%;
      max-width: 34.375rem;
    }
  }
  &__icons {
    margin-top: 1.438rem;
    margin-left: .188rem;
    margin-bottom: 3.125rem;
  }
  &__iframe-container {
    position: relative;
    max-width: 31.25rem;
    margin: 0 auto;
    overflow: hidden;
    border: .125rem solid $video-background;
    border-radius: .5rem;
    @media (min-width: 48rem) {
      height: 19.125rem;
      width: 31.25rem;
    }
    @media (min-width: 62rem) {
      float: right;
      right: 0;
    }
  }
  &__ratio {
    display: block;
    width: 100%;
    height: auto;
  }
  &__iframe {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}