@import "../core/_core.scss";
.programs {
  padding-top: 5.688rem;
  padding-bottom: 8.688rem;
  @include retina('../images/cup-background.jpg', 2, 46.375rem 45.438rem, right bottom no-repeat);
  &__title {
    position: relative;
    display: block;
    width: 24.5rem;
    margin: 0 auto;
    margin-bottom: 1.875rem;
    color: $black;
    text-align: center;
    &:before {
      position: absolute;
      top: .938rem;
      left: 0;
      display: block;
      width: .938rem;
      height: .938rem;
      @include retina('../images/dark-star.png', 2, .938rem .938rem, center center no-repeat);
      content: '';
    }
    &:after {
      position: absolute;
      top: .938rem;
      right: 0;
      display: block;
      width: .938rem;
      height: .938rem;
      @include retina('../images/dark-star.png', 2, .938rem .938rem, center center no-repeat);
      content: '';
    }
  }
  &__subtitle {
    @include georgia-regular;
    font-size: 1rem;
    line-height: 2.063;
    color: $blue-gray;
    text-align: center;
    word-spacing: -.087rem;
  }
  &__content {
    padding-top: 3.625rem;
  }
  &__column {
    width: 76%;
    margin: 0 auto 2.063rem;
    padding-top: .625rem;
    border-top: .063rem solid $light-border;
  }
  &__table {
    margin-top: 1.125rem;
  }
}