@mixin transition {
  -moz-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

@mixin font-black-italic {
  font-family: 'Lato Black Italic', Arial, Verdana, sans-serif;
  font-weight: normal;
  font-style: italic;
}

@mixin font-bold {
  font-family: 'Lato Bold', Arial, Verdana, sans-serif;
  font-weight: normal;
  font-style: bold;
}

@mixin font-italic {
  font-family: 'Lato Italic', Arial, Verdana, sans-serif;
  font-weight: normal;
  font-style: italic;
}

@mixin font-light {
  font-family: 'Lato Light', Arial, Verdana, sans-serif;
  font-weight: 200;
  font-style: normal;
}

@mixin font-medium {
  font-family: 'Lato Medium', Arial, Verdana, sans-serif;
  font-weight: 400;
  font-style: normal;
}

@mixin font-regular {
  font-family: 'Lato Regular', Arial, Verdana, sans-serif;
  font-weight: 300;
  font-style: normal;
}

@mixin font-hairline {
  font-family: 'Lato Hairline', Arial, Verdana, sans-serif;
  font-weight: 100;
  font-style: normal;
}

@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}
}

@mixin input {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder {@content}
  ::-moz-placeholder {@content}
  :-ms-input-placeholder {@content}
}

// BEM
@mixin el($element) {
  &__#{$element} {
    @content;
  }
}

@mixin mod($modifier) {
  &--#{$modifier} {
    @content;
  }
}