@mixin transition {
  -moz-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

$baseFontSize: 16;

//@function rem($pixels, $context: $baseFontSize) {
//  @if (unitless($pixels)) {
//    $pixels: $pixels * 1px;
//  }
//  @if (unitless($context)) {
//    $context: $context * 1px;
//  }
//  @return $pixels / $context * 16px;
//}
