$white: #fff;
$black: #000;
$blue: #165ad6;
$red: #f00;
$gray-text: #737373;
$gray-hover: #464646;
$light-gray: #e2e3e6;
$works: #f6f7f7;
$blue-hover: #3d74da;
$italic: #424242;
$figcaption: #313131;
$footer: #383d42;
$footer-link: #c8d1db;
$input: #515860;
$copyright: #272b2e;
