html,
body,
div,
span,
h1,
p,
a,
img,
ul,
li,
form,
input,
label,
header,
nav {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
  vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

header,
nav {
  display: block;
}

body {
  line-height: 1;
}

ul {
  list-style: none;
}
