<div class="wrapper wrapper__watch">
  <div class="container">
    <section class="watch">
      <div class="watch__content">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-5 col-lg-6 wow fadeInLeft">
            <h2 class="watch__title title_gray">watch the video</h2>
            <p class="watch__subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse fringilla fringilla nisl congue congue. Maecenas nec condimentum libero, at elementum mauris. Phasellus eget nisi dapibus, ultricies nisl at, hendrerit risusuis ornare luctus id sollicitudin ante lobortis at.</p>

            <div class="watch__icons">
              <div class="icon-circle">
                <a href="#">
                  <svg class="icon icon-apple">
                    <use xlink:href="./i/sprite_watch.svg#apple"></use>
                  </svg>
                </a>
              </div>
              <div class="icon-circle">
                <a href="#">
                  <svg class="icon icon-android">
                    <use xlink:href="./i/sprite_watch.svg#android"></use>
                  </svg>
                </a>
              </div>
              <div class="icon-circle">
                <a href="#">
                  <svg class="icon icon-windows">
                    <use xlink:href="./i/sprite_watch.svg#windows"></use>
                  </svg>
                </a>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-12 col-md-7 col-lg-6 wow fadeInRight">
            <div class="watch__iframe-container">
              <img class="watch__ratio" src="images/text.png" alt="iframe container" data-rjs="2">
              <iframe class="watch__iframe" src="https://player.vimeo.com/video/90855524?title=0&byline=0&portrait=0" name="Mobile App Video" allowfullscreen>
              </iframe>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>