@import "../core/_variables.scss";
@import "../core/_retina.scss";
.arrow-up {
  position: fixed;
  bottom: 1rem;
  right: 2rem;
  display: block;
  width: 66px;
  height: 4rem;
  border-width: 0;
  background-color: transparent;
  @include retina('../images/up.png', 2, cover, top center no-repeat);
  ;
}

.hidden-arrow {
  opacity: 0;
}
