.article {
  @include el('subtitle') {
    margin-bottom: 28px;
  }

  @include el('button') {
    margin: 55px auto;

    @media (min-width: 768px) {
      margin-left: 0;
      margin-bottom: 0;
    }
  }

  @include el('paragraph') {
    margin-bottom: 24px;
  }

  @include el('figure') {
    @media (min-width: 768px) {
      margin-left: 40px;
    }
  }

  @include el('img') {
    width: 100%;
    height: auto;
  }
}
