@import "../core/_variables.scss";
@import "../core/_mixins.scss";
.article {
  &__subtitle {
    margin-bottom: rem(28);
  }
  &__button {
    margin: rem(55) auto;
    @media (min-width: 48rem) {
      margin-left: 0;
      margin-bottom: 0;
    }
  }
  &__paragraph {
    margin-bottom: rem(24);
  }
  &__figure {
    @media (min-width: 48rem) {
      margin-left: rem(40);
    }
  }
  &__img {
    width: 100%;
    height: auto;
  }
}
