@import "../core/_variables.scss";
@import "../core/_mixins.scss";
.button {
  display: block;
  max-width: rem(256);
  background-color: transparent;
  border: .063rem solid $black;
  border-radius: rem(4);
  padding: rem(8) rem(58) rem(12) rem(62);
  font-family: 'Lato Regular', Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: rem(18);
  outline-width: 0;
  cursor: pointer;
  &:hover {
    @include transition;
    border-color: $gray-hover;
    color: $gray-hover;
    text-decoration: none;
  }
  &--blue {
    padding-left: rem(45);
    padding-right: rem(37);
    background-color: $blue;
    border-color: $blue;
    color: $white;
    &:hover {
      background-color: $blue-hover;
      border-color: $blue-hover;
      color: $white;
    }
  }
}
