.button {
  display: block;
  max-width: 256px;
  background-color: transparent;
  border: 1px solid $black;
  border-radius: 3px;
  padding: 8px 58px 12px 62px;
  @include font-regular;
  font-size: 18px;
  outline-width: 0;
  cursor: pointer;

  &:hover {
    @include transition;
    border-color: $gray-hover;
    color: $gray-hover;
    text-decoration: none;
  }

  @include mod('blue') {
    padding-left: 45px;
    padding-right: 37px;
    background-color: $blue;
    border-color: $blue;
    color: $white;

    &:hover {
      background-color: $blue-hover;
      border-color: $blue-hover;
      color: $white;
    }
  }
}
