@import "../core/_variables.scss";
.copyright {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
  @media (min-width: 48rem) {
    flex-flow: row;
  }
  &__text {
    display: block;
    font-family: 'Tahoma Regular', Tahoma, Arial, sans-serif;
    font-size: 13px;
  }
}
