.footer-menu {
  margin-bottom: 32px;

  @include el('item') {
    @include font-regular;
    font-size: 16px;
  }

  @include el('link') {
    color: $footer-link;

    &:hover {
      @include transition;
    }
  }
}
