@import "../core/_variables.scss";
@import "../core/_mixins.scss";
.italic {
  font-family: 'Lato Italic', Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  line-height: 1.563;
  color: $italic;
}
