@import "../core/_variables.scss";
@import "../core/_mixins.scss";
.logo {
  position: relative;
  display: block;
  min-width: 215px;
  font-family: 'LatoBlack Italic', Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 30px;
  line-height: 1;
  text-align: left;
  color: $black;
  &:hover {
    text-decoration: none;
  }
  &__img {
    display: block;
  }
  &__text {
    position: absolute;
    top: 0;
    left: 62px;
  }
  &__small {
    display: block;
    min-width: 160px;
    padding-top: 4px;
    font-family: 'Lato Light', Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 15px;
  }
}

.footer .logo {
  color: $white;
}
