@import "../core/_variables.scss";
@import "../core/_mixins.scss";
.menu {
  &__list {
    @media (min-width: 48rem) {
      display: flex;
      flex-wrap: wrap;
    }
  }
  &__item {
    margin-bottom: 1.5rem;
    font-family: 'Myriad Pro', 'Lato Bold', Arial, sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    @media (min-width: 48rem) {
      width: 50%;
      margin-bottom: 0;
    }
    @media (min-width: 62rem) {
      width: 33.33%;
    }
  }
  &__link {
    color: $black;
  }
}
