.menu {
  &__list {
    @media (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
    }
  }
  &__item {
    margin-bottom: 24px;
    @include font-bold;
    font-size: 18px;
    text-transform: uppercase;
    @media (min-width: 768px) {
      width: 50%;
      margin-bottom: 0;
    }
    @media (min-width: 992px) {
      width: 33.33%;
    }
  }
  &__link {
    color: $black;
  }
}
