input[type="text"].red,
input[type="email"].red,
textarea.red {
  border-color: $red;
}

input.red {
  @include placeholder {
    color: $red;
  }
}

textarea.red {
  @include textarea {
    color: $red;
  }
}