@import "../core/_variables.scss";
@import "../core/_mixins.scss";
.title-line {
  position: relative;
  margin-bottom: rem(75);
  &__below {
    @media (max-width: rem(767)) {
      &:after {
        position: absolute;
        bottom: -2rem;
        left: 50%;
        transform: translateX(-50%);
        display: block;
        width: rem(94);
        height: rem(9);
        background-color: $blue;
        content: '';
      }
    }
    &:after {
      position: absolute;
      bottom: -2rem;
      display: block;
      width: rem(94);
      height: rem(9);
      background-color: $blue;
      content: '';
    }
    &--right {
      @media (max-width: rem(767)) {
        text-align: center;
        &:after {
          position: absolute;
          bottom: -2rem;
          left: 50%;
          transform: translateX(-50%);
          display: block;
          width: rem(94);
          height: rem(9);
          background-color: $blue;
          content: '';
        }
      }
      @media (min-width: 48rem) {
        margin-left: auto;
        max-width: 30rem;
        text-align: right;
      }
      &:after {
        right: 0;
      }
    }
  }
  &__above {
    @media (max-width: rem(767)) {
      &:after {
        position: absolute;
        top: -2rem;
        display: block;
        left: 50%;
        transform: translateX(-50%);
        width: rem(94);
        height: rem(9);
        background-color: $blue;
        content: '';
      }
    }
    &:after {
      position: absolute;
      top: -2rem;
      display: block;
      width: rem(94);
      height: rem(9);
      background-color: $blue;
      content: '';
    }
  }
  &__left {
    @media (max-width: rem(767)) {
      &:after {
        position: absolute;
        top: -2rem;
        display: block;
        left: 50%;
        transform: translateX(-50%);
        width: rem(94);
        height: rem(9);
        background-color: $blue;
        content: '';
      }
    }
    @media (min-width: 48rem) {
      padding-left: rem(24);
      &:before {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        display: block;
        width: rem(9);
        height: rem(94);
        background-color: $blue;
        content: '';
      }
    }
  }
}
