@import "../core/_variables.scss";
@import "../core/_mixins.scss";
.input-div {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: rem(15);
  height: rem(36);
  background-color: transparent;
  border-width: 0;
  @media (min-width: 48rem) {
    left: 0;
    transform: translateX(0);
  }
}

input[type='file'] {
  width: rem(15);
  height: rem(36);
  opacity: 0;
}

#val {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: rem(120);
  height: rem(36);
  font-size: rem(18);
  line-height: rem(36);
  @media (min-width: 48rem) {
    left: 0;
    transform: translateX(0);
  }
}

#button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  display: block;
  width: rem(150);
  height: rem(22);
  outline-width: 0;
  border-color: transparent;
  font-family: 'Lato Regular', Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: rem(18);
  text-decoration: underline;
  color: $blue;
  cursor: pointer;
  @media (min-width: 48rem) {
    left: 0;
    transform: translateX(0);
  }
  &:hover {
    border-color: transparent;
    color: $blue-hover;
  }
}
