/* Large form */

.form-container {
  margin: 0 auto;
  padding-top: 200px;
  width: 500px;
}

.logo {
  background-image: url('../images/logo.png');
  background-repeat: no-repeat;
  -webkit-background-size: 272px 92px;
  background-size: 272px 92px;
  border-width: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  height: 92px;
  margin: 0 auto;
  width: 272px;
}

.logo__link {
  border-width: 0px;
  height: 92px;
  text-decoration: none;
  width: 272px;
}

.logo__subtext {
  color: #4285f4;
  font: 16px/16px Roboto, Arial, sans-serif;
  text-align: right;
  top: 76px;
  position: relative;
  white-space: nowrap;
}

.form {
  margin-top: 40px;
  text-align: center;
}

.search__text {
  -webkit-box-shadow: 0 0 2px #757575;
  box-shadow: 0 0 2px #757575;
  border-radius: 3px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #000;
  font: 16px Arial, sans-serif;
  height: 44px;
  line-height: 44px;
  margin-bottom: 20px;
  outline-width: 0;
  padding-left: 10px;
  vertical-align: middle;
  width: 463px;
}

.search__button {
  height: 36px;
  line-height: 27px;
  margin: 0 auto;
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 2px;
  color: #757575;
  cursor: default;
  font-family: arial, sans-serif;
  font-size: 13px;
  font-weight: bold;
  margin: 11px 4px 30px;
  min-width: 54px;
  padding: 0 16px;
  text-align: center;
}


/* Search results */

.results__list {
  background-color: #fff;
  font-family: Arial, sans-serif;
  margin-left: 167px;
  margin-top: 43px;
  width: 600px;
}

.results__title {
  font-size: 17.8px;
  line-height: 21.6px;
}

.results__link {
  text-decoration: none;
}

.results__url {
  color: rgb(0, 102, 33);
  font-size: 14px;
  line-height: 16px;
}

.results__text {
  color: #6a6a6a;
  font-size: 17.8px;
  line-height: 24.92px;
  margin-bottom: 25px;
}


/* Small form */

.form-container_small {
  background-color: #fafafa;
  border-bottom: 1px solid #cacaca;
  display: block;
  height: 122px;
  padding-top: 20px;
}

.logo_small {
  background-image: url('../images/logo.png');
  background-repeat: no-repeat;
  -webkit-background-size: 120px 44px;
  background-size: 120px 44px;
  border-width: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  float: left;
  height: 44px;
  margin-left: 15px;
  width: 120px;
}

.logo__link_small {
  border-width: 0px;
  height: 44px;
  text-decoration: none;
  width: 120px;
}

.logo__subtext_small {
  display: none;
}

.form_small {
  display: block;
  float: left;
  height: 44px;
  margin-left: 20px;
  width: 586px;
}

.search__text_small {
  -webkit-box-shadow: 0 0 2px #757575;
  box-shadow: 0 0 2px #757575;
  border-radius: 3px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #000;
  font: 16px Arial, sans-serif;
  height: 44px;
  line-height: 44px;
  outline-width: 0;
  padding-left: 10px;
  vertical-align: middle;
  width: 586px;
}

.search__button_small {
  display: none;
}