<section class="section container">
  <h2 class="section__title">How Urlaubsgl&uuml;ck works?</h2>

  <div class="how section__content how__sliders">

    <div class="flexslider how__item">
      <ul class="slides">
        <li>
          <div class="step step-background step-background_1">
            <div class="step__number">step 1</div>
            <h3 class="step__title">Sed leo enim, condimentum</h3>
            <p class="step__text">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
          </div>
        </li>
        <li>
          <div class="step step-background step-background_2">
            <div class="step__number">step 2</div>
            <h3 class="step__title">Morbi velit risus</h3>
            <p class="step__text">Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.</p>
          </div>
        </li>
        <li>
          <div class="step step-background step-background_3">
            <div class="step__number">step 3</div>
            <h3 class="step__title">Sed leo enim, condimentum</h3>
            <p class="step__text">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
          </div>
        </li>
      </ul>
    </div>

    <div class="flexslider how__item">
      <ul class="slides">
        <li>
          <div class="step step-background step-background_2">
            <div class="step__number">step 2</div>
            <h3 class="step__title">Morbi velit risus</h3>
            <p class="step__text">Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.</p>
          </div>
        </li>
        <li>
          <div class="step step-background step-background_3">
            <div class="step__number">step 3</div>
            <h3 class="step__title">Sed leo enim, condimentum</h3>
            <p class="step__text">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
          </div>
        </li>
        <li>
          <div class="step step-background step-background_1">
            <div class="step__number">step 1</div>
            <h3 class="step__title">Sed leo enim, condimentum</h3>
            <p class="step__text">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
          </div>
        </li>
      </ul>
    </div>

    <div class="flexslider how__item">
      <ul class="slides">
        <li>
          <div class="step step-background step-background_3">
            <div class="step__number">step 3</div>
            <h3 class="step__title">Sed leo enim, condimentum</h3>
            <p class="step__text">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
          </div>
        </li>
        <li>
          <div class="step step-background step-background_1">
            <div class="step__number">step 1</div>
            <h3 class="step__title">Sed leo enim, condimentum</h3>
            <p class="step__text">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
          </div>
        </li>
        <li>
          <div class="step step-background step-background_2">
            <div class="step__number">step 2</div>
            <h3 class="step__title">Morbi velit risus</h3>
            <p class="step__text">Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.</p>
          </div>
        </li>
      </ul>
    </div>

  </div>
</section>