$white: #fff;
$red: #ff4e50;
$red-hover: #ee2525;
$yellow: #ffa507;
$aqua: #1cd7ad;
$blue: #4e73db;
$header: #c18751;
$dark-gray: #333;
$dark-gray-hover: #030202;
$light-gray: #666;
$light-gray-hover: #2d2d2d;
$gray-border: #ccc;
$input: #999;