@import "_fonts.scss";

body {
  @include opensans-light;
  color: $text;
}

a {
  text-decoration: none;
}

h1 {
  margin-bottom: 80px;
  padding-top: 94px;
  background: url(../images/hotdog.svg) top center no-repeat;
  background-size: 70px 70px;
  @include opensans-light;
  font-size: 32px;
  line-height: 1.23;
  letter-spacing: -2px;
  word-spacing: 1.39px;
  color: $text;

  @media (min-width: 768px) {
    padding-top: 116px;
    background-size: 92px 92px;
    font-size: 56px;
  }
}

h2 {
  position: relative;
  margin-bottom: 34px;
  @include openans-bold;
  font-size: 24px;
  line-height: 1.1;
  letter-spacing: -.9px;
  color: $text;
  @media (min-width: 768px) {
    padding-left: 50px;

    &::before {
      position: absolute;
      top: 50%;
      left: 0;
      display: block;
      width: 31px;
      height: 2px;
      background-color: $decor-line;
      content: '';
    }
  }
}

p {
  padding-left: 50px;
  @include opensans-light;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -.4px;
  word-spacing: -1px;
  color: $text;
}