$white: #fff;
$promo: #352938;
$menu: #2e2e2e;
$menu-hover: #030202;
$text: #555559;
$header-background: #fbfafa;
$blue-button: #286782;
$blue-button-hover: #16536d;
$decor-line: #84959c;
$footer: #efefef;
$address-line: #858587;