  svg,
  use {
    display: block;
  }
  
  .features-article {
    @include clearfix;
    margin: 0 auto 50px;
    padding-left: 13px;
    text-align: center;

    @media (min-width: 768px) {
      margin: 0 auto 94px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    @include el('icon') {
      display: block;
      margin: 0 auto 10px;
      vertical-align: top;

      @media (min-width: 768px) {
        float: left;
        margin-bottom: 0;
        margin-right: 41px;
      }
    }

    @include el('body') {
      margin: 0 auto;
      padding-top: 5px;
      text-align: center;

      @media (min-width: 768px) {
        float: left;
        text-align: left;
      }
    }

    @include el('title') {
      margin-bottom: 12px;
      @include raleway-bold;
      font-size: 18px;
      line-height: 1;
      color: $gray-text;
    }

    @include el('text') {
      @include opensans-regular;
      font-size: 13px;
      line-height: 1.9;
      vertical-align: middle;
      white-space: pre-wrap;

      @media (min-width: 768px) {
        max-width: 245px;
      }
    }
  }
  
  .say-article {
    @include el('author') {
      margin-top: 20px;
      @include opensans-semibold;
      font-size: 18px;
      line-height: 1.5;
      color: $team-text;
    }

    @include el('from') {
      @include opensans-regular;
      color: $company;
      font-size: 13px;
      line-height: 1;
    }

    @include el('quote') {
      margin-top: 100px;
    }
  }