.button {
  display: block;
  height: 49px;
  width: 212px;
  border-width: 0;

  @include el('download') {
    background-color: $button;
    color: $white;
  }

  @include el('text') {
    line-height: 49px;
    vertical-align: middle;
  }
}