.figure {
  display: block;
  position: relative;

  @include el('img') {
    height: 300px;
    width: 270px;
  }

  @include el('title') {
    @include opensans-semibold;
    color: $team-text;
    line-height: 1.333;
    margin-bottom: 5px;
    margin-top: 12px;
    font-size: 18px;
  }

  @include el('text') {
    @include opensans-regular;
    color: $team-text;
    font-size: 13px;
    line-height: 1.846;
    opacity: .56;
  }
}