.nav {
  display: inline-block;
  width: 96%;
  padding: 0 35px;
  background-color: $white;
  box-shadow: 0 1px 4px 0 $black;
  @media (min-width: 768px) {
    position: fixed;
    z-index: 20;
    left: 0;
    right: 0;
    display: block;
    height: 80px;
    margin: 0 auto;
  }
  @media (min-width: 100px) {
    width: 100%;
    max-width: 1240px;
  }
  &__logo {
    display: block;
    line-height: 80px;
    text-align: center;
    vertical-align: middle;
    @media (min-width: 768px) {
      text-align: left;
    }
  }
  &__list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    text-align: center;
    @media (min-width: 768px) {
      display: inline-block;
      height: 80px;
    }
  }
  &__item {
    width: 33.33%;

    height: 40px;
    line-height: 40px;
    text-align: center;
    vertical-align: middle;
    @media (min-width: 768px) {
      display: inline-block;
      width: auto;

      height: 80px;
      line-height: 80px;
      text-align: left;
    }
  }
  &__link {
    display: block;
  }
}