.title_green {
  text-align: center;
  color: $logo-color;
  &:after {
    @include retina('../images/title_line_dark.png', 2, 160px 18px, top center no-repeat);
    display: block;
    width: 160px;
    height: 18px;
    margin: 0 auto;
    content: '';

  }
}

.title_gray {
  color: $gray-title;
  @media (min-width: 768px) {
    line-height: .643;
  }
}

.title_white {
  text-align: center;
  color: $white;

  &:after {
    @include retina('../images/title_line_white.png', 2, 160px 18px, top center no-repeat);
    display: block;
    height: 18px;
    width: 160px;
    margin: 0 auto;

    content: '';
  }
}