  @import "../core/_core.scss";
  svg,
  use {
    display: block;
  }
  
  .features-article {
    @include clearfix;
    margin: 0 auto 3.125rem;
    padding-left: .813rem;
    text-align: center;
    @media (min-width: 48rem) {
      margin: 0 auto 6.25rem;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
    &__icon {
      display: block;
      margin: 0 auto .625rem;
      vertical-align: top;
      @media (min-width: 48rem) {
        float: left;
        margin-bottom: 0;
        margin-right: 2.563rem;
      }
    }
    &__body {
      margin: 0 auto;
      padding-top: .313rem;
      text-align: center;
      @media (min-width: 48rem) {
        float: left;
        text-align: left;
      }
    }
    &__title {
      margin-bottom: .75rem;
      @include raleway-bold;
      font-size: 1.125rem;
      line-height: 1;
      color: $gray-text;
    }
    &__text {
      @include opensans-regular;
      font-size: .813rem;
      line-height: 1.9;
      vertical-align: middle;
      white-space: pre-wrap;
      @media (min-width: 48rem) {
        max-width: 15.313rem;
      }
    }
  }
  
  .say-article {
    &__author {
      margin-top: 1.25rem;
      @include opensans-semibold;
      font-size: 1.125rem;
      line-height: 1.5;
      color: $team-text;
    }
    &__from {
      @include opensans-regular;
      color: $company;
      font-size: .813rem;
      line-height: 1;
    }
    &__quote {
      margin-top: 6.313rem;
    }
  }