@import "../core/_core.scss";
.button {
  display: block;
  height: 49px;
  width: 212px;

  border-width: 0;
  &__download {
    background-color: $button;
    color: $white;
    &__text {
      line-height: 49px;
      vertical-align: middle;
    }
  }
}