@import "../core/_core.scss";
.button {
  display: block;
  height: 3.063rem;
  width: 13.25rem;

  border-width: 0;
  &__download {
    background-color: $button;
    color: $white;
    &__text {
      line-height: 3.063rem;
      vertical-align: middle;
    }
  }
}