@import "../core/_core.scss";
.figure {
  display: block;
  position: relative;
  &__img {
    height: 18.75rem;
    width: 16.875rem;
  }
  &__title {
    @include opensans-semibold;
    color: $team-text;
    line-height: 1.333;
    margin-bottom: .313rem;
    margin-top: .75rem;
    font-size: 1.125rem;
  }
  &__text {
    @include opensans-regular;
    color: $alternative-gray;
    color: $team-text;
    font-size: .813rem;
    line-height: 1.846;
    opacity: .56;
  }
}