@import "../core/_core.scss";
.icon {
  display: inline-block;
}

.icon-download {
  position: relative;
  float: left;
  top: .5rem;
  left: .875rem;
  height: 2.188rem;
  width: 2.313rem;
  fill: $white;
}

.icon-angle {
  height: 2rem;
  width: 2rem;
  line-height: 2.25;
  vertical-align: middle;
  fill: $white;
}

.icon-face,
.icon-location,
.icon-like,
.icon-earphones,
.icon-finger,
.icon-compass {
  height: 2.313rem;
  width: 2.313rem;
  fill: $logo-color;
}

.icon-circle {
  display: inline-block;
  height: 4.25rem;
  width: 4.25rem;
  margin-right: 1.125rem;
  border-radius: 50%;
  background-color: $system;
  &:last-of-type {
    margin-right: 0;
  }
}

.icon-apple,
.icon-android,
.icon-windows {
  height: 2.125rem;
  width: 2.125rem;
  margin-top: 1.063rem;
  margin-left: 1.063rem;
  fill: $white;
}

.icon-square {
  display: inline-block;
  height: 2.625rem;
  width: 2.625rem;
  padding-top: .563rem;
  margin-right: .25rem;
  background: $black;
  background: $transparent-black;
  &:last-of-type {
    margin-right: 0;
  }
}

.icon-twitter,
.icon-facebook,
.icon-google-plus {
  height: 1.313rem;
  width: 1.438rem;
  fill: $white;
}

.facebook-circle,
.twitter-circle,
.google-circle {
  display: inline-block;
  height: 2.563rem;
  width: 2.563rem;
  padding-top: .625rem;
  padding-left: .625rem;
  border-radius: 50%;
}

.facebook-circle,
.twitter-circle {
  margin-right: .75rem;
}

.facebook-circle {
  background-color: $facebook;
}

.twitter-circle {
  background-color: $twitter;
}

.google-circle {
  background-color: $google;
}