@import "../core/_core.scss";
.menu {
  &__list {
    width: 100%;
    margin: 0;
    font-size: 0;
    line-height: 0;
    letter-spacing: -1px;
  }
  &__item {
    display: inline;
    display: inline-block;
    margin-right: 39px;
    @include opensans-bold;
    font-size: 13px;
    letter-spacing: normal;
    line-height: normal;
    text-transform: uppercase;
    &:last-of-type {
      margin-right: -20px;
    }
  }
  &__link {
    color: $nav-link;
  }
}