@import "../core/_core.scss";
.nav {
  display: inline-block;
  width: 96%;
  padding: 0 2.188rem;
  background-color: $white;
  box-shadow: 0 .063rem .25rem 0 $black;
  @media (min-width: 48rem) {
    position: fixed;
    z-index: 20;
    left: 0;
    right: 0;
    display: block;
    height: 5rem;
    margin: 0 auto;
  }
  @media (min-width: 75rem) {
    width: 100%;
    max-width: 77.5rem;
  }
  &__logo {
    display: block;
    line-height: 5rem;
    text-align: center;
    vertical-align: middle;
    @media (min-width: 48rem) {
      text-align: left;
    }
  }
  &__list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    text-align: center;
    @media (min-width: 48rem) {
      display: inline-block;
      height: 5rem;
    }
  }
  &__item {
    width: 33.33%;

    height: 2.5rem;
    line-height: 2.5rem;
    text-align: center;
    vertical-align: middle;
    @media (min-width: 48rem) {
      display: inline-block;
      width: auto;

      height: 5rem;
      line-height: 5rem;
      text-align: left;
    }
  }
  &__link {
    display: block;
  }
}