.logo {
  display: inline-block;
}

.menu--header {
  display: inline-block;
  max-width: 650px;
}

.slider--shadow {
  background-image: url('../img/transparent_gray.png');
  background-repeat: repeat-x;
}