.container {
  min-width: 300px;
  margin: 0 auto;
  @media (min-width: 640px) {
    max-width: 748px;
  }
  @media (min-width: 1024px) {
    max-width: 940px;
  }
}

.section {
  text-align: center;
  padding-top: 39px;
  @media (min-width: 640px) {
    padding-top: 100px;
  }
  &__subtitle {
    margin-bottom: 17px;
    @include roboto;
    font-size: 18px;
    @media (min-width: 640px) {
      margin-bottom: 40px;
    }
  }
}