@import "../core/_core.scss";
.school {
  padding-top: 8.875rem;
  padding-bottom: 2.438rem;
  color: $white;
  &__title {
    width: 60%;
    margin: 0 auto;
    line-height: 1.17;
    text-align: center;
  }
  &__text {
    padding-top: 3.125rem;
    padding-bottom: 2.813rem;
    line-height: 1.656;
    text-align: justify;
    &_left {
      padding-right: .938rem;
    }
    &_right {
      padding-left: .938rem;
    }
  }
}

.school-table {
  width: 100%;
  background-color: $table-background;
  border: .125rem solid $school-table;
  @include roboto-black;
  font-size: .938rem;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  &__tr {
    height: 6.125rem;
    line-height: 6.125rem;
    &:last-of-type {
      height: 7.5rem;
      line-height: 7.5rem;
    }
  }
  &__td {
    border: .063rem solid $school-td;
  }
  &__icon {
    line-height: 6.125rem;
    vertical-align: middle;
  }
  &__list {
    display: flex;
    justify-content: center;
  }
  &__item {
    position: relative;
    &:after {
      position: absolute;
      top: .125rem;
      content: '\2022';
    }
    &:last-of-type {
      &:after {
        content: '';
      }
    }
  }
  &__link {
    padding: 0 3.438rem;
    font-size: .781rem;
    color: $white;
    text-decoration: none;
    &:hover {
      @include transition;
      color: $yellow;
    }
  }
}

.footer {
  padding-bottom: 2.938rem;
  font-size: 1.875rem;
  color: $white;
  text-align: center;
  &__copy {
    padding-right: 1.25rem;
    @include georgia-regular;
    font-size: 1rem;
    line-height: 1;
  }
  &__site {
    padding-left: 1.25rem;
    @include roboto-black;
    font-size: .781rem;
    line-height: 1;
    text-transform: uppercase;
  }
  &__link {
    color: $white;
    text-decoration: none;
    &:hover {
      @include transition;
      color: $yellow;
    }
  }
}