html, 
div, 
p, 
a, 
ul, 
li, 
aside, 
footer, 
nav {
	background: transparent;
	border: 0;
	font: inherit;
	font-size: 100%;         
	line-height: 1;	
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}
body {
	background: #f9f9f9;
	border: 0;
	font: inherit;
	font-size: 100%;      
	line-height: 1;	
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}
aside, 
footer, 
nav {
	display: block;
}
ul {
	 list-style: none;
}

