.content {
  @media (min-width: 768px) {
    display: table;
  }

  @include el('line') {
    @media (min-width: 768px) {
      display: table-row;
    }
  }

  @include el('item') {
    width: 100%;
    @media (min-width: 768px) {
      width: 50%;
      display: table-cell;
      vertical-align: middle;
    }

    @include mod('text') {
      padding: 8.33%;
    }

    @include mod('hidden-mobile') {
      @media (max-width: 768px) {
        display: none;
      }
    }
  }
}


