.nav {
  background-color: $white;
  padding-top: 20px;
  padding-bottom: 20px;

  @media (min-width: 768px) {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 24px;
    box-shadow: 1px 4px 4px #e8e7e7;
  }

  @media (min-width: 992px) {
    position: relative;
    z-index: 2;
    margin-top: -18px;
  }
}