.promo {
  display: flex;
  justify-content: flex-end;
  height: 499px;
  padding: 13px 20px;
  background-color: $promo;
  @include retina('../images/promo.jpg', 2, 499px 499px, top left no-repeat);
  @media (min-width: 499px) {
    background-color: $promo;
    @include retina('../images/promo-tablet.jpg', 2, 749px 500px, top left no-repeat);
    background-repeat: repeat-x;
    background-attachment: fixed;
  }
  @media (min-width: 992px) {
    background-color: $promo;
    @include retina('../images/promo-desktop.jpg', 2, 999px 500px, top left no-repeat);
    background-repeat: repeat-x;
    background-attachment: fixed;
  }
  &__link {
    display: flex;
    align-items: center;
    height: 20px;
    @include proxima-semibold;
    font-size: 15px;
    line-height: 20px;
    vertical-align: middle;
    color: $white;
  }
  &__icon {
    width: 20px;
    height: 20px;
    margin-right: 6px;
  }
}