@import "../core/_core.scss";
.content {
  @media (min-width: 48rem) {
    display: table;
  }
  &__line {
    @media (min-width: 48rem) {
      display: table-row;
    }
  }
  &__item {
    width: 100%;
    @media (min-width: 48rem) {
      width: 50%;
      display: table-cell;
      vertical-align: middle;
    }
    &--text {
      padding: 8.33333333%;
      box-sizing: border-box;
    }
    &--hidden-mobile {
      @media (max-width: 48rem) {
        display: none;
      }
    }
  }
}


