@import "../core/_core.scss";

/*** Overall MovingBoxes Slider ***/

* {
  box-sizing: border-box;
}

.mb-wrapper {
  border: 5px solid blue;
  margin: 0 auto 20px;
  position: relative;
  left: 0;
  top: 0;
  border-radius: 10px;
  box-shadow: inset 0 0 10px #888;
}


/* Panel Wrapper */

.mb-slider,
.mb-scroll {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0 auto;
  padding: 0;
  position: relative;
  left: 0;
  top: 0;
  /***(>'-')> Control Panel Font size here <('-'<)***/
  font-size: 18px;
}


/* active slider border highlight */

.mb-active-slider {
  border-color: #333;
}


/*** Slider panel ***/

.mb-slider .mb-panel {
  margin: 0;
  // padding: 20px;
  display: block;
  cursor: pointer;
  float: left;
  list-style: none;
}


/* Cursor to arrow over current panel, pointer for all others,
change .current class name using plugin option, currentPanel : 'current' */

.mb-slider .mb-panel.current {
  cursor: auto;
}


/*** Inside the panel ***/

.mb-inside {
  padding: 10px;
  border: 1px solid red;
}

.mb-inside * {
  max-width: 100%;
}


/*** Left & Right Navigation Arrows ***/

a.mb-scrollButtons {
  z-index: 200;
  display: block;
  width: 136px;
  height: 67px;
  position: absolute;
  top: 50%;
  margin-top: -29px;
  /* if you change the arrow images, you may have to adjust this (1/2 height of arrow image) */
  cursor: pointer;
  text-decoration: none;
  outline: 0;
  border: 0;
}

a.mb-scrollButtons.mb-left {
  @include retina('../images/left-arrow.png', 2, cover, top center no-repeat);
  background-position: left top;
  left: 0px;
}

a.mb-scrollButtons.mb-right {
  @include retina('../images/right-arrow.png', 2, cover, top center no-repeat);
  background-position: right top;
  right: 0px;
}

a.mb-scrollButtons.mb-left:hover {
  background-position: left bottom;
}

a.mb-scrollButtons.mb-right:hover {
  background-position: right bottom;
}

a.mb-scrollButtons.disabled {
  display: none;
}


/*** Controls added below the panels ***/

.mb-controls {
  display: none;
  margin: 0 auto;
  text-align: center;
  background: #ccc;
  position: relative;
  z-index: 100;
}

.mb-controls a {
  color: #666;
  font: 18px/2.2 Georgia, Serif;
  display: inline-block;
  text-decoration: none;
  padding: 2px;
  margin: 0 5px 0 0;
  text-align: center;
  outline: 0;
}

.mb-controls a:hover {
  color: black;
}

.mb-controls a.current {
  color: white;
}

.mb-active-slider .mb-controls {
  background: #333;
}


/* Navigation bar */

.main-nav {
  display: block;
  text-align: center;
  border-bottom: 2px solid #a71700;
  margin: 0 0 20px 0;
  padding: 0 0 10px 0;
}

.main-nav a {
  text-decoration: none;
  color: #3e63ec;
  font-size: 18px;
  margin: 0 8px;
}

.main-nav a:hover {
  color: black;
  border-bottom: 2px solid black;
}


/* height of the placeholder until image completely loads - needed for
   webkit browsers, add this only if you don't want the height animation
   on startup. 326px measures the height of the current image when enlarged 
*/

#slider-two .current img {
  /* height: 326px; */
}


/* Panel links */

.mb-inside a {
  color: #333;
  text-decoration: none;
  border-bottom: 1px dotted #ccc;
}

.mb-inside a:hover {
  border-bottom: 1px solid #999;
}


/* Add/remove panels buttons */

.buttons {
  padding: 5px 10px;
  text-align: center;
}


/* Direct link styling */

.dlinks {
  text-align: center;
  margin: 0 0 20px 0;
}

.dlinks * {
  vertical-align: middle;
}