@import "../core/_core.scss";
.logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1160px;
  margin: 0 auto;
  padding: 90px 30px;
  &__link {
    font-family: Arial, sans-serif;
    font-size: 1rem;
    line-height: 1;
    letter-spacing: normal;
    text-decoration: none;
  }
}