@import "../core/_core.scss";
.news {
  display: flex;
  width: 1240px;
  margin: 0 auto;
  padding-top: 62px;
  padding-bottom: 82px;
  &__title {
    @include ubuntu-medium;
    font-size: 1.5rem;
    line-height: .833;
    color: $services-background;
    text-transform: capitalize;
  }
}

.latest-news,
.banners {
  width: 50%;
}

.latest-news {
  &__content {
    padding-top: 47px;
  }
}

.news-article {
  position: relative;
  display: flex;
  margin-bottom: 30px;
  font-family: Arial, sans-serif;
  font-size: .813rem;
  line-height: 1.538;
  color: $features-text;
  &:last-of-type {
    margin-bottom: 0;
  }
  &__content {
    width: 380px;
    margin-left: 30px;
  }
  &__title {
    display: block;
    margin-bottom: 10px;
    @include ubuntu-medium;
    font-size: 1rem;
    line-height: 1.25;
    color: $services-background;
    text-decoration: none;
    &:hover {
      color: $blue;
    }
  }
  &__subtitle {
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 26px;
  }
  &__link {
    color: $blue;
    text-decoration: none;
  }
}

.data {
  position: absolute;
  top: 12px;
  left: -17px;
  width: 40px;
  line-height: 40px;
  @include ubuntu-medium;
  text-align: center;
  vertical-align: middle;
  &__month {
    height: 40px;
    background-color: $blue;
    font-size: .938em;
    color: $white;
  }
  &__day {
    height: 40px;
    background-color: $yellow;
    font-size: 1.125rem;
    color: $features-title;
  }
}

.banners {
  &__content {
    padding-top: 47px;
  }
}