.contact {
  position: relative;
  padding-top: 137px;
  padding-bottom: 268px;
  @include retina('../images/coffee-background.png', 2, 184px 342px, right bottom no-repeat);

  @include el('title') {
    position: relative;
    z-index: 9;
    padding-bottom: 15px;
    border-bottom: 1px solid $form-line;
  }

  @include el('subtitle') {
    position: relative;
    z-index: 9;
    margin-top: 16px;
    line-height: 2.063;
    word-spacing: -.896px;
  }

  @include el('list') {
    position: relative;
    z-index: 9;
    width: 383px;
    margin-top: 96px;
  }

  @include el('item') {
    &:first-of-type {
      margin-bottom: 49px;
    }
  }

  @include el('submit') {
    position: absolute;
    bottom: 0;
    right: 27px;
    cursor: pointer;

    &:hover {
      @include transition;
      filter: invert(.25);
    }
  }
}