.partners {
  background-color: $partners;
  padding-top: 130px;
  padding-bottom: 120px;
  text-align: center;
  &__header {
    &:after {
      position: relative;
      margin: 4px auto 86px;
      display: block;
      width: 223px;
      height: 1px;
      background-color: $gray-line;
      content: '';
    }
  }
  &__title {
    position: relative;
    margin: 0 auto;
    width: 550px;
    height: 80px;
    &:before {
      position: absolute;
      top: 18px;
      left: 0;
      width: 31px;
      height: 14px;
      content: '';
      @include retina('../images/left-dark-decor.png', 2, 31px 14px, top center no-repeat);
    }
    &:after {
      position: absolute;
      top: 18px;
      right: 0;
      width: 31px;
      height: 14px;
      content: '';
      @include retina('../images/right-dark-decor.png', 2, 31px 14px, top center no-repeat);
    }
  }
}