.programs {
  padding-top: 90px;
  padding-bottom: 140px;
  background: url('../images/cup-background.jpg') right 90% / 742px 727px no-repeat;

  @include el('title') {
    position: relative;
    display: block;
    width: 392px;
    margin: 0 auto 30px;
    color: $black;
    text-align: center;

    &::before {
      position: absolute;
      top: 15px;
      left: 0;
      display: block;
      width:15px;
      height:15px;
      @include retina('../images/dark-star.png', 2,15px15px, center center no-repeat);
      content: '';
    }

    &::after {
      position: absolute;
      top:15px;
      right: 0;
      display: block;
      width:15px;
      height:15px;
      @include retina('../images/dark-star.png', 2,15px15px, center center no-repeat);
      content: '';
    }
  }

  @include el('subtitle') {
    @include georgia-regular;
    font-size: 16px;
    line-height: 2.063;
    color: $blue-gray;
    text-align: center;
    word-spacing: -1.4px;
  }

  @include el('content') {
    padding-top: 58px;
  }

  @include el('column') {
    width: 76%;
    margin: 0 auto 33px;
    padding-top: 10px;
    border-top: 1px solid $light-border;
  }

  @include el('table') {
    margin-top: 18px;
  }
}