@import "../core/_core.scss";

.hovered-icon {
  transition: all .5s ease;

  @include el('def') {
    display: inline-block;
    width: inherit;
    height: inherit;
  }

  @include el('hov') {
    display: none;
  }
}

.hovered-icon:hover .hovered-icon__def {
  display: none;
}

.hovered-icon:hover .hovered-icon__hov {
  display: inline-block;
  width: inherit;
  height: inherit;
}