@import "../core/_core.scss";
.wrapper {
  @include el('services') {
    background-color: $services-background;
  }

  @include el('news') {
    background-color: $news-background;
  }

  @include el('links') {
    background-color: $services-background;
  }

  @include el('contacts') {
    background-color: $footer-background;
  }
}