.meet {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include el('list') {
    @media (min-width: 640px) {
      display: flex;
      flex-flow: row wrap;
      width: 66%;
    }

    @media (min-width: 1024px) {
      flex-wrap: nowrap;
      width: 100%;
    }
  }

  @include el('item') {
    @media (min-width: 640px) {
      flex: 0 1 50%;

      &:nth-of-type(1) {
        order: -2;
        margin-bottom: 27px;
      }

      &:nth-of-type(3) {
        order: -1;
        margin-bottom: 27px;
      }
    }
  }

  @include el('link') {
    display: block;
    width: 280px;
    height: 40px;
    border: 2px solid $red;
    border-radius: 20px;
    @include montserrat-bold;
    font-size: 14px;
    line-height: 36px;
    word-spacing: 1.5px;
    color: $red;
    text-align: center;
    vertical-align: middle;

    &:hover {
      @include transition;
      background-color: $red;
      color: $white;
    }

    @media (min-width: 640px) {
      width: 192px;
      margin-top: 7px;
    }
  }
}

.user {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 29px;

  @media (min-width: 640px) {
    margin-bottom: 0;
    padding: 0 10px;
  }

  @media (min-width: 1024px) {
    margin-bottom: 32px;
  }

  @include el('avatar') {
    position: relative;
    width: 122px;
    height: 122px;
  }

  @include el('link') {
    &:hover {
      @include transition;
      filter: sepia(.5);
    }
  }

  @include el('photo') {
    border-radius: 50%;
  }

  @include el('icon') {
    position: absolute;
    bottom: -3px;
    right: -2px;
  }

  @include el('title') {
    margin-top: 19px;
    margin-bottom: 16px;
    font-size: 14px;
    word-spacing: 1.5px;
    color: $dark-gray;
  }

  @include el('text') {
    width: 68%;
    font-size: 14px;
    line-height: 1.2;
    color: $light-gray;

    @media (min-width: 640px) {
      width: 94%;
    }
  }
}